<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <title>Debug</title>
    </head>
    <body>
        {% block main %}
            <code>
                {{ data|json_encode()|raw }}
            </code>
        {% endblock %}
    </body>
</html>