{% extends sonata_block.templates.block_base %}

{% block block %}    
    <div class="dashboard_project_list">
        <h2>{{ 'block.notification.title' | trans({}, "SimbioticaAdmin") }}:</h2>
        {% if contacts|length > 0 %} 
            <ul>
                {% for contact in contacts %}
                    <li>
                        <h3>
                            <a href="{{ path('admin_simbiotica_calp_contact_edit', {'id': contact.id}) }}">
                                {{ contact.contactType | trans({}, "SimbioticaAdmin") }}
                            </a>
                        </h3>
                        <p>
                            {{ contact.content }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'block.projects.no_contacts' | trans({}, "SimbioticaAdmin") }}</p>
        {% endif %}
    </div>
{% endblock block %}