{% extends sonata_block.templates.block_base %}

{% block block %}    
    <div class="dashboard_project_list">
        <h2>{{ 'block.revision.title' | trans({}, "SimbioticaAdmin") }}:</h2>
        {% if projects|length > 0 %} 
            <ul>
                {% for project in projects %}
                    <li>
                        <h3>
                            <a href="{{ path('admin_simbiotica_calp_project_edit', {'id': project.id}) }}">
                                {% for po in project.organizations %}
                                    {% if po.organization %}
                                        {{ po.organization.name }}
                                    {% else %}
                                        {{ project.__toString() }}
                                    {% endif %}
                                {% endfor %}
                            </a>

                            {% if project.published == 3 %}
                                <i class="icon-ok-sign"></i>
                            {% else %}
                                <i class="icon-minus-sign"></i>
                            {% endif %}
                        </h3>
                        <p>{{ project.specificObjective }}</p>
                        <p>
                            <strong>{{ 'block.revision.sectors' | trans({}, "SimbioticaAdmin") }}:</strong>
                            {% for sector in project.sectors %}
                                {{ sector.name}}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p>
                            <strong>{{ 'block.revision.revision_notes' | trans({}, "SimbioticaAdmin") }}:</strong>
                            {{ project.revisionNotes}}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'block.revision.no_projects' | trans({}, "SimbioticaAdmin") }}</p>
        {% endif %}
    </div>
{% endblock block %}