{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if not sonata_admin.field_description.hasassociationadmin %}
    {% for element in value %}
        {{ element|render_relation_element(sonata_admin.field_description) }}
    {% endfor %}
{% else %}
    <div id="field_container_{{ id }}" class="field-container">
        <span id="field_widget_{{ id }}" >
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.inline == 'table' %}
                    {% if form.children|length > 0 %}

                        {# START CUSTOM #}
                        {% if form.children[attribute(form.children|keys,0)].children.modality is defined %} 
                            {% for nested_group_field_name, nested_group_field in form.children %}
                            <table class="table table-bordered">
                                <tbody class="sonata-ba-tbody">
                                <tr>
                                    {% for field_name, nested_field in form.children[attribute(form.children|keys,0)].children %}
                                        {% if field_name == '_delete' %}
                                            <th>{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
                                        {% else %}
                                            {% if field_name == 'modality' or field_name == 'deliveryMechanism' or field_name == 'deliveryAgent' or field_name == 'position' or field_name == 'scale' or field_name == 'transfers' %}
                                                {% set nested_label_class = nested_field.vars.label_attr.class|default('') %}

                                                {% if required %}
                                                    {% set nested_label_class = (nested_label_class ~ ' required')|trim %}
                                                {% endif %}
                                                <th {{ nested_label_class ? 'class=' ~ nested_label_class : '' }}>
                                                    {{ nested_field.vars['sonata_admin'].admin.trans(nested_field.vars.label) }}
                                                </th>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for field_name, nested_field in nested_group_field.children %}
                                        {% if field_name == '_delete' or field_name == 'modality' or field_name == 'deliveryMechanism' or field_name == 'deliveryAgent' or field_name == 'position' or field_name == 'scale' or field_name == 'transfers' %}
                                        <td class="sonata-ba-td-{{ id }}-{{ field_name  }} control-group{% if nested_field.vars.errors|length > 0 %} error{% endif %}">
                                            
                                            {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                                {{ form_widget(nested_field) }}

                                                {% set dummy = nested_group_field.setrendered %}
                                            {% else %}
                                                {{ form_widget(nested_field) }}
                                            {% endif %}
                                            {% if nested_field.vars.errors|length > 0 %}
                                                <div class="help-inline sonata-ba-field-error-messages">
                                                    {{ form_errors(nested_field) }}
                                                </div>
                                            {% endif %}
                                        </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for field_name, nested_field in form.children[attribute(form.children|keys,0)].children %}
                                        {% if field_name == 'modalitySpecify' or field_name == 'deliveryMechanismSpecify' or field_name == 'deliveryAgentSpecify' or field_name == 'amount' %}
                                            {% set nested_label_class = nested_field.vars.label_attr.class|default('') %}
                                            {% if required %}
                                                {% set nested_label_class = (nested_label_class ~ ' required')|trim %}
                                            {% endif %}
                                            <th {{ nested_label_class ? 'class=' ~ nested_label_class : '' }}>
                                                {{ nested_field.vars['sonata_admin'].admin.trans(nested_field.vars.label) }}
                                            </th>
                                        {% elseif field_name == '_delete' or field_name == 'position' %}
                                            <th></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for field_name, nested_field in nested_group_field.children %}
                                        {% if field_name == 'modalitySpecify' or field_name == 'deliveryMechanismSpecify' or field_name == 'deliveryAgentSpecify' or field_name == 'amount' %}
                                        
                                            {% if field_name == 'deliveryMechanismSpecify'  %}

                                                <td class="sonata-ba-td-{{ id }}-{{ field_name  }} control-group{% if nested_field.vars.errors|length > 0 %} error{% endif %}"><div class="hidden">
                                            {% else %}
                                              <td class="sonata-ba-td-{{ id }}-{{ field_name  }} control-group{% if nested_field.vars.errors|length > 0 %} error{% endif %}">  
                                            {% endif %}
                                            {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                                {{ form_widget(nested_field) }}

                                                {% set dummy = nested_group_field.setrendered %}
                                            {% else %}
                                                {{ form_widget(nested_field) }}
                                            {% endif %}
                                            {% if nested_field.vars.errors|length > 0 %}
                                                <div class="help-inline sonata-ba-field-error-messages">
                                                    {{ form_errors(nested_field) }}
                                                </div>
                                            {% endif %}
                                                      {% if field_name == 'deliveryMechanismSpecify'  %}</div>{% endif %}
                                        </td>
                                        
                                        
                                            

                                            
                                        
                                        
                                        {% elseif field_name == '_delete' or field_name == 'position' %}
                                        <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                        {% else %}
                        {# END CUSTOM #}

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    {% for field_name, nested_field in form.children[attribute(form.children|keys,0)].children %}
                                        {% if field_name == '_delete' %}
                                            <th>{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
                                        {% else %}
                                            {% set nested_label_class = nested_field.vars.label_attr.class|default('') %}
                                            {% if required %}
                                                {% set nested_label_class = (nested_label_class ~ ' required')|trim %}
                                            {% endif %}
                                            <th {{ nested_label_class ? 'class=' ~ nested_label_class : '' }}>
                                                {{ nested_field.vars['sonata_admin'].admin.trans(nested_field.vars.label) }}
                                            </th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="sonata-ba-tbody">
                                {% for nested_group_field_name, nested_group_field in form.children %}
                                    <tr>
                                        {% for field_name, nested_field in nested_group_field.children %}
                                            <td class="sonata-ba-td-{{ id }}-{{ field_name  }} control-group{% if nested_field.vars.errors|length > 0 %} error{% endif %}">
                                                {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                                    {{ form_widget(nested_field) }}

                                                    {% set dummy = nested_group_field.setrendered %}
                                                {% else %}
                                                    {{ form_widget(nested_field) }}
                                                {% endif %}
                                                {% if nested_field.vars.errors|length > 0 %}
                                                    <div class="help-inline sonata-ba-field-error-messages">
                                                        {{ form_errors(nested_field) }}
                                                    </div>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    {% endif %} 
                {% elseif form.children|length > 0 %}
                    <div>
                        {% for nested_group_field_name, nested_group_field in form.children %}
                            {% for field_name, nested_field in nested_group_field.children %}
                                {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                    {{ form_widget(nested_field, {
                                        'inline': 'natural',
                                        'edit'  : 'inline'
                                    }) }}
                                    {% set dummy = nested_group_field.setrendered %}
                                {% else %}
                                    {{ form_widget(nested_field) }}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}

        </span>

        {% if sonata_admin.edit == 'inline' %}

            {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add and ( sonata_admin.field_description.options.limit is not defined or form.children|length < sonata_admin.field_description.options.limit ) %}
                <span id="field_actions_{{ id }}" >
                    <a
                        href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                        onclick="return start_field_retrieve_{{ id }}(this);"
                        class="btn sonata-ba-action"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                        >
                        <i class="icon-plus"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                </span>
            {% endif %}

            {# add code for the sortable options #}
            {% if sonata_admin.field_description.options.sortable is defined %}
                <script type="text/javascript">
                    jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody').sortable({
                        axis: 'y',
                        opacity: 0.6,
                        items: 'tr',
                        stop: apply_position_value_{{ id }}
                    });

                    function apply_position_value_{{ id }}() {
                        // update the input value position
                        jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody td.sonata-ba-td-{{ id }}-{{ sonata_admin.field_description.options.sortable }}').each(function(index, element) {
                            // remove the sortable handler and put it back
                            jQuery('span.sonata-ba-sortable-handler', element).remove();
                            jQuery(element).append('<span class="sonata-ba-sortable-handler ui-icon ui-icon-grip-solid-horizontal"></span>');
                            jQuery('input', element).hide();
                        });

                        jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody td.sonata-ba-td-{{ id }}-{{ sonata_admin.field_description.options.sortable }} input').each(function(index, value) {
                            jQuery(value).val(index + 1);
                        });
                    }

                    // refresh the sortable option when a new element is added
                    jQuery('#sonata-ba-field-container-{{ id }}').bind('sonata.add_element', function() {
                        apply_position_value_{{ id }}();
                        jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody').sortable('refresh');
                    });

                    apply_position_value_{{ id }}();

                </script>
            {% endif %}

            {# include association code #}
            {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_one_association_script.html.twig' %}

        {% else %}
            <span id="field_actions_{{ id }}" >
                {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add and ( sonata_admin.field_description.options.limit is not defined or form.children|length < sonata_admin.field_description.options.limit ) %}
                    <a
                        href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                        onclick="return start_field_dialog_form_add_{{ id }}(this);"
                        class="btn sonata-ba-action"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                        >
                        <i class="icon-plus"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>

            <div style="display: none" id="field_dialog_{{ id }}">

            </div>

            {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}
        {% endif %}
    </div>
{% endif %}
