<article class="content">
<section>
<div class="row">
<header>
<div class="col_1">
<h1>&iquest;Qu&eacute; es el CaLP?</h1>
</div>
</header>

<div class="col_2">
<p class="big">El consorcio de Aprendizaje de Programas de Efectivo pretende mejorar la calidad de las transferencias de efectivo y de los programas de cupones en situaciones de emergencia en todo el sector humanitario.</p>

<p>Los comit&eacute;s directivos de cinco organizaciones (Oxfam GB, la Cruz Roja Brit&aacute;nica, Save the Children, el Consejo Noruego para los Refugiados y Acci&oacute;n Contra el Hambre / ACF Internacional) se han unido para apoyar el fortalecimiento de las capacidades, la investigaci&oacute;n y el intercambio de informaci&oacute;n en materia de programas de transferencia de efectivo como herramienta eficaz para contribuir a la prestaci&oacute;n de ayuda en tiempos de crisis.</p>

<p>&nbsp;</p>
</div>

<div class="col_2">
<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/photo.png" /></figure>
</div>
</div>

<div class="row gray">
<div class="col_2">
<h2>Visi&oacute;n</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/vision-statement.png" /></figure>

<blockquote>&lsquo;La preparaci&oacute;n y la respuesta humanitarias resultan m&aacute;s efectivas para responder a las diversas necesidades de las personas afectadas y para fomentar la recuperaci&oacute;n&rsquo;.</blockquote>

<p>El CaLP fomenta la utilizaci&oacute;n de los programas de cupones y efectivo &nbsp;adecuados, oportunos y de calidad en la respuesta humanitaria como herramienta que apoye esta visi&oacute;n.</p>
</div>

<div class="col_2">
<h2>Misi&oacute;n del CaLP</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/rationale-and-context.png" /></figure>

<p>El CaLP funciona como una red para fortalecer las capacidades y promover el uso de cupones y efectivo en emergencias, el intercambio de aprendizaje as&iacute; como coordinar y estandarizar estrategias y enfoques.</p>
</div>
</div>
</section>

<section>
<div class="row red">
<div class="col_1">
<h1>Pilares de las actividades CaLP</h1>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/graph.png" /></figure>
</div>

<div class="clearfix">
<div class="col_2">
<h2><a href="http://www.cashlearning.org/what-we-do/training">Fortalecimiento de capacidades</a></h2>

<p>El CaLP apoya a los principales actores humanitarios en la adquisici&oacute;n o mejora de su conocimiento y experiencia para dise&ntilde;ar e implementar programas de cupones y efectivo de calidad.</p>
</div>

<div class="col_2">
<h2><a href="http://www.cashlearning.org/what-we-do/research-focus">Investigaci&oacute;n y recogida de pruebas</a></h2>

<p>El CaLP ayuda a las principales partes interesadas del sector humanitario a acceder a herramientas, buenas pr&aacute;cticas, investigaci&oacute;n y orientaci&oacute;n sobre programas para mejorar la calidad de los programas de transferencia de efectivo.</p>
</div>
</div>

<div class="clearfix">
<div class="col_2">
<h2>Promoci&oacute;n e intercambio de informaci&oacute;n</h2>

<p>El CaLP anima a las principales partes interesadas del sector humanitario &nbsp;a comprender mejor la conveniencia de los programas de transferencia humanitaria mediante una labor de promoci&oacute;n e intercambio de informaci&oacute;n.</p>
</div>

<div class="col_2">
<h2>Incidencia, coordinaci&oacute;n y contingencia</h2>

<p>El CaLP presiona a las principales partes interesadas del sector humanitario a que muestren sus avances a la hora de abordar las limitaciones en la coordinaci&oacute;n y la preparaci&oacute;n de los programas de transferencia de efectivo mediante labores de intercambio e incidencia.</p>
</div>
</div>
</div>
</section>

<footer>
<div class="row">
<div class="col_1">
<p>Para m&aacute;s informaci&oacute;n sobre la estrategia del CaLP, le rogamos visite la&nbsp;&nbsp;<a href="http://www.cashlearning.org/what-we-do/calp-s-strategy-2012-2015">p&aacute;gina web</a>&nbsp;del CaLP.</p>
<!-- Logotipos -->

<ul class="donors_list clearfix">
    <li class="usaid"><a href="http://www.usaid.gov/" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/usaid.png" /></a></li>
    <li class="canadian-agency"><a href="http://www.acdi-cida.gc.ca/home" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/canadian-agency.png" /></a></li>
    <li class="visa"><a href="http://www.visaeurope.com/en/visa-europe.aspx" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/visa.png" /></a></li>
    <li class="eu"><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/eu-humanitarian-aid.png" /></a></li>
    <li class="ukaid"><a href="https://www.gov.uk/government/organisations/department-for-international-development" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/uk-aid.png" /></a></li>
</ul>
</div>
</div>
</footer>
</article>