<article class="content">
<div class="row">
<header>
<div class="col_1">
<h1>Acerca del Cash Atlas</h1>
</div>

<div class="col_2">
<p class="big">En la actualidad, cada vez se utilizan m&aacute;s los programas de transferencia de efectivo (PTE) en casos de emergencia en todo el mundo.&nbsp;</p>

<p class="medium">&nbsp;</p>

<blockquote>Seg&uacute;n el informe de Global Humanitarian Assistance, &ldquo;entre 2008 y 2011 los gastos humanitarios en programas de efectivo y cupones oscilaron entre 45 millones y 188 millones de d&oacute;lares. [...] El n&uacute;mero de donantes que financian programas de transferencia de efectivo pas&oacute; de seis en 2006 a 21 en 2011, alcanzando su m&aacute;ximo en 2010, con 41 donantes, en respuesta a las situaciones de emergencia en Hait&iacute; y Pakist&aacute;n&rdquo;.</blockquote>

<figure class="content_image"><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/about.png" /></figure>
</div>
</header>

<div class="col_2">
<p>Adem&aacute;s, las modalidades y mecanismos de distribuci&oacute;n difieren en gran medida en funci&oacute;n del tipo de programa o contexto. Los programas de transferencia de efectivo se han utilizado de forma habitual en el sector de la seguridad alimentaria y los medios de vida; sin embargo, las evaluaciones de programa y los estudios de caso revelan que estos programas se utilizan cada vez m&aacute;s para responder a otras necesidades, como el refugio. Las organizaciones humanitarias est&aacute;n empezando a estudiar los programas de transferencia de efectivo en otros sectores, como WASH, o en intervenciones multisectoriales.</p>

<p>A pesar de los indicios que apuntan a un uso y diversificaci&oacute;n cada vez mayores, &nbsp;actualmente no existe una visi&oacute;n global del uso de programas de transferencia de efectivo en emergencias. Dicha visi&oacute;n permitir&iacute;a a los actores humanitarios comprender c&oacute;mo, cu&aacute;ndo, d&oacute;nde, a qu&eacute; escalas y con qu&eacute; fin se utilizan los programas de efectivo.</p>

<p>El CaLP ha desarrollado el Cash Atlas con este fin. Este mapa interactivo permite que los distintos actores que participan en el dise&ntilde;o e implementaci&oacute;n de programas de transferencia de efectivo comprendan mejor los diferentes usos de estos programas a nivel global.</p>
</div>
</div>
</article>

<section class="content">
<div class="row red">
<div class="col_1">
<header>    
<h1>&iquest;C&oacute;mo utilizar el Cash Atlas?</h1>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/screenshot.png" /></figure>
</header>
</div>
</div>

<div class="row gray">
<div class="clearfix">
<article class="col_2">
<h2>Filtrar informaci&oacute;n para un uso m&aacute;s f&aacute;cil</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/clearer-info.png" /></figure>

<p>Los mapas pueden resultar confusos si la gran cantidad de informaci&oacute;n abruma a los usuarios. Al filtrar la b&uacute;squeda, podr&aacute; encontrar la informaci&oacute;n que est&aacute; buscando de un solo vistazo.</p>
</article>

<article class="col_2">
<h2>Introducir nueva informaci&oacute;n / Actualizar la informaci&oacute;n visualizada</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/display-info.png" /></figure>

<p>Los miembros pueden a&ntilde;adir proyectos, subir documentos o modificar datos en todo momento. Los s&uacute;per administradores permitir&aacute;n que otros miembros contribuyan a hacer que la informaci&oacute;n sea m&aacute;s completa.</p>
</article>
</div>

<div class="clearfix">
<article class="col_2">
<h2>Obtener informaci&oacute;n en cualquier momento</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/any-moment.png" /></figure>

<p>Cada usuario tiene necesidades diferentes. El Cash Atlas tiene en cuenta esta cuesti&oacute;n, &nbsp;por lo que usted podr&aacute; obtener informaci&oacute;n a cualquier nivel: mundial, nacional o provincial, con o sin filtros activados.</p>
</article>

<article class="col_2">
<h2>Descubrir m&aacute;s sobre un proyecto</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/search-info.png" /></figure>

<p>Con el fin de asegurar que el mapa contenga informaci&oacute;n suficiente y actualizada, la informaci&oacute;n recogida debe ser relativamente sustancial. No obstante, usted podr&aacute; descubrir m&aacute;s informaci&oacute;n visualizando cualquier documento adjunto al proyecto pertinente y/o enviando un correo electr&oacute;nico a la persona de contacto del proyecto.</p>
</article>
</div>

<div class="clearfix">
<footer>

</footer>
</div>
</div>
</section>
