<article class="content">
<div class="row">
<div class="col_1">
<header>
<h1>Póngase en contacto con nosotros</h1>

<p>Si tiene alguna pregunta o desea obtener más información, puede ponerse en contacto con nosotros a través de la siguiente dirección de correo electrónico <a href="mailto:cash-atlas@cashlearning.org" target="_blank">cash-atlas@cashlearning.org</a>.</p>
</header>
</div>
</div>

<div class="row gray">
<div class="col_1">
<h2>Póngase en contacto con CaLP</h2>

<p>Si desea ponerse en contacto con alguno de los miembros del CaLP, puede hacerlo a través de las siguientes direcciones de correo electrónico:</p>

<div class="contact_data">
<h3>Secretaría de CaLP (Reino Unido)</h3>

<table>
    <tbody>
        <tr>
            <td>Helene Juillard, <span class="position">coordinadora interina del CaLP</span>:</td>
            <td><a href="mailto:coordinator@cashlearning.org" target="_blank">coordinator@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Lili Mohiddin, <span class="position">coordinadora técnica del CaLP</span>:</td>
            <td><a href="mailto:techco@cashlearning.org" target="_blank">techco@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Haley Bowcock, <span class="position">oficial de incidencia</span>:</td>
            <td><a href="mailto:advocacy@cashlearning.org" target="_blank">advocacy@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Yoann Tuzzolino, <span class="position">oficial de comunicaciones</span>:</td>
            <td><a href="mailto:communications@cashlearning.org" target="_blank">communications@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Vanee parthipan, <span class="position">oficial de finanzas</span>:</td>
            <td><a href="mailto:finance@cashlearning.org" target="_blank">finance@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Claire Rodgerson, <span class="position">oficial de administración</span>:</td>
            <td><a href="mailto:administrator@cashlearning.org" target="_blank">administrator@cashlearning.org</a></td>
        </tr>
    </tbody>
</table>

<h3>África Oriental</h3>

<table>
    <tbody>
        <tr>
            <td>Glenn Hughson, <span class="position"> punto focal regional</span>:</td>
            <td><a href="mailto:eastafrica@cashlearning.org" target="_blank">eastafrica@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Michael Ochieng, <span class="position">oficial de fortalecimiento de capacidades</span>:</td>
            <td><a href="mailto:training.mochieng@cashlearning.org" target="_blank">training.mochieng@cashlearning.org</a></td>
        </tr>
    </tbody>
</table>

<h3>África Occidental</h3>

<table>
    <tbody>
        <tr>
            <td>Christophe Breyne, <span class="position">punto focal regional</span>:</td>
            <td><a href="mailto:westafrica@cashlearning.org" target="_blank">westafrica@cashlearning.org</a></td>
        </tr>
    </tbody>
</table>

<h3>Asia</h3>

<table>
    <tbody>
        <tr>
            <td>Carla Lacerda, punto focal regional:</td>
            <td><a href="mailto:asia@cashlearning.org" target="_blank">asia@cashlearning.org</a></td>
        </tr>
    </tbody>
</table>

<h3>Estados Unidos</h3>

<table>
    <tbody>
        <tr>
            <td>Lily Frey, <span class="position">oficial de incidencia en EE.UU.</span>:</td>
            <td><a href="mailto:advocacy.usa@cashlearning.org" target="_blank">advocacy.usa@cashlearning.org</a></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>

<footer>
<div class="row">
<div class="col_2">
<h3>Encuéntrenos en Facebook y Twitter</h3>

<ul class="social_nav">
    <li><a class="facebook" href="">Facebook</a></li>
    <li><a class="twitter" href="">Twitter</a></li>
</ul>
</div>

<div class="col_2">
<h3>Boletín de noticias del CaLP</h3>

<p>Si desea suscribirse al boletín de noticias del CaLP, le rogamos se registre <a href="" target="_blank">aquí</a>.</p>
</div>

<div class="col_1">
<h3>Grupo de debate del CaLP</h3>

<p>El CaLP dispone de un foro online muy activo dedicado al debate global de las respuestas basadas en efectivo y el trabajo relacionado en situaciones de emergencia. Si desea participar en estos debates, puede subscribirse <a href="" target="_blank">aquí</a>.</p>
<!-- Logos --></div>
</div>
</footer>
</article>
