<article class="content">
<div class="row">
<div class="col_1">
<h1>Acerca de los datos</h1>
</div>

<div class="col_2">
<header>
<p class="big">La precisión y alcance del Cash Atlas depende de los datos proporcionados por sus miembros. El Cash Atlas muestra la información que las organizaciones comparten con nosotros de manera voluntaria.</p>
</header>

<p>La recopilaci&oacute;n de datos oportunos y completos constituye un desaf&iacute;o, por lo que estamos intentando llevar a cabo el proceso de la manera m&aacute;s sencilla posible para las organizaciones colaboradoras. No obstante, como la informaci&oacute;n es facilitada voluntariamente, no podemos garantizar que los datos que aparecen en el Cash Atlas sean exhaustivos o est&eacute;n completamente actualizados, o que cubran la totalidad de programas de transferencia de efectivo en emergencias en todo el mundo. Esperamos que, con su ayuda, el atlas acabe por mostrar el uso de los programas de transferencia de efectivo en emergencias a nivel global de la manera m&aacute;s completa posible.</p>

<figure class="content_image"><img src="/bundles/simbioticacalp/dist/images/contents/data/data.png" /></figure>
</div>

<div class="col_2">
<p>Los puntos donde se produce duplicaci&oacute;n de datos son dif&iacute;ciles de identificar, ya que son varios los actores que intervienen en un solo proyecto. Para intentar corregirlo, el Cash Atlas dispone de un m&oacute;dulo de rastreo &nbsp;que busca posibles datos duplicados, si bien su fiabilidad no es del 100%.</p>

<div>
<div>
<div id="_com_1" uage="JavaScript">&nbsp;</div>
</div>
</div>

<figure class="content_image"><img src="/bundles/simbioticacalp/dist/images/contents/data/photo.png" /></figure>
</div>
</div>
</article>
