<section class="content">
<div class="row">
<div class="clearfix">
<div class="col_1">
<header>
<h1>Nuestros donantes</h1>

<p>El Cash Atlas cuenta con el apoyo de la Cruz Roja Americana, ECHO y USAID/OFDA.</p>
</header>
</div>
</div>

<article class="clearfix">
<div class="col_3">
<figure><a href="http://www.redcross.org" target="_blank"><img src="/bundles/simbioticacalp/dist/images/contents/donors/american-red-cross.png" /></a></figure>
</div>

<div class="col_2_3">
<header>
<h3><a href="http://www.redcross.org" target="_blank">Cruz Roja Americana</a></h3>

<p>Cada a&ntilde;o, la Cruz Roja Americana responde de manera inmediata a alrededor de 70.000 desastres naturales y antropog&eacute;nicos en Estados Unidos, que van desde incendios a huracanes, inundaciones, terremotos, tornados, derrames de materiales peligrosos, accidentes de transporte y explosiones.</p>
</header>

<p>La Cruz Roja Americana ayuda a las personas en los momentos m&aacute;s dif&iacute;ciles. A su vez, el apoyo de los donantes hace posible que la Cruz Roja cumpla su misi&oacute;n humanitaria. Agradecemos profundamente la generosidad de los particulares, empresas y fundaciones que invierten en la Cruz Roja.</p>
</div>
</article>
    
<article class="clearfix">
<div class="col_3">
<figure><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank"><img src="/bundles/simbioticacalp/dist/images/contents/donors/eu-humanitarian-aid.png" /></a></figure>
</div>
      
<div class="col_2_3">
<header>
<h3><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank">ECHO</a></h3>
    
<p>La Uni&oacute;n Europea en su conjunto es el principal donante de ayuda humanitaria en todo el mundo. Al mismo tiempo, los Estados miembros y las instituciones europeas invierten en m&aacute;s de la mitad de la ayuda humanitaria que se presta a nivel mundial.</p>
</header>
    
<p>La Oficina de Ayuda Humanitaria de la Comunidad Europea (ECHO) se cre&oacute; en 1992 como expresi&oacute;n de la solidaridad europea con las personas en situaci&oacute;n de necesidad de todo el mundo. Durante sus 20 a&ntilde;os de existencia, ha proporcionado 14.000 millones de euros en ayuda humanitaria a las v&iacute;ctimas de conflictos y desastres en 140 pa&iacute;ses de todo el mundo. Durante los &uacute;ltimos cinco a&ntilde;os, el presupuesto medio anual de ECHO ha sido de mil millones. Solo en 2011 estos fondos llegaron a casi 150 millones de las personas en mayor situaci&oacute;n de vulnerabilidad de m&aacute;s de 80 pa&iacute;ses.</p>
</div>
</article>

<article class="clearfix">
<div class="col_3">
<figure><a href="http://www.usaid.gov/" target="_blank"><img src="/bundles/simbioticacalp/dist/images/contents/donors/usaid.png" /></a></figure>            
</div>

<div class="col_2_3">
<header>

<h3><a href="http://www.usaid.gov/" target="_blank">USAID / OFDA</a></h3>
<p>USAID lleva a cabo la pol&iacute;tica exterior de Estados Unidos fomentando el progreso humano a gran escala al mismo tiempo que favorece el desarrollo de sociedades libres y estables, crea mercados, busca socios comerciales para Estados Unidos y promueve la buena voluntad en el extranjero.</p>
</header>
<p>En 2012, Oficina de Asistencia para Desastres en el Extranjero de la Agencia de los Estados Unidos de USAID respondi&oacute; a 63 crisis en 54 pa&iacute;ses, proporcionando ayuda de emergencia a decenas de millones de personas, incluyendo a las que se encuentran en las siguientes situaciones:</p>
<ul>
    <li>Conflicto en Siria &middot;Grave sequ&iacute;a en el Cuerno de &Aacute;frica</li>
    <li>Inundaciones en Pakist&aacute;n, India, Filipinas y El Salvador</li>
    <li>Inseguridad alimentaria en el Sahel africano; terremoto en Turqu&iacute;a</li>
    <li>Emergencias complejas en Yemen, la Rep&uacute;blica Democr&aacute;tica del Congo, Myanmar, Mali y Sud&aacute;n del Sur</li>
</ul>
</div>
</article>
</div>
</section>