{% extends 'SimbioticaCalpBundle:Templates:report.html.twig' %}

{% block title %}{{ 'report.title' | trans({}, "SimbioticaFront") }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/normalize-css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/.tmp/styles/report/main.css') }}">
{% endblock %}

{% block header %}
    <header class="main_header">
        <div class="row">
            <div class="col span12">
                <div class="logo">
                    <img src="{{ asset(asset_url ~ 'images/assets/logo-cash-atlas-black.png') }}" alt="Cash Atlas" height="47" width="196">
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
    <div class="main_content" role="main">
        <section class="wrap_content clearfix">
            <div class="content">
                <div class="row">
                    <div class="col_1">
                        <div class="intro">
                            <h1>{{ 'report.title' | trans({}, "SimbioticaFront") }}</h1>
                            <div class="messages warning">
                                
                                {{ 'report.warning' | trans({}, "SimbioticaFront") | raw }}
                            </div>
                            {{ 'report.intro' | trans({}, "SimbioticaFront") | raw }}
                        </div>
                        {% for type, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                <div class="{{ type }}">
                                    {{ message|trans({}, 'SimbioticaFront') }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% include 'SimbioticaCalpBundle:Form:report_form.html.twig' %}
                        <div id="spinner"></div>
                    </div>
                </div>
            </div>
            <div class="content hidden" id="graphics"></div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {# Symfony dynamic javascript #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'SimbioticaFront', '_locale' : app.request.locale }) }}"></script>
    
    <script src="{{ asset('bundles/simbioticacalp/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('bundles/simbioticacalp/vendor/underscore/underscore.js') }}"></script>
    <script src="{{ asset('bundles/simbioticacalp/vendor/backbone/backbone.js') }}"></script>
    <script src="{{ asset('bundles/simbioticacalp/vendor/handlebars/handlebars.js') }}"></script>
    <script src="{{ asset('bundles/simbioticacalp/vendor/d3/d3.js') }}"></script>
    <script src="{{ asset('bundles/simbioticacalp/vendor/spin.js/spin.js') }}"></script>
    <script src="{{ asset('bundles/simbioticacalp/vendor/jquery-form/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/simbioticacalp/vendor/select2/select2.js') }}"></script>

    <script src="{{ asset('bundles/simbioticacalp/app/lib/helpers.js') }}"></script>

    <script src="{{ asset('bundles/simbioticacalp/vendor/requirejs/require.js') }}" data-main="{{ asset('bundles/simbioticacalp/app/scripts/report/main.js') }}"></script>
{% endblock %}