<html>
    <head>
        <title>Cash Atlas - Project Importation Report</title>
    </head>
    <body>
        <p>Hello,</p>
        <p>An exception ocurred while importing media with id(s) {{ media }} and file(s) {{ files }}.</p>
        <p>Stack trace below:</p>
        <table width="100%" border="0" cellpadding="5" cellspacing="0">
            <tr>
                <td>{{ message }}</td>
            </tr>
            {% for index, line in trace %}
            <tr>
                <td>{{ index }}: 
                {% for title, elem in line %}
                    {% if title != 'args' %}
                        {{ title }} - {{ elem|raw }}
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if notify is defined and notify != false %}
            <p>User with email  {{ notify }} has been notified of this failure and is expecting feedback</p>
        {% endif %}
        <p></p>
        <p>Best regards,</p>
        <p>The Cash Atlas team.</p>
    </body>
</html>
