<html>
    <head>
        <title>Cash Atlas - Project Importation Report</title>
    </head>
    <body>
        <p>Hello,</p>
        <p>You've recently requested the importation of several projects from a datasheet file in the Cash Atlas platform.</p>
        <p>The importation process has been completed. Below you'll find a description of what happened during the importation
            process, including the existing errors in the file(s) you submitted, if any existed.</p>
        <table width="100%" border="0" cellpadding="5" cellspacing="0">
            <tr>
                <td>{{ data|raw }}</td>
            </tr>
        </table>
        <p>Best regards,</p>
        <p>The Cash Atlas team.</p>
    </body>
</html>
