<html>
    <head>
        <title>Cash Atlas - Incomplete Project(s) Notification</title>
        <style type="text/css">
        </style>
    </head>
    <body>
        <table width="600" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><img src="https://www.cash-atlas.org/bundles/simbioticacalp/dist/images/assets/calp-admin-logo.png" alt="Cash Altas" width="196" height="47" /></td>
                <td valign="top" style="padding-left: 20px">
                    <p>Hello, {{ user.firstname}} {{ user.lastname }}</p>
                    <p>We identified some projects of your organisations that are still incomplete in the <a href="{{ url('simbiotica_calp_homepage', {'_locale': locale}) }}">Cash Altas</a> and require additional information. This information had been gathered during the piloting stage of the Cash Atlas and we are now trying to collect the missing data from each organisation.</p>
                    <p>When possible, it would be great if you could either input the missing information, or pass this request to the right person(s) who could provide such data.
                    <ul>
                        {% for project in projects %}
                            <li>
                            <p><strong>Organisation:</strong>
                                <a href="{{ path('admin_simbiotica_calp_project_edit', {'id': project.id}) }}">
                                    {% for po in project.organizations %}
                                        {% if po.organization %}
                                            {{ po.organization.name }}
                                        {% else %}
                                            {{ project.__toString() }}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </p>
                            <p>Country/ies: 
                                {% for location in project.locations %}
                                    {% if location.country %}
                                        {{ location.country.name }}
                                    {% endif %}
                                {% endfor %}
                            </p><p>
                                Region(s): 
                                {% for location in project.locations %}
                                    {% if location.region %}
                                        {{ location.region.name }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                            </li>
                    {% endfor %}
                    </ul>
                    <p>In this early phase after the launch of the Cash Atlas, incomplete projects are displayed on the map. However, as more users will register and more projects will be entered, projects that do not include enough information will be taken out.</p>
                    <p>Please note that in order to see the projects in the dashboard, you need to have "editor's rights" (that you may have requested in your initial registration). If you do not have such rights, but would like to edit a project you can write at <a href="mailto:cash-atlas@cashlearning.org">cash-atlas@cashlearning.org</a>.</p>
                    <p>If you have any questions, send us an email to <a href="mailto:cash-atlas@cashlearning.org">cash-atlas@cashlearning.org</a>.</p>
                    <p>Best regards,</p>
                    <p>The Cash Atlas team.</p>
                </td>
            </tr>
        </table>
    </body>
</html>
