<html>
    <head>
        <title>Cash Atlas - Incomplete Project(s) Notification</title>
        <style type="text/css">
        </style>
    </head>
    <body>
        <table width="600" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><img src="https://www.cash-atlas.org/bundles/simbioticacalp/dist/images/assets/calp-admin-logo.png" alt="Cash Altas" width="196" height="47" /></td>
                <td valign="top" style="padding-left: 20px">
                    <p>Hello, {{ user.firstname}} {{ user.lastname }}</p>
                    <p>We have identified that some projects to which you are a contributor at <a href="{{ url('simbiotica_calp_homepage', {'_locale': locale}) }}">Cash Altas</a>
                        are near the end date, and may require additional information.</p>
                    <p>When possible, we kindly ask you to visit our <a href="{{ url('sonata_admin_dashboard', {'_locale': locale}) }}">project management panel</a> and 
                        review the following projects:
                    <ul>
                        {% for project in projects %}
                            <li>
                            <p><strong>Organisation:</strong>
                                <a href="{{ path('admin_simbiotica_calp_project_edit', {'id': project.id}) }}">
                                    {% for po in project.organizations %}
                                        {% if po.organization %}
                                            {{ po.organization.name }}
                                        {% else %}
                                            {{ project.__toString() }}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </p>
                            <p>{{ project.specificObjective }}</p>
                            <p>
                                <strong>Sectors:</strong>
                                {% for sector in project.sectors %}
                                    {{ sector.name}}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            </li>
                    {% endfor %}
                    </ul>
                    <p>If you have any questions, send us an email to <a href="mailto:cash-atlas@cashlearning.org">cash-atlas@cashlearning.org</a>.</p>
                    <p>Best regards,</p>
                    <p>The Cash Atlas team.</p>
                </td>
            </tr>
        </table>
    </body>
</html>
