<html>
	<head>
		<title>User Registration</title>
		<style type="text/css">
		</style>
	</head>
	<body>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top"><img src="https://www.cash-atlas.org/bundles/simbioticacalp/dist/images/assets/calp-admin-logo.png" alt="Cash Altas" width="196" height="47" /></td>
				<td valign="top" style="padding-left: 20px">
					<p>Hello,</p>
                                        <p>We have successfully recieved your registration request, and will review it as soon as possible. Once it's completed you will be notified by email, and will be able to access aditional features on the website.</p>
                                        <p>Bellow you'll find the information you submitted:</p>
                                        <ul>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.firstname{% endtrans %}: {{ user.firstname }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.lastname{% endtrans %}: {{ user.lastname }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.email{% endtrans %}: {{ user.email }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.organization{% endtrans %}: 
                                                {% if user.organizations is not empty %}
                                                    {{ user.organizations[0].organization.name }}
                                                {% else %}
                                                    {{ user.otherOrganization }}
                                                {% endif %}
                                            </li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.position{% endtrans %}: {{ user.position }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.intent{% endtrans %}: {{ intents[user.intent] }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.country{% endtrans %}: {{ user.country | country }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.relevance{% endtrans %}: {{ user.relevance }}</li>
                                        </ul>
                                        <p>Best regards,</p>
                                        <p>The Cash Atlas team.</p>
				</td>
			</tr>
		</table>
	</body>
</html>
