<html>
	<head>
		<title>Demande d'inscription</title>
		<style type="text/css">
		</style>
	</head>
	<body>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top"><img src="https://www.cash-atlas.org/bundles/simbioticacalp/dist/images/assets/calp-admin-logo.png" alt="Cash Altas" width="196" height="47" /></td>
				<td valign="top" style="padding-left: 20px">
					<p>Bonjour,</p>
                                        <p>Nous avons bien reçu votre demande d'inscription et l'examinerons dès que possible. Une fois cette étape passée, vous en serez notifié par email et aurez accès à des fonctionnalités supplémentaires sur le site web.</p>
                                        <p>Vous trouverez ci-dessous les informations que vous avez fournies:</p>
                                        <ul>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.firstname{% endtrans %}: {{ user.firstname }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.lastname{% endtrans %}: {{ user.lastname }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.email{% endtrans %}: {{ user.email }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.organization{% endtrans %}: 
                                                {% if user.organizations is not empty %}
                                                    {{ user.organizations[0].organization.name }}
                                                {% else %}
                                                    {{ user.otherOrganization }}
                                                {% endif %}
                                            </li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.position{% endtrans %}: {{ user.position }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.intent{% endtrans %}: {{ intents[user.intent] }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.country{% endtrans %}: {{ user.country | country }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.relevance{% endtrans %}: {{ user.relevance }}</li>
                                        </ul>
                                        <p>Cordialement,</p>
                                        <p>L’équipe du Cash Atlas.</p>
				</td>
			</tr>
		</table>
	</body>
</html>
