<html>
	<head>
		<title>User Registration</title>
		<style type="text/css">
		</style>
	</head>
	<body>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top"><img src="https://www.cash-atlas.org/bundles/simbioticacalp/dist/images/assets/calp-admin-logo.png" alt="Cash Altas" width="196" height="47" /></td>
				<td valign="top" style="padding-left: 20px">
					<p>A new user registration has been received</p>
                                        <ul>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.firstname{% endtrans %}: {{ user.firstname }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.lastname{% endtrans %}: {{ user.lastname }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.email{% endtrans %}: {{ user.email }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.organization{% endtrans %}: 
                                                {% if user.organizations is not empty %}
                                                    {{ user.organizations[0].organization.name }}
                                                {% else %}
                                                    {{ user.otherOrganization }}
                                                {% endif %}
                                            </li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.position{% endtrans %}: {{ user.position }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.intent{% endtrans %}: {{ intents[user.intent]|trans({}, 'SimbioticaAdmin') }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.country{% endtrans %}: {{ user.country | country }}</li>
                                            <li>{% trans from "SimbioticaFront" %}form.registration.relevance{% endtrans %}: {{ user.relevance }}</li>
                                            
                                        </ul>
                                       <p>You can review the details the application <a href="{{ url('admin_simbiotica_calp_user_edit', {'id': user.getId }) }}">here</a></p>
                                        <p>You can also use these links to <a href="{{ url('admin_simbiotica_calp_user_approve', {'id': user.getId, 'editor': 1 }) }}">approve editor</a> , <a href="{{ url('admin_simbiotica_calp_user_approve', {'id': user.getId}) }}"> approve user</a> or <a href="{{ url('admin_simbiotica_calp_user_decline', {'id': user.getId }) }}">decline</a></p>
				</td>
			</tr>
		</table>
	</body>
</html>
