<html>
    <head>
        <title>Welcome to Cash Atlas</title>
        <style type="text/css">
        </style>
    </head>
    <body>
        <table width="600" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><img src="https://www.cash-atlas.org/bundles/simbioticacalp/dist/images/assets/calp-admin-logo.png" alt="Cash Altas" width="196" height="47" /></td>
                <td valign="top" style="padding-left: 20px">
                    <p>Hello, {{ user.firstname}} {{ user.lastname }}</p>
                    <p>Your membership at Cash Atlas has been approved. You can now visit <a href="{{ url('simbiotica_calp_homepage', {'_locale': locale}) }}">our homepage</a>
                    and use your email address and password to login and access additional features on our website.</p>
                    <p>Please note that the Cash Atlas relies on voluntary reporting and inputting from agencies. Although ready to use widely, especially as a starting point for investigating where and how cash transfer programming is being used, information in the Atlas does need refining and we are working on this - with more input from the community of practice - to help it become a more accurate and complete reflection of the global picture of cash transfer programmes.</p>
                    <p>In time, the Cash Atlas will provide a more accurate overview of where, when and how cash transfer programming is being used. We're currently in the post-launch phase of the Cash Atlas that aims to encourage actors who are implementing cash transfer programmes to enter and update information on their respective projects in the Atlas.</p>
                    <p>If you have any questions, <a href="{{ url('simbiotica_calp_content', {'uri': 'content'}) }}">contact us</a>.</p>
                    <p>Best regards,</p>
                    <p>The Cash Atlas team.</p>
                </td>
            </tr>
        </table>
    </body>
</html>
