<html>
    <head>
        <title>Bienvenue sur le Cash Atlas</title>
        <style type="text/css">
        </style>
    </head>
    <body>
        <table width="600" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><img src="https://www.cash-atlas.org/bundles/simbioticacalp/dist/images/assets/calp-admin-logo.png" alt="Cash Altas" width="196" height="47" /></td>
                <td valign="top" style="padding-left: 20px">
                    <p>Bonjour, {{ user.firstname}} {{ user.lastname }}</p>
                    <p>Votre demande d'adhésion au Cash Atlas a été acceptée. Vous pouvez à présent vous rendre sur <a href="{{ url('simbiotica_calp_homepage', {'_locale': locale}) }}">notre page d’accueil</a>
                    et utiliser votre adresse e-mail et votre mot de passe pour vous connecter et accéder aux autres fonctionnalités de notre site web.</p>
                    <p>Veuillez noter que les informations publiées dépendent de la volonté des organisations de les partager. Les informations fournies dans le Cash Atlas sont prêtes à être utilisées à grande échelle, comme point de départ d'enquêtes sur l'utilisation des programmes de transferts monétaires, notamment où et comment les mettre en œuvre. Toutefois, ces informations devront être épurées et nous travaillons à cela, avec la contribution de la communauté de pratique, afin d'offrir une vision mondiale plus précise et complète des programmes de transferts monétaires.</p>
                    <p>Enfin, le Cash Atlas fournira une vue d'ensemble plus précise indiquant où, à quel moment et comment les programmes de transferts monétaires sont utilisés. Nous sommes à présent dans la phase suivant le lancement du Cash Atlas, qui vise à encourager les acteurs humanitaires qui mettent en œuvre des programmes de transferts monétaires à entrer et actualiser les informations concernant leurs projets respectifs dans l'Atlas.</p>
                    <p>Pour toute question, veuillez <a href="{{ url('simbiotica_calp_content', {'uri': 'contacter', '_locale': locale}) }}">nous contacter</a>.</p>
                    <p>Cordialement,</p>
                    <p>L’équipe du Cash Atlas.</p>
                </td>
            </tr>
        </table>
    </body>
</html>
