<html>
    <head>
        <title>Bienvenido al Cash Atlas</title>
        <style type="text/css">
        </style>
    </head>
    <body>
        <table width="600" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><img src="https://www.cash-atlas.org/bundles/simbioticacalp/dist/images/assets/calp-admin-logo.png" alt="Cash Altas" width="196" height="47" /></td>
                <td valign="top" style="padding-left: 20px">
                    <p>Hola, {{ user.firstname}} {{ user.lastname }}</p>
                    <p>Su solicitud de registro al Cash Atlas ha sido aprobada. Visite <a href="{{ url('simbiotica_calp_homepage', {'_locale': locale}) }}">nuestra página de inicio</a>
                    y utilice su dirección de correo electrónico y su contraseña para registrarse y acceder a funciones adicionales de nuestra página web.</p>
                    <p>Tenga en cuenta que el Cash Atlas muestra información que las organizaciones comparten con nosotros de manera voluntaria. Esta información está disponible para ser utilizada a gran escala, especialmente como punto de partida para investigar dónde y cómo se están utilizando los programas de transferencia de efectivo. A pesar de ello, necesitamos perfeccionar esta información y estamos trabajando en ello a través de las aportaciones de la comunidad  de práctica para contribuir a que el Atlas se convierta en un reflejo más exacto y completo del panorama general de los programas de transferencia de efectivo.</p>
                    <p>Por último, el Cash Atlas proporcionará una visión general más precisa de dónde, cuándo y cómo se están utilizando los programas de transferencia de efectivo. Actualmente nos encontramos en la fase posterior al lanzamiento del Cash Atlas, cuyo objetivo es animar a los actores que están implementando programas de transferencia de efectivo a que introduzcan y actualicen la información de sus respectivos proyectos en el Atlas.</p>
                    <p>Si tiene alguna pregunta puede <a href="{{ url('simbiotica_calp_content', {'uri': 'contacto', '_locale': locale}) }}">ponerse en contacto con nosotros</a>.</p>
                    <p>Nuestros mejores deseos,</p>
                    <p>El Equipo del Cash Atlas.</p>
                </td>
            </tr>
        </table>
    </body>
</html>
