{% extends 'SimbioticaCalpBundle:Templates:export.html.twig' %}

{% block main %}    
    <div class="project_detail">
        <header class="header_project_detail">
            <div class="project_title clearfix">        
                <h1>{{ project.organizations[0].organization.name }}
                    {% if countries is defined and countries|length > 0 %}
                        - 
                        {% for country in countries %}
                            {{ country.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}</h1>
                </div>
            </header>
            <table class="summary_table">
                <tr>
                    <td rowspan="2" class="span6">
                        <div class="inner">
                            <table>
                                <tr>
                                    <td colspan="2" class="logo_cell">
                                        {% if project.organizations[0].organization.media.id is defined %}
                                            <img src="http://{{ app.request.host }}{% path project.organizations[0].organization.media, 'big' %}" class="logo_project">
                                        {% else %}
                                            <img src="http://{{ app.request.host ~  asset(asset_url ~ 'images/assets/organisation-logo-default.png') }}" class="logo_project">
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span4"><strong>{{ 'list.label_affiliates' | trans({}, "SimbioticaAdmin") }}</strong></td>
                                    <td>{% if project.affiliates %}{{ project.affiliates }}{% else %}unknown{% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'list.label_implementing_partners' | trans({}, "SimbioticaAdmin") }}</strong></td>
                                    <td>{% if project.implementingPartners %}{{ project.implementingPartners }}{% else %}unknown{% endif %}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td colspan="3" class="span6">
                        <strong class="cell_title"><span class="icon overall_amount"></span> {{ 'project_detail.overall_budget' | trans({}, "SimbioticaFront") }}</strong><br> <span class="big">{{ project.budgetOverall|number_format(0, '.', ',') }}€</span>
                        <table>
                            <tr>
                                <td class="span8">
                                    <strong>{{ 'project_detail.cash_transfers' | trans({}, "SimbioticaFront") }}</strong><br> <span class="medium">{{ project.budgetAllocated|number_format(0, '.', ',') }}€</span>
                                </td>
                                <td class="span4">
                                    <strong><span class="icon scale"></span> {{ 'list.label_scale' | trans({}, "SimbioticaAdmin") }}</strong><br> <span class="medium">{{ project.scale }}</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="span2">
                        <strong>{{ 'project_detail.start' | trans({}, "SimbioticaFront") }}</strong> <br>
                        {% if project.startingDate is defined and project.startingDate.month is defined and project.startingDate.month > 0 %}
                            {{ months[project.startingDate.month] | trans({}, 'SimbioticaFront') }}/{{ project.startingDate.year }}<br>
                        {% else %}
                            unknown<br>
                        {% endif %}
                        <strong>{{ 'project_detail.end' | trans({}, "SimbioticaFront") }}</strong> <br>
                        {% if project.endingDate is defined and project.endingDate.month is defined and project.endingDate.month > 0 %}
                        {{ months[project.endingDate.month] | trans({}, 'SimbioticaFront') }}/{{ project.endingDate.year }}
                        {% else %}
                        unknown
                        {% endif %}
                    </td>
                    <td class="span4">
                        <strong>{{ 'project_detail.first_transfer' | trans({}, "SimbioticaFront") }}</strong> <br>
                        {% if project.firstCashDate is defined and project.firstCashDate.month is defined and project.firstCashDate.month > 0 %}
                        {{ months[project.firstCashDate.month] | trans({}, 'SimbioticaFront') }}/{{ project.firstCashDate.year }}
                        {% else %}
                        unknown
                        {% endif %}
                    </td>
                </tr>
            </table>
            
            
            {% if project.specificObjective %}
            <div class="module specific_objectives">
                <h2><span class="icon specific_objectives"></span> {{ 'project_detail.specific_objectives' | trans({}, "SimbioticaFront") }}</h2>
                <p>{{ project.specificObjective }}</p>
            </div>
            {% endif %}
            
            
            {% if project.description %}
            <div class="module project_description">
                <p><strong>{{ 'project_detail.project_description' | trans({}, "SimbioticaFront") }}</strong>: {{ project.description }}</p>
            </div>
            {% endif %}

            {% if countries is defined and countries|length > 0 %}
                <table class="locations_table">
                    {% if regions is defined and regions|length > 0 %}
                        <tr>
                            <th colspan="2">{{ 'project_detail.countries' | trans({}, "SimbioticaFront") }}</th>
                            <th colspan="4">{{ 'project_detail.regions' | trans({}, "SimbioticaFront") }}</th>
                        </tr>
                        <tr>
                            {% if regions|length > 8 %}
                                <td colspan="2" rowspan="3">
                            {% else %}
                                <td colspan="2" rowspan="2">
                            {% endif %}
                            {% for country in countries %}
                                <img src="http://{{ app.request.host }}/{{ asset_url }}images/assets/countries/{{ country.cartodbId }}.png" height="100" width="100">
                                <span class="country_label">{{ country.name }}</span>
                            {% endfor %}
                            </td>
                            {% for i in 0..3 %}
                                {% if regions[i] is defined %}
                                    <td class="span2">
                                        <img src="http://{{ app.request.host }}/{{ asset_url }}images/assets/regions/{{ regions[i].cartodbId }}.png" height="60" width="60">
                                        <span class="region_label">{{ regions[i].name }}</span>
                                    </td>
                                {% else %}
                                    <td class="span2">&nbsp;</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for i in 4..7 %}
                                {% if regions[i] is defined %}
                                    <td class="span2">
                                        <img src="http://{{ app.request.host }}/{{ asset_url }}images/assets/regions/{{ regions[i].cartodbId }}.png" height="60" width="60">
                                        {{ regions[i].name }}
                                    </td>
                                {% else %}
                                    <td class="span2">&nbsp;</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% if regions|length > 8 %}
                            <tr>
                                {% for i in 8..11 %}
                                {% if regions[i] is defined %}
                                <td class="span2">
                                    <img src="http://{{ app.request.host }}/{{ asset_url }}images/assets/regions/{{ regions[i].regions.cartodbId }}.png" height="60" width="60">
                                    {{ regions[i].name }}
                                </td>
                                {% else %}
                                <td class="span2">&nbsp;</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="3">{{ 'project_detail.countries' | trans({}, "SimbioticaFront") }}</td>
                        </tr>
                        <tr>
                            {% for i in 0..2 %}
                                {% if countries[i] is defined %}
                                    <td class="span2">
                                        <img src="http://{{ app.request.host }}/{{ asset_url }}images/assets/countries/{{ countries[i].cartodbId }}.png" height="100" width="100">
                                        {{ countries[i].name }}
                                    </td>
                                {% else %}
                                    <td class="span2">&nbsp;</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% if countries|length > 3 %}
                            <tr>
                                {% for i in 3..5 %}
                                    {% if countries[i] is defined %}
                                        <td class="span2">
                                            <img src="http://{{ app.request.host }}/{{ asset_url }}images/assets/countries/{{ countries[i].cartodbId }}.png" height="100" width="100">
                                            {{ countries[i].name }}
                                        </td>
                                    {% else %}
                                        <td class="span2">&nbsp;</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endif %}
                </table>
                {% endif %}
                
                
                <div class="module technical_information">
                    <div class="inner">
                        <h2><span class="icon technical_information"></span> {{ 'project_detail.technical_info' | trans({}, "SimbioticaFront") }}</h2>
                    </div>
                    <table class="tech_table">
                        <tr>
                            <td colspan="2">
                                <table class="modalities_table">
                                    <tr>
                                        <th>{{ 'project_detail.modalities' | trans({}, "SimbioticaFront") }}</th>
                                        <th></th>
                                        <th>{{ 'project_detail.delivery_mechanisms' | trans({}, "SimbioticaFront") }}</th>
                                        <th></th>
                                        <th>{{ 'project_detail.delivery_agents' | trans({}, "SimbioticaFront") }}</th>
                                    </tr>
                                    {% for modalities in project.modalities %}
                                        <tr>
                                            <td width="30%">
                                                {% if modalities.modality is defined and modalities.modality is not empty %}
                                                    {{ modalityList[modalities.modality] | trans({}, "SimbioticaAdmin") }}
                                                {% endif %}
                                            </td>
                                            <td width="5%">
                                                {% if modalities.deliveryMechanism is defined and modalities.deliveryMechanism is not empty %}
                                                    <img src="http://{{ app.request.host }}/{{ asset_url }}images/assets/arrow-separator-small.png">
                                                {% endif %}
                                            </td>
                                            <td width="30%">
                                                {% if modalities.deliveryMechanism is defined and modalities.deliveryMechanism is not empty %}
                                                    {{ deliveryMechanismList[modalities.deliveryMechanism] | trans({}, "SimbioticaAdmin") }}
                                                {% endif %}
                                            </td>
                                            <td width="5%">
                                                {% if modalities.deliveryAgent is defined and modalities.deliveryAgent is not empty %}
                                                    <img src="http://{{ app.request.host }}/{{ asset_url }}images/assets/arrow-separator-small.png">
                                                {% endif %}
                                            </td>
                                            <td width="30%">
                                                {% if modalities.deliveryAgent is defined and modalities.deliveryAgent is not empty %}
                                                    {{ deliveryAgentList[modalities.deliveryAgent] | trans({}, "SimbioticaAdmin") }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>

                        {% if project.sectors %}
                            <tr>
                                <td class="span4"><strong>{{ 'project_detail.sectors' | trans({}, "SimbioticaFront") }}</strong></td>
                                <td class="span8">
                                    {% for sector in project.sectors %}
                                    {{ sector.name }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                    {% if project.otherSectors | length > 0 %}
                                    , {{project.otherSectors}}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                        
                        {% if project.projectContext %}
                            <tr>
                                <td><strong>{{ 'project_detail.context' | trans({}, "SimbioticaFront") }}</strong></td>
                                <td>
                                    {% for context in project.projectContext %}
                                        {{ contexts[context] | trans({}, 'SimbioticaAdmin') }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        
                        <tr>
                            <td><strong>{{ 'project_detail.type_of_intervention' | trans({}, "SimbioticaFront") }}</strong></td>
                            <td>
                                {% if project.typeOfIntervention %}
                                    {{ typeOfInterventionList[project.typeOfIntervention] | trans({}, "SimbioticaAdmin") }}{% if project.typeOfInterventionSpecify %} - {{ project.typeOfInterventionSpecify }}{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% if project.donors %}
                            <tr>
                                <td><strong>{{ 'project_detail.donors' | trans({}, "SimbioticaFront") }}</strong></td>
                                <td>
                                    {% for donor in project.donors %}
                                        {{ donor.donor.name }}{% if donor.amount %} - {{ donor.amount }}{% endif %}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><strong>{{ 'project_detail.marker_assessment_tool' | trans({}, "SimbioticaFront") }}</strong></td>
                            <td>
                                {% if project.marketAssessment.options is defined and project.marketAssessment.options is not empty %}
                                {% for tool in project.marketAssessment.options %}
                                {{ marketAssessmentTools[tool] | trans({}, 'SimbioticaAdmin') }}{% if not loop.last or not loop.first %}, {% endif %}
                                {% endfor %}
                                {% if project.marketAssessment.other | length > 0 %}
                                {% if project.marketAssessment.options is defined and project.marketAssessment.options|length == 0 %}, {% endif %}{{ project.marketAssessment.other }}
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'project_detail.coordination_mechanism' | trans({}, "SimbioticaFront") }}</strong></td>
                            <td>
                                {% for coordinationMechanism in project.coordinationMechanisms %}
                                {{ coordinationMechanism.coordinationMechanism.name }}
                                {% if coordinationMechanism.specify %} - {{ coordinationMechanism.specify }}{% endif %}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'project_detail.documents' | trans({}, "SimbioticaFront") }}</strong></td>
                            <td>
                                {% if project.galleryHasMedias|length > 0 %}
                                    {% for media in project.galleryHasMedias %}
                                         {{ media.media.name }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ 'project_detail.nodocuments' | trans({}, "SimbioticaFront") }}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                
                
                <div class="module project_contact">
                    <h2><span class="icon project_contact"></span> {{ 'project_detail.project_contact' | trans({}, "SimbioticaFront") }}</h2>
                    <table class="detail_table">
                        <tr>
                            <td class="span4">
                                <strong class="cell_title"><span class="icon person"></span>{{ 'project_detail.contact_person' | trans({}, "SimbioticaFront") }}</strong>
                                <p>{{ project.contactPersonName }}<br> {{ project.contactPersonPosition }}</p>
                            </td>
                            <td class="span4">
                                <strong class="cell_title"><span class="icon email"></span>{{ 'project_detail.email' | trans({}, "SimbioticaFront") }}</strong>
                                <p><a href="mailto:{{ project.contactPersonEmailOne }}" target="_blank">{{ project.contactPersonEmailOne }}</a><br>
                                    <a href="mailto:{{ project.contactPersonEmailTwo }}" target="_blank">{{ project.contactPersonEmailTwo }}</a></p>
                                </td>
                                <td class="span4">
                                    <strong class="cell_title"><span class="icon website"></span> {{ 'project_detail.website' | trans({}, "SimbioticaFront") }}</strong>
                                    <p>
                                        {% if project.contactOrganizationUrl %}
                                        <a href="{{ project.contactOrganizationUrl }}" target="_blank">{{ project.contactOrganizationUrl }}</a>
                                        {% else %}unknown{% endif %}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
    {% endblock %}