@import "../vars";
@import "../common";

.main_header,
.main_content,
.main_footer {min-width: 970px;}

/* ====================
   Main
   ==================== */
.main_content {bottom: 0; position: absolute; top: 65px; width: 100%;}
#application {overflow: hidden;}

.row {
    .col {float: left; padding: 15px 7%; border-bottom: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;
        &:last-child {border-right: 0;}
        &.span12 {width: 86%;}
        &.span8 {width: 47.9%;}
        &.span7 {width: 44.2%;}
        &.span6 {width: 35.8%;}
        &.span5 {width: 27.5%;}
        &.span4 {width: 23.8%;}
        &.span2 {width: 11.8%;}
        &.last {border-bottom: 0;}
    }
}

h2 .icon {display: block; float: left; height: 16px; margin-right: 5px; width: 16px;}

.big {font-size: 53px; letter-spacing: -0.08em;}
.medium {font-size: 36px; letter-spacing: -0.08em;}

.btn_toggle {background: #333; border: 0; border-right: 1px solid #444; float: left; height: 47px; width: 31px;
    .icon {display: block; height: 12px; margin: auto; width: 15px; @include images-sprite(arrows-panel-default);}
    &:hover .icon {@include images-sprite(arrows-panel-hover);}
    &.active .icon {@include images-sprite(arrows-panel-active);}
}

/* jScrollPane */
.scrollable {
    &:focus {outline: 0;}
    .jspTrack {background: #fcfcfc;}
    .jspVerticalBar {width: 12px; background: none;
        .jspDrag {margin-left: 1px; width: 10px;}
    }
    .jspHorizontalBar {height: 12px; background: none;
        .jspDrag {height: 10px; margin-top: 1px;}
    }
    .jspDrag {background: #e4e4e4; @include border-radius(5px);}
}


/* ====================
   Map
   ==================== */
.map {background: #333; left: 0; height: 100%; position: absolute; right: 392px; @include transition(right .3s ease);}
.map_visualization {background: #b5d5df; height: 100%; left: 0; position: absolute; top: 0; width: 100%;} /* Leaflet map */
.leaflet-container .leaflet-control-attribution {background: none; bottom: 75px; color: #0a5786; left: 5px; text-shadow: 0 0 12px #fff; @include box-shadow(none);}
.cartodb-logo {display: none !important;}

/* Markers */
.circle-marker {display: table; text-align: center;
    .info-marker {background-color: rgba(5, 145, 220, .75); color: rgba(255, 255, 255, .85); font-weight: bold;  height: 100%; margin: 0; width: 100%; @include border-radius(100%); @include box-shadow(0 0 4px 5px rgba(0, 0, 0, .1));}
    .name-marker {border: 1px solid transparent; color: rgb(0, 85, 135); display: inline-block; font-size: 11px; left: 50%; margin: 0; padding: 0 5px; position: absolute; white-space: nowrap; width: auto; top: 75%; @include border-radius(4px); @include transition(all .3s ease);
    }
    &.current .info-marker {background-color: rgba(255, 255, 255, .75); color: rgba(10, 86, 133, .85);}
}

.circle-marker {
    &:hover {
        .info-marker {background-color: rgba(0, 85, 135, .85);}
        .name-marker.active {border-color: #ccc; background-color: #fff;}
    }
    &.current:hover .info-marker {background-color: #085685; color: #fff;}
}
.circle-marker.current-region {cursor: inherit;
    &:hover {
        .info-marker {background-color: rgba(220, 220, 220, .75); color: rgba(10, 86, 133, .85);}
        .name-marker.active {border-color: transparent; background-color: transparent;}
    }
    .info-marker {background-color: rgba(220, 220, 220, .75);}
}

/* Breadcrumbs map */
.breadcrumbs_map {position: absolute; right: 15px; top: 15px; z-index: 1001;
    ul {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; list-style: none; margin: 0; padding: 0;
        li {background: #eee; display: block; float: left; position: relative;
            a {color: #333; cursor: pointer; display: block; line-height: 17px;}
            &:hover .child_menu {display: block;}
        }
    }
    .breadcrumbs_btns {border-left: 1px solid #ddd; float: left;
        li {
            &.active {@include background(linear-gradient(top, #ccc, #ddd)); @include box-shadow(inset 0 0 10px rgba(0, 0, 0, .2));
                a {color: #333; padding-left: 35px; padding-right: 7px; text-indent: 0; width: auto;}
            }
            &:hover {@include box-shadow(inset 0 0 10px rgba(0, 0, 0, .2));}
            &.active, &:hover {
                #resetFilters {@include icons-sprite(breadcrumbs-reset-active);}
                #projectToggleBtn {@include icons-sprite(breadcrumbs-projects-active);}
                #scaleToggleBtn {@include icons-sprite(breadcrumbs-beneficiaries-active);}
                #amountToggleBtn {@include icons-sprite(breadcrumbs-budgetoverall-active);}
            }
        }
        a {border-right: 1px solid #ddd; color: transparent; height: 25px; line-height: 25px; text-indent: -9999px; width: 35px;}
        #resetFilters {display: none; @include icons-sprite(breadcrumbs-reset-default);}
        #projectToggleBtn {@include icons-sprite(breadcrumbs-projects-default);}
        #scaleToggleBtn {@include icons-sprite(breadcrumbs-beneficiaries-default);}
        #amountToggleBtn {@include icons-sprite(breadcrumbs-budgetoverall-default);}
    }
    .breadcrumbs_map_nav {border-left: 1px solid #ddd; border-right: 1px solid #ddd; float: left; margin-left: 10px;
        li:last-child a {padding-right: 15px;}
        a {padding: 4px 23px 4px 15px; margin-left: -8px; @include images-sprite(breadcrumbs-item);
            &.worldBtn {background: #eee; margin-left: 0; padding-left: 15px;
                &:hover {background: #ccc;}
            }
            &:hover {@include images-sprite(breadcrumbs-item-hover);}
        }
    }
    .child_menu {background: #f6f6f6; border: 1px solid #ddd; display: none; max-height: 290px; position: absolute; right: 0; top: 25px; width: 190px; z-index: 1002; @include box-shadow(0 0 3px 3px rgba(0, 0, 0, .04));
        .scrollable {max-height: 290px;}
        ul {border: 0; padding: 10px;}
        li {background: none; float: none;
            a {background: none; border: none; padding: 3px 5px !important; margin: 0;
                &:hover {background: #ccc;}
            }
        }
    }
}

/* Infowindow */
.infowindow {display: none; left: 0; position: absolute; top: 0;
    .box {background: #fff; margin: -10px -50px 0 0; padding: 5px 10px; position: absolute; width: 100px; z-index: 99999; cursor: pointer;}
}

/* Spinner */
.spinner_map {left: 13px; position: absolute; top: 70px;}

/* Footer map */
.footer_map {background: #fff; border-top: 1px solid #e6e6e6; bottom: 0; height: 65px; position: absolute; width: 100%; z-index: 1003; @include box-shadow(0 0 5px rgba(230, 230, 230, .7));
    .footer_wrap {min-width: 575px;}
    h3 {color: #666; float: left; font-size: 13px; margin: 15px 0 15px 15px;}
    .btn {border: 0; color: $white; display: block; float: right; font-size: 17px; line-height: 17px; margin-top: 15px; padding: 9px; @include border-radius(4px); @include background(linear-gradient(top, $blue-light, $blue-dark));
        &:hover {@include background(linear-gradient(top, $blue-dark, $blue-light));}
        &:active {background: none;}
    }
}
.donors_logo_list {left: 75px; list-style: none; margin: 0; padding: 0; position: absolute; width: 405px;
    li {display: block; float: left; list-style: none; margin: 0 20px; padding: 0; position: relative;}
    a {color: transparent; display: block; text-indent: -9999px;}
    .usaid {height: 37px; margin-top: 15px; width: 120px; @include images-sprite(usaid-bn);
        &:hover {@include images-sprite(usaid);}
    }
    .american-red-cross {height: 37px; margin-top: 16px; width: 110px; @include images-sprite(american-red-cross-bn);
        &:hover {@include images-sprite(american-red-cross);}
    }
    // .canadian-agency {height: 22px; margin-top: 18px; width: 320px; @include images-sprite(canadian-agency-bn);
    //  &:hover {@include images-sprite(canadian-agency);}
    // }
    // .visa {height: 18px; margin-top: 19px; width: 57px; @include images-sprite(visa-bn);
    //  &:hover {@include images-sprite(visa);}
    // }
    .eu {height: 53px; margin-top: 7px; width: 54px; @include images-sprite(eu-humanitarian-aid-bn);
        &:hover {@include images-sprite(eu-humanitarian-aid);}
    }
}
.simbiotica {color: #333; border-left: 1px solid #ddd; float: right; font-size: 11px; margin: 0 0 0 15px; padding: 20px 15px; text-indent: 0;
    p {margin: 0;}
    a {color: #333; font-weight: bold;}
}


/* ====================
   Dashboard (sidebar)
   ==================== */
.dashboard {background: #fff; height: 100%; position: absolute; right: 0; top: 0; width: auto; z-index: 1003; @include box-shadow(0 0 10px rgba(0, 0, 0, .3)); @include transition(right .3s ease);
    h2 {margin: 0;
        .icon {margin-top: 6px;}
    }
    .btn_toggle {width: 7.9%;}
    .row.first {background: #f6f6f6;}
    .big, .medium {font-weight: lighter; margin: 0 0 -14px 0;}
    .medium {color: #cc2127; margin-bottom: -12px;}
    .footer {background: #fff; border-top: 1px solid #e6e6e6; bottom: 0; position: absolute; text-align: center; width: 100%; @include box-shadow(0 0 5px rgba(230, 230, 230, .7));
        .col {padding: 13px 7%;}
        .btn {border: 0; color: #fff; font-size: 17px; height: 38px; margin: 0 7px 0 0; width: 150px; @include border-radius(4px);}
        a.btn {display: inline-block; line-height: 40px;}
    }
    .helper {background: image-url('bg/grid-gray.png'); border: 1px solid #ddd; padding: 3px 10px; @include border-radius(4px);}
}

.export_btns {float: right; margin-top: 3px;
    .label {display: block; float: left; line-height: 20px; margin-top: 3px;}
    .btns {display: block; float: right; margin-left: 7px;
        a {background: #fff; border: 1px solid #ddd; color: transparent; display: block; float: left; height: 22px; padding: 0; text-indent: -9999px; width: 40px;
            &:hover {@include box-shadow(0 0 3px 3px rgba(85, 85, 85, .1));}
            &:active {background-color: #eee;}
        }
        .icon {display: block; height: 15px; margin: 3px auto 0 auto; width: 14px;}
        .excel {border-right: 0; @include border-radius(6px 0 0 6px);
            .icon {@include icons-sprite(excel);}
            &:hover .icon {@include icons-sprite(excel-hover);}
        }
        .csv {@include border-radius(0 6px 6px 0);
            .icon {@include icons-sprite(csv);}
            &:hover .icon {@include icons-sprite(csv-hover);}
        }
        .pdf {@include border-radius(6px);
            .icon {@include icons-sprite(pdf2);}
            &:hover .icon {@include icons-sprite(pdf2-hover);}
        }
    }
}

#contentTabs {display: none;}

// Dashboard Navigation
.dashboard_tabs_nav {float: left; width: 92%;
    .ui-tabs-nav {color: #888; list-style: none; margin: 0; padding: 0;
        li {background: #333; display: block; margin: 0; width: 50%;
            &.ui-tabs-active {margin-bottom: 0; padding-bottom: 0;}
            &:hover {@include background(linear-gradient(top, #333, #000));}
            a {color: #888; display: block; float: none; font-size: 15px; font-weight: bold; padding: 14px 0; line-height: 19px; text-align: center; text-transform: uppercase;
                .icon {display: inline-block; margin-right: 15px; vertical-align: bottom;}
            }
        }
    }
    .ui-state-active {@include background(linear-gradient(top, #000, #333));}
    .ui-state-active a, a:hover {color: #fff;}
    .info_tab {
        a {border-right: 1px solid #000;
            .icon {height: 17px; width: 24px; @include icons-sprite(info-tab-default);}
        }
        &.ui-state-active a {border-right-color: #333; background-image: image-url('bg/dashboard_tab_info_active.png'); background-repeat: no-repeat; background-position: bottom;}
        &.ui-state-active .icon, &:hover .icon {@include icons-sprite(info-tab-active);}
    }
    .filter_tab {
        &.ui-state-active a {border-left-color: #333; background-image: image-url('bg/dashboard_tab_filter_active.png'); background-repeat: no-repeat; background-position: bottom;}
        a {border-left: 1px solid #000;
            .icon {height: 17px; width: 15px; @include icons-sprite(filter-tab-default);}
        }
        &.ui-state-active .icon, &:hover .icon {@include icons-sprite(filter-tab-active);}
    }
}

// Information tab
.info_panel {width: 392px;
    h2 .icon, .cell_title .icon {display: block; float: left; height: 19px; margin-right: 5px; width: 19px;
        &.projects {height: 15px; margin-top: 1px; width: 17px; @include icons-sprite(projects);}
        &.beneficiaries {height: 12px; margin-top: 3px; @include icons-sprite(beneficiaries);}
        &.amount {height: 16px; margin-top: 1px; width: 16px; @include icons-sprite(amount);}
        &.sectors {@include icons-sprite(sectors);}
        &.organisations {@include icons-sprite(organisations);}
        &.donors {@include icons-sprite(donors);}
        &.projects_list_title {@include icons-sprite(projects-list);}
        &.modalities {@include icons-sprite(modalities);}
    }
    .scrollable {width: 392px;}
    .cell_title {font-size: 17px; font-weight: lighter;}
    .footer {
        .btn {@include background(linear-gradient(top, #f00021, #cd2027));
            &:hover {@include background(linear-gradient(top, #cd2027, #f00021));}
            &:active {background: none;}
        }
    }
    .public_footer {
        .col.span12 {padding: 13px 0; width: 100%;}
        .btn {width: 185px; @include border-radius(4px); @include background(linear-gradient(top, $blue-light, $blue-dark));
            &:hover {@include background(linear-gradient(top, $blue-dark, $blue-light));}
        }
    }
    .pie_graph {float: left; height: 110px; width: 164px;}
    .legend_graph {float: left;
        .icon {display: block; float: left; height: 10px; margin-right: 10px; width:10px;}
        //li {float: left; width: 150px; margin-right: 14px;}
    }
    .footer .export_btns {float: left; margin: 7px 12px 7px 0;}
}

#info {min-height: 300px; width: 392px;
    ul {list-style: none; padding: 0;}
}

.info_breadcrumbs {background: #cc2127; color: #fff; padding: 15px 27px; width: 338px;
    p {margin: 0;}
    a, .separator {display: block; float: left;}
    a {color: #fff;}
    .separator {color: transparent; height: 12px; margin: 3px 5px 0 5px; width: 5px; @include images-sprite(separator-breadcrumbs);}
}

.projects_list {min-height: 100px; width: 392px;
    h3 {font-size: 15px;
        .location {color: #cc2127;}
    }   
    ul, li {list-style: none; margin-bottom: 0; padding: 0;}
    p {margin: .5em 0;}
    a {color: #cc2127;}
    .col {border-bottom: 0; border-top: 1px solid #ddd;}
    .project_item {border-bottom: 1px solid #ddd; cursor: pointer; display: none; padding: 10px 8%; margin-left: -8%; margin-right: -8%;
        &:hover, &.active {background: #eee;}
        &:last-child {border-bottom: 0;}
    }
    .footer_btns {padding: 15px; text-align: center;
        .btn_more {color: $red; font-size: 15px; line-height: 1;}
    }
}

// Disclaimer
.disclaimer_dashboard {
    .top_header_disclaimer, .bottom_header_disclaimer {background: image-url('bg/disclaimer-top.png') repeat-x; height: 16px;}
    .bottom_header_disclaimer {background-image: image-url('bg/disclaimer-bottom.png');}
    .header_disclaimer {background: #1f1f1f; color: #fff; font-size: 24px; line-height: 1.2; padding: 0 7%;}
    .content_disclaimer, .footer_disclaimer {padding: 15px 7%;}
    .footer_disclaimer {background: image-url('bg/grid-red.png'); color: #fff; font-size: 24px; line-height: 1.2; text-align: center;
        p {margin: .5em 0;}
        a {color: #fff; font-weight: bold; text-decoration: underline;}
    }
}

// Filters tab
.filter_panel {width: 475px;
    .col {border-bottom: 0;}
}

.footer_filter_panel {background: #fff; border-top: 1px solid #ddd; bottom: 0; position: absolute; text-align: center; width: 100%; z-index: 90;
    .btn {border: 0; color: $white; font-size: 17px; line-height: 17px; margin: 0 3px; padding: 9px 9px 9px 30px; position: relative; @include border-radius(4px); @include background(linear-gradient(top, $blue-light, $blue-dark));
        &:hover {@include background(linear-gradient(top, $blue-dark, $blue-light));}
        &:active {background: none;}
        .icon-apply, .icon-reset {height: 15px; left: 9px; position: absolute; top: 9px; width: 15px;}
        .icon-apply {@include icons-sprite(filter-apply)}
        .icon-reset {@include icons-sprite(filter-reset)}
    }
}

.search_form {background: #1db3f0; padding: 15px 7%;
    .label_form {float: left;
        label {color: #fff; font-weight: bold; line-height: 31px;}
    }
    .controls_form {float: right; position: relative;
        input {border-color: #00A5D5; height: 20px; line-height: 20px; padding: 5px 35px 5px 5px; width: 248px; @include background(linear-gradient(top, #fff, #eee));}
        .search_submit {background: $blue-light; height: 30px; padding: 0; overflow: hidden; position: absolute; right: 1px; top: 1px; width: 30px; z-index: 1; @include border-radius(0 4px 4px 0);
            input {border: 0; color: transparent; height: 30px; text-indent: -9999px; width: 30px; @include icons-sprite(search-default);}
        }
    }
}

.filter_form {
    .form_row {margin: 0 0 20px 0;}
    .form_label {display: block; float: left; margin-top: 10px; max-width: 160px;
        label {font-weight: bold; line-height: 1.1;}
    }
    .form_controls {display: block; float: right; position: relative; width: 232px;
        input, textarea {background: #f6f6f6; height: 28px; padding: 2px 10px; width: 210px;
            &.noempty {background: $white;}
        }
        input[type="checkbox"] {height: 32px; padding: 0; width: 32px;}
        select {background: #fff; border: 1px solid #d6d6d6; font-size: 15px; height: 30px; padding: 0; width: 232px; @include border-radius(4px);}
        .select2-choices input {height: auto;}
        &.dates select {width: 110px; margin-right: 10px;
            &:last-child {margin-right: 0;}
        }
    }
}

#scaleResult {display: block; margin-top: 3px;}

// .dates .ui-multiselect {width: 100px !important;}
// .ui-multiselect {background: #fff; border: 1px solid #d6d6d6; font-size: 15px; height: 30px; @include border-radius(4px);}
// .ui-multiselect-menu {background: #f6f6f6; border: 1px solid #d6d6d6; margin-top: -2px; padding: 10px 15px;
//     ul {list-style: none; padding: 0; margin: 0;}
//     .ui-multiselect-header {overflow: hidden;}
//     .ui-multiselect-checkboxes label input {margin-right: 10px; top: -1px;}
// }


/* ====================
   Project detail page
   ==================== */
.project_detail {background: #fff; bottom: 65px; font-size: 15px; min-width: 630px; max-width: 760px; opacity: 0; position: absolute; right: -760px; top: 0; width: 60%; z-index: 1002; @include transition(all .3s ease);
    &.active {opacity: 1; right: 391px;}
    h1 {color: #fff; font-size: 17px; font-weight: bold; line-height: 1; margin: 0; text-transform: uppercase;}
    h2 {font-size: 22px; line-height: 19px;}
    a {color: #cc2127;
        &:hover {text-decoration: underline;}
    }
    div .project_status { position: absolute; height: 67px; width: 67px; right: 0px; margin-top: 47px;
        &.status_0 {@include icons-sprite(mark-cross); opacity: 0.4;
            &:hover {opacity: 1;}
        }
        &.status_1 {@include icons-sprite(mark-check); opacity: 0.4;
            &:hover {opacity: 1;}
        }
    }
    table {font-size: 13px; width: 100%;
        th {text-align: left;}
        td, th {padding: 2% 3%; vertical-align: top;
            &.span8 {width: 66.666666%;}
            &.span6 {width: 50%;}
            &.span4 {width: 33.333333%;}
            &.span2 {width: 16.666666%;}
            &.modality {padding: 0;}
        }
        &.summary_table {height: 200px; margin-top: 47px;
            td {border: 1px solid #e6e6e6;
                td {border: 0; padding: 0;}
            }
        }
        &.tech_table {
            tr {border-bottom: 1px solid #e6e6e6;}
        }
        &.locations_table {min-height: 200px; margin-top: -1px;
            td, th {border: 1px solid #e6e6e6; text-align: center; vertical-align: middle;
                img {max-width: 100px;}
            }
            th {text-align: left;}
            .country_label, .region_label {display: block; text-align: center;}
        }
        &.modalities_table {width: 100%;
            &:nth-child(even) {background:#efefef;}
            tr {border: 0; 
                &:first-child th {padding-top: 2%;}
                &:last-child td {padding-bottom: 2%;}
                td, th {border: 0; padding-top: 1%;
                    &:first-child{ padding-left: 3%;}
                    img {margin-top: -3px; }
                }
            }
            .specify { height: 25px; width: 25px; @include icons-sprite(moreinfo-current); float:right; display:block; margin-top: -7px;
                &:hover {@include icons-sprite(moreinfo-hover);}
            }
        }
        td.cities-cell {text-align: left;}
        .cell_title {display: block; font-weight: lighter; font-size: 17px; font-weight: normal; line-height: 19px; overflow: hidden;}
    }

    .big {font-size: 40px;}
    .medium {font-size: 30px;}

    .header_project_detail {background: #333; display: table; height: 47px; position: absolute; top: 0; width: 100%; z-index: 1000;
        .project_title, .btn_toggle {display: table-cell; vertical-align: middle;}
        .btn_toggle {width: 31px;}
        .project_title {max-width: 721px; padding: 0 15px; width: 100%;}
    }

    .logo_cell {height: 183px; text-align: center; vertical-align: middle;}

    .scrollable {height: 100%; position: absolute; top: 0; width: 100%;}
    
    h2 .icon, .cell_title .icon, strong .icon {display: block; float: left; height: 19px; margin-right: 5px; width: 19px; margin-top: 0px;
        &.overall_amount {@include icons-sprite(overall-amount)}
        &.specific_objectives {@include icons-sprite(specific-objectives)}
        &.technical_information {@include icons-sprite(technical-information)}
        &.project_contact {@include icons-sprite(project-contact)}

        &.scale {height: 12px; margin-top: 0; @include icons-sprite(scale)}
        &.allocated_amount {height: 17px; width: 13px; @include icons-sprite(allocated-amount)}
        &.context {height: 12px; margin-top: 1px; width: 18px; @include icons-sprite(context)}
        &.person {height: 12px; margin-top: 1px; width: 13px; @include icons-sprite(person)}
        &.email {height: 10px; margin-top: 2px; width: 14px; @include icons-sprite(email)}
        &.website {height: 14px; margin-top: 0; width: 15px; @include icons-sprite(website)}
    }

    .cell_title .icon {margin-top: 2px;}

    .big, .medium {font-weight: lighter;}
    
    .module {padding: .5% 3%;
        &.specific_objectives {background: #efefef; font-size: 13px;}
        &.project_description {background: #ddd; font-size: 13px;}
        &.technical_information, &.project_contact {padding: 2% 0;
            h2 {padding: 0 3%;}
        }
    }

    .project_buttons {border-top: 1px solid #ddd; padding: 30px 0; text-align: center;
        a {color: $white; display: inline-block; font-size: 17px; line-height: 18px; padding: 12px 20px 8px 20px; @include background(linear-gradient(top, $blue-light, $blue-dark)); @include border-radius(4px);
            &:hover {@include background(linear-gradient(top, $blue-dark, $blue-light)); text-decoration: none;}
            .icon {display: block; float: left; height: 17px; margin-right: 10px; margin-top: -2px; width: 16px;}
        }
        .missing .icon {height: 20px; margin-top: -3px; @include icons-sprite(missing);}
        .pdf .icon {@include icons-sprite(pdf);}
        .edit .icon {@include icons-sprite(edit);}
    }
}


/* ====================
   Overlay
   ==================== */
.overlay {background: image-url('bg/overlay.png'); height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 1010;
    .bg_overlay {height: 100%; left: 0; position: absolute; top: 0; width: 100%;}
    .content_overlay {background: #fff; margin: auto; padding: 15px 27px; position: relative; top: 12%; width: 800px; @include border-radius(6px);
        header {
            h2 {font-size: 24px;}
            p {font-size: 16px;}
        }
        footer {border-top: 1px solid #ddd; font-size: 11px; margin-top: 20px; padding: 5px 0 0 0; text-align: center;
            a {color: #333; font-weight: bold;}
        }
        .close_btn {border: 0; color: transparent; height: 54px; position: absolute; right: -27px; text-indent: -9999px; top: -27px; width: 54px; @include icons-sprite(close-default);
            &:hover {@include icons-sprite(close-hover);}
            &:active {@include icons-sprite(close-active);}
        }
    }
    .features_list {float: left; margin-top: 0; width: 44%;}
    .disclaimer {background: image-url('bg/grid-red.png'); color: #fff; font-size: 24px; padding: 18px 20px 15px 20px; @include border-radius(6px);
        a {color: #fff; font-weight: bold; text-decoration: underline;}
    }
    .donors_list {list-style: none; margin: 0; padding: 0;
        li {display: block; float: left; list-style: none; margin: 0 85px; padding: 0;
            &.american-red-cross {height: 37px; margin-top: 12px; width: 110px;}
            &.usaid {height: 37px; margin-top: 10px; width: 120px;}
            &.canadian-agency {height: 22px; margin-top: 18px; width: 320px;}
            &.visa {height: 18px; margin-top: 19px; width: 57px;}
            &.eu {height: 53px; margin-top: 7px; width: 54px;}
            &.ukaid {height: 54px; margin-top: 5px; width: 49px;}
        }
    }
    .btn {display: block; width: 230px; height: 38px; margin: 1em auto; line-height: 38px; font-size: 17px; text-align: center; color: white; @include background(linear-gradient(top, #f00021, #cd2027)); @include border-radius(4px);
        &:hover {@include background(linear-gradient(top, #cd2027, #f00021));}
    }
}
#contactOverlay { display:none; }

/* ====================
   jQuery UI
   ==================== */
.ui-tabs {height: 100%; padding: 0;
    .ui-tabs-panel {padding: 0;}
}
.ui-tooltip {background: #333; color: $white; max-width: 300px; padding: 6px 7px 4px 7px; position: absolute; z-index: 9999; @include box-shadow(0 0 5px 4px rgba(51, 51, 51, .2));
    &:before {background: #333; content: " "; display: block; height: 10px; left: 50%; margin-left: -5px; position: absolute; top: -5px; width: 10px; @include transform(rotate(45deg)); @include box-shadow(0 0 5px 4px rgba(51, 51, 51, .2));}
}
.ui-slider {border: 1px solid $bordercolor; height: 10px;
    .ui-slider-handle {background: $bordercolor; border: 1px solid #ccc; margin-left: -5px; width: 10px;}
}

/* ====================
   Select2
   ==================== */
.select2-container .select2-choice {border-color: $bordercolor;
    div {border-color: $bordercolor;}
}
.select2-container-multi .select2-choices {background: #f6f6f6; border-color: $bordercolor; @include border-radius(4px);}
.select2-container-multi.noempty .select2-choices {background: $white;}
.select2-drop {border-color: $bordercolor;}

/* ====================
   D3 graphs
   ==================== */
.axis path, .axis line {
    fill: none;
    stroke: #FFF;
    shape-rendering: crispEdges;
}
.tick text{
    font-size: 10px;
    color :#000
}

@import "../helpers";

@media screen and (max-width: 1100px) {
    .footer_map .btn {position: absolute; right: 10px; top: -60px;} 
}