@import "../vars";
@import "../common";

body {margin: 0.5cm;}

h1 {font-size: 1.7em; margin: 0;}
h2 {font-size: 1.5em;}

a {color: $red;}

.big {font-size: 53px; letter-spacing: -0.08em;}
.medium {font-size: 36px; letter-spacing: -0.08em;}

.logo-cash-atlas {margin-bottom: 20px; text-align: center; width: 20cm;}
.logo-cash-atlas img {
    display: block;
    height: 47px;
    margin: auto;
    width: 196px;
}


/* ====================
   Project detail export
   ==================== */
.project_detail {background: #fff; border-bottom: 1px solid #ddd; font-size: 15px; width: 20cm;
    h1 {color: #fff; font-size: 17px; font-weight: bold; line-height: 1; margin: 0; text-transform: uppercase;}
    h2 {font-size: 22px; line-height: 19px;}
    a {color: #cc2127;}
    table {font-size: 13px; width: 100%;
        td, th {padding: 1.5% 3%; vertical-align: top; text-align: left;
            &.span8 {width: 66.666666%;}
            &.span6 {width: 50%;}
            &.span4 {width: 33.333333%;}
            &.span2 {width: 16.666666%;}
        }
        &.summary_table {height: 200px;
            td {border: 1px solid #e6e6e6;
                td {border: 0; padding: 0;}
            }
        }
        &.tech_table {
            tr {border-bottom: 1px solid #e6e6e6;}
        }
        &.locations_table {height: 200px; margin-top: -1px;
            td, th {border: 1px solid #e6e6e6; text-align: center; vertical-align: middle;
                img {max-width: 100px;}
            }
            th {text-align: left;}
            .country_label, .region_label {display: block; text-align: center;}
        }
        &.modalities_table {width: 100%;
            tr {border: 0;}
            td, th {border: 0; padding: 1% 0;}
        }
        .cell_title {font-weight: lighter; font-size: 17px; font-weight: normal; line-height: 19px;}
    }

    .header_project_detail {background: #333; display: table; height: 47px; width: 100%;
        .project_title {display: table-cell; padding: 0 15px; vertical-align: middle;}
    }

    .logo_cell {height: 183px; text-align: center; vertical-align: middle;}

    .scrollable {height: 100%; position: absolute; top: 0; width: 100%;}
    
    h2 .icon, .cell_title .icon, strong .icon {display: block; float: left; height: 19px; margin-right: 5px; width: 19px; margin-top: -3px;
        &.overall_amount {@include icons-sprite(overall-amount)}
        &.specific_objectives {@include icons-sprite(specific-objectives)}
        &.technical_information {@include icons-sprite(technical-information)}
        &.project_contact {@include icons-sprite(project-contact)}

        &.scale {height: 12px; margin-top: 0; @include icons-sprite(scale)}
        &.allocated_amount {height: 17px; width: 13px; @include icons-sprite(allocated-amount)}
        &.context {height: 12px; margin-top: 1px; width: 18px; @include icons-sprite(context)}
        &.person {height: 12px; margin-top: 1px; width: 13px; @include icons-sprite(person)}
        &.email {height: 10px; margin-top: 2px; width: 14px; @include icons-sprite(email)}
        &.website {height: 14px; margin-top: 0; width: 15px; @include icons-sprite(website)}
    }

    .big, .medium {font-weight: lighter;}
    
    .module {border-left: 1px solid #ddd; border-right: 1px solid #ddd; padding: 2% 3%;
        &.specific_objectives {background: #efefef; font-size: 13px;}
        &.project_description {background: #ddd; font-size: 13px;}
        &.technical_information, &.project_contact {padding: 2% 0;
            h2 {padding: 0 3%;}
        }
    }

    .project_buttons {border-top: 1px solid #ddd; padding: 30px 0; text-align: center;
        a {color: $white; display: inline-block; font-size: 17px; line-height: 18px; padding: 12px 20px 8px 20px; @include background(linear-gradient(top, $blue-light, $blue-dark)); @include border-radius(4px);
            &:hover {@include background(linear-gradient(top, $blue-dark, $blue-light));}
            .icon {display: block; float: left; height: 17px; margin-right: 10px; margin-top: -2px; width: 16px;}
        }
        .missing .icon {height: 20px; margin-top: -3px; @include icons-sprite(missing);}
        .pdf .icon {@include icons-sprite(pdf);}
        .edit .icon {@include icons-sprite(edit);}
    }
}

@import "../helpers";