@import "compass/css3";
@import "compass/utilities/sprites";
@import "sprites/admin/*.png";
@import "../vars";

$bg-color: #fff;
$gray-light: #eee;
$border-color: #d6d6d6;
$text-color: #333;
$secondary-text-color: #666;

$primary-color: #cc1f26;
$primary-light-color: #f00021;

$info-color: #3a87ad;
$info-bg-color: #d9edf7;
$info-border-color: #bce8f1;

$input: 260px;

@include font-face("HelveticaNeueLT", font-files("helvetica-neue/HelveticaNeueLTCom-Lt.woff", "helvetica-neue/HelveticaNeueLTCom-Lt.ttf", "helvetica-neue/HelveticaNeueLTCom-Lt.svg#HelveticaNeueLT"), "helvetica-neue/HelveticaNeueLTCom-Lt.eot?#iefix", 200, "normal");
@include font-face("HelveticaNeueLT", font-files("helvetica-neue/HelveticaNeueLTCom-Roman.woff", "helvetica-neue/HelveticaNeueLTCom-Roman.ttf", "helvetica-neue/HelveticaNeueLTCom-Roman.svg#HelveticaNeueLT"), "helvetica-neue/HelveticaNeueLTCom-Roman.eot?#iefix", 400, "normal");
@include font-face("HelveticaNeueLT", font-files("helvetica-neue/HelveticaNeueLTCom-Bd.woff", "helvetica-neue/HelveticaNeueLTCom-Bd.ttf", "helvetica-neue/HelveticaNeueLTCom-Bd.svg#HelveticaNeueLT"), "helvetica-neue/HelveticaNeueLTCom-Bd.eot?#iefix", 700, "normal");

@include all-admin-sprites;


/* ====================
   HTML
   ==================== */
body.sonata-bc {
    background: image-url('bg/grid-gray-light.png');
    color: $text-color;
    font-family: "HelveticaNeueLT", Helvetica, Arial, sans-serif;
    //min-width: 1000px;
    padding-top: 90px;
}


/* ====================
   Override Sonata
   ==================== */
.sonata-bc {
    div:focus, a:focus {outline: 0;}
    
    h2 {font-size: 24px; font-weight: 200; line-height: 1.5;}
    h3 {font-size: 17px; line-height: 1.5;}

    a {color: $primary-color;}

    textarea,
    input[type="text"], 
    input[type="password"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="date"], 
    input[type="month"], 
    input[type="time"],
    input[type="week"], 
    input[type="number"], 
    input[type="email"], 
    input[type="url"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="color"], 
    .uneditable-input {
        background: $bg-color;
        border-color: $border-color;
        @include box-shadow(none);
    }

    textarea:focus, 
    input[type="text"]:focus, 
    input[type="password"]:focus, 
    input[type="datetime"]:focus, 
    input[type="datetime-local"]:focus, 
    input[type="date"]:focus, 
    input[type="month"]:focus, 
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus, 
    input[type="url"]:focus, 
    input[type="search"]:focus, 
    input[type="tel"]:focus, 
    input[type="color"]:focus, 
    .uneditable-input:focus {
        border-color: #aaa;
        @include box-shadow(0 0 5px rgba(0, 0, 0, .2));
    }

    input[disabled] {
        background: $gray-light;
    }

    .btn {
        border-color: $border-color;
        @include background(linear-gradient(top, #fff, #f6f6f6));
        @include box-shadow(none);
        &:hover {
            @include background(linear-gradient(top, #f6f6f6, #fff));
        }
    }
    .btn-primary {
        border-color: $primary-color;
        @include background(linear-gradient(top, $primary-light-color, $primary-color));
        @include border-radius(3px);
        &:hover {
            @include background(linear-gradient(top, $primary-color, $primary-light-color));
        }
    }
    .btn-danger {
        @include background(linear-gradient(top, #ee5f5b, #bd362f));
    }
    .btn-success {
        @include background(linear-gradient(top, #62c462, #51a351));
    }

    .table {
        background: $bg-color;
        border: 1px solid $border-color;
        margin-bottom: 20px;
        width: auto;
    }
    .table-bordered {
        @include border-radius(4px);
        td, th {border-left: 0;}
        th {background: #f8f8f8;}
    }
    .table-striped tbody tr:nth-child(odd) {
        td, th {background-color: $bg-color; }
    }
    // .table-bordered thead:first-child tr:first-child {
    //     th:first-child, th:last-child {@include border-radius(0);}
    // }
    // .table-bordered tbody:last-child tr:last-child {
    //     td:first-child, td:last-child {@include border-radius(0);}
    // }

    .form-horizontal {
        .control-label {font-weight: bold; font-size: 15px; width: 250px;}
        .controls {margin-left: 270px; margin-right: 30px;}
    }

    .well {
        background: $bg-color;
        border-color: $border-color;
        @include box-shadow(none);
    }

    .connection {
        background: $bg-color;
    }
    
    .popover {width: 380px;
        .similar-project {width: 350px;
            th, td {vertical-align: top; text-align: left;}
            th {width: 100px;}
        }
    }


    /* ====================
       Header
       ==================== */
    .navbar {font-size: 13px;
        .container-fluid {max-width: none;}
        .navbar-inner {background: $bg-color; min-height: 65px; @include box-shadow(0 0 5px rgba(0, 0, 0, .2));}
        .brand {padding: 0 20px;
            img {height: 47px; margin: 7px 0 11px 0; padding-right: 0; width: 196px;}
        }
        .nav-collapse {padding-top: 21px;}
        .nav {
            & > li > a {color: $text-color; line-height: 45px; padding: 0 9px 0 9px;
                &:hover {color: $primary-color;}
            }
            .dropdown-toggle .caret {margin-top: 20px;}
        }
    }
    .navbar-text {color: $text-color; display: block; line-height: 45px; padding-top: 21px;
        .user_name, .logout_btn {display: block; float: left;}
        .logout_btn {color: transparent; height: 20px; line-height: 1; margin-top: 20px; margin-left: 10px; text-indent: -9999px; width: 17px; @include admin-sprite(logout);}
    }


    /* ====================
       Breadcrumbs
       ==================== */
    .breadcrumb {
        background: $bg-color;
        border: 1px solid $border-color;
        font-weight: bold;
        a {color: $text-color;}
    }

    /* ====================
       Content
       ==================== */
    .form-horizontal .controls {
        .controls {margin-left: 0;}
        .control-group {margin-bottom: 0;}
        .control-label {float: none; text-align: left;}
    }

    // Filters
    .sonata-filter-form {
        background: $bg-color;
        border: 1px solid $border-color;
        padding: 8%;
        @include border-radius(4px);
        .clearfix {margin-bottom: 20px;}
        select, input[type="text"], input[type="number"] {margin: 0; width: $input/2 !important;}
        .select2-container {margin: 0;}
    }

    .one_to_many.organizations {
        margin-bottom: -20px;
    }

    // Project list
    .dashboard_project_list {
        background: $bg-color;
        border: 1px solid $border-color;
        margin-bottom: 20px;
        padding: 20px;
        @include border-radius(4px);
        ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            border-bottom: 1px solid $border-color;
            display: block;
            padding: 10px 0;
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .sidebar {
        .sonata-ba-side-menu {
            margin-top: 20px;
            padding: 10px !important;
            .specify { height: 25px; width: 25px; @include icons-sprite(moreinfo-current); float:right; display:block; margin-top: -7px;
              &:hover {@include icons-sprite(moreinfo-hover);}
              .infowindow {display:none;}
            }
        }
        .alert {padding: 8px;
            i {margin-top: -2px; margin-right: 5px;}
        }
        .icon-ok-sign {vertical-align: middle; margin-right: 5px;}
        ul {margin-left: 15px;}
        li {margin: 15px 0;}
    }

    .form-horizontal .help-block {margin-bottom: 10px; margin-top: 0;} 
    
    .help-block {
        //color: transparent;
        //background: $info-bg-color;
        //border: 1px solid $info-border-color;
        color: $secondary-text-color;
        display: block;
        font-size: 15px;
        //float: left;
        padding: 5px 0 0 0;
        width: 80%;
        position: relative;
        //@include border-radius(4px);
        //height: 20px;
        //text-indent: -9999px; 
        //width: 20px;
        // .icon-info-sign {
        //     left: 3px;
        //     position: absolute;
        //     top: 3px;
        // }
    }
    
    // Tabable
    .nav-tabs {margin-bottom: 0;}
    .tab-content > .tab-pane {
        background: $bg-color;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        padding: 30px 2% 10px 2%;
        @include border-radius(0 0 4px 4px);
        //select {min-width: $input;}
    }

    .a2lix_translationsFields.tab-content > .tab-pane {padding-top: 10px;}
}

.ui-dialog .sonata-ba-list .table {width: 100%;}
.ui-dialog .sonata-filter-form  {
    border: 0;
    padding: 0;
    legend {width: 90%;}
}


/* ====================
   Project Form
   ==================== */
#projectForm {
    label.required, th.required {color:#cc1f26;}
    select {width: $input;}
    .one_to_many {
        textarea,
        select,
        input[type="text"],
        input[type="number"],
        .field-short-description {min-width: 100px; width: $input*0.6;}
    }
    .date-selects  {
        select {width: ($input - 10)/2;}
        .select2-container {margin: 0 10px 0 0;}
    }

    // Tabable
    .nav-tabs {display: none;}
    .tab-content > .tab-pane {
        background: $bg-color;
        border: 1px solid $border-color;
        display: block !important;
        margin: 20px 0;
        overflow-y: hidden;
        padding: 15px 2%;
        position: relative;
        @include border-radius(4px);
        h2 {
            padding-left: 268px;
            margin-bottom: 25px;
        }
    }

    // .currency {
    //     & > .control-group {float: left;
    //         .control-label, .controls {float: left;}
    //         .control-label {margin-left: 20px; margin-right: 10px; width: auto;}
    //     }
    //     select {width: $input/3;}
    // } 
}


/* ====================
   Select2
   ==================== */
.sonata-bc {
    .select2-drop .select2-results {margin: 0;}
    .select2-container .select2-choice,
    .select2-container-multi .select2-choices,
    .select2-dropdown-open .select2-choice {
        background: $bg-color;
        border-color: $border-color;
        @include border-radius(3px);
        @include box-shadow(none);
    }
    .select2-choice {
        height: 28px;
    }
    .select2-drop {
        background: $bg-color;
    }
    .select2-container.select2-container-disabled,
    .select2-container.select2-container-multi-disabled {
        .select2-drop,
        .select2-choice,
        .select2-choices,
        .select2-choice div,
        .select2-dropdown-open .select2-choice {
            background: $gray-light;
        }
    }
    .select2-container {
        .select2-choice div {
            background: $bg-color;
            border-left: 0;
        }
        input {
            @include box-shadow(none);
        }
    }
    .select2-results .select2-highlighted {
        background: $gray-light;
        color: $text-color;
    }
}


.messages.warning, .messages .fos_user_success {
    background: image-url('bg/grid-warning.png');
    border: 1px solid #D93600;
    margin: 20px auto 0 auto;
    padding: 10px 2%;
    text-align: center;
    width: 96%;
    @include border-radius(5px);
}
.messages p {margin: 1em 0;}

.hidden {display: none;}

@media screen and (max-width: 980px) {
    body.sonata-bc {
        padding-top: 0;
        .navbar { 
            .navbar-inner {padding: 0;}
            .nav {
                & > li > a {line-height: 30px; padding-top: 5px;}
                .dropdown-toggle .caret {margin-top: 10px;}
            }
        }
    }
}
