{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ 'title_select_provider'|trans({}, 'SonataMediaBundle') }}{% endblock %}

{% block content %}
	<h2>{{ 'select_language'|trans({}, 'SimbioticaAdmin') }}</h2>
    <ul class="nav nav-pills nav-stacked">
        {% for code, language in languages %}
            <li><a href="{{ admin.generateUrl('create', {'language': language}) }}">{{ language|trans({}, 'SimbioticaAdmin') }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
