/* ====================
   Compass
   ==================== */
@import "compass/css3";

@include font-face("HelveticaNeueLT", font-files("helvetica-neue/HelveticaNeueLTCom-Lt.woff", "helvetica-neue/HelveticaNeueLTCom-Lt.ttf", "helvetica-neue/HelveticaNeueLTCom-Lt.svg#HelveticaNeueLT"), "helvetica-neue/HelveticaNeueLTCom-Lt.eot?#iefix", 200, "normal");

@include font-face("HelveticaNeueLT", font-files("helvetica-neue/HelveticaNeueLTCom-Roman.woff", "helvetica-neue/HelveticaNeueLTCom-Roman.ttf", "helvetica-neue/HelveticaNeueLTCom-Roman.svg#HelveticaNeueLT"), "helvetica-neue/HelveticaNeueLTCom-Roman.eot?#iefix", 400, "normal");

@include font-face("HelveticaNeueLT", font-files("helvetica-neue/HelveticaNeueLTCom-Bd.woff", "helvetica-neue/HelveticaNeueLTCom-Bd.ttf", "helvetica-neue/HelveticaNeueLTCom-Bd.svg#HelveticaNeueLT"), "helvetica-neue/HelveticaNeueLTCom-Bd.eot?#iefix", 700, "normal");

// Vars
$gray-dark: #222222;
$white: white;
$blue-light: #00c3ff;
$blue: deepskyblue;
$blue-dark: #009bcf;
$blue-dark-2: #00a1d4;
$red: #cc2127;
$red-light: #f00021;
$red-dark: #cd2027;

/* ====================
   Base styles
   ==================== */
html, button, input, select, textarea {
    color: $gray-dark;
    font-family: "HelveticaNeueLT", Helvetica, Arial, sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background: image-url("bg/grid-gray.png");
    font-size: 13px;
    line-height: 1.4;
}

h1, h2 {
    font-size: 24px;
    font-weight: lighter;
}

h2 {
    font-size: 17px;
}

a {
    color: $gray-dark;
    text-decoration: none;
}

label, input {
    display: block;
    float: left;
    margin-right: 10px;
}

label {
    margin-top: 9px;
    text-align: right;
    width: 90px;
}

select {
    height: 30px;
    width: 200px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    border: 1px solid #ddd;
    padding: 7px 5px;
    width: 190px;
    @include border-radius(4px);
}

textarea {
    height: 50px;
}

input:focus, textarea:focus {
    outline: none;
    @include box-shadow(0 0 3px 3px rgba(85, 85, 85, 0.1));
}

/* ====================
   Structure
   ==================== */
.row {
    margin: 0 auto;
    max-width: 940px;
    .col {
        float: left;
        margin: 0 2%;
    }
    .span12 {
        width: 96%;
    }
    .span8 {
        width: 62.6666667%;
    }
    .span6 {
        width: 46%;
    }
    .span4 {
        width: 29.3333334%;
    }
}

.btn, .btn_register {
    background-color: $red-dark;
    border: 1px solid $red-dark;
    color: $white;
    display: block;
    font-size: 17px;
    line-height: 22px;
    margin: 0 auto;
    padding: 5px 0 3px 0;
    text-align: center;
    @include border-radius(4px);
    @include background(linear-gradient(top, $red-light, $red-dark));
    &:hover {
        background-color: $red-light;
        @include background(linear-gradient(top, $red-dark, $red-light));
    }
}

.btn_register {
    display: inline-block;
    margin-left: 3px;
    padding: 4px 12px 2px 12px;
}

/* ====================
   Header
   ==================== */
.main_header {
    margin: 30px 0 40px 0;
    .col {
        position: relative;
    }
}

.logo {
    height: 47px;
    width: 196px;
    img {
        display: block;
    }
}

.learn_more {
    background: $red;
    color: $white;
    display: block;
    font-size: 13px;
    height: 90px;
    line-height: 1;
    margin: 0 auto;
    padding-top: 30px;
    position: absolute;
    text-align: center;
    top: 0px;
    right: 30px;
    width: 120px;
    z-index: 1;
    @include border-radius(100%);
    @include box-shadow(0 0 4px 5px rgba(0, 0, 0, 0.14));
    @include transform(rotate(10deg));
    strong {
        font-size: 33px;
    }
}

/* ====================
   Main
   ==================== */
.main_content {
    margin: 30px 0;
}

.intro {
    max-width: 85%;
    margin: 0 auto 30px auto;
    text-align: center;
}

.content {
    background: white;
    padding: 30px 0;
    @include border-radius(6px);
    @include box-shadow(0 5px 10px -5px rgba(0, 0, 0, 0.2));
    h1 {margin-top: 0;}
    h1, h2 {
        text-align: center;
    }
    .btn {
        width: 200px;
    }
}

.form-content {
    .col {
        margin: 0;
        padding: 0 2%;
        &:first-child {
            border-right: 1px solid #ddd;
            margin-right: -1px;
        }
    }
}

.donors_list {
    list-style: none;
    margin: 1em 0;
    padding: 0;
    li {
        display: block;
        float: left;
        margin: 0 11%;
    }
    img {
        display: block;
    }
}

.login_form, .register_form, .reset_password_form {
    margin: 15px 0;
    .form_row {
        margin: 8px 0;
        .remember_me {
            padding-left: 100px;
            width: auto;
        }
        .submit {
            margin-right: 0;
            padding: 5px 0 3px 0;
            width: 100px;
        }
    }
    footer {
        padding-left: 100px;
        p {
            margin: 5px 0;
            font-size: 11px;
        }
    }
}

.reset_password_form {
    margin: 0 auto;
    width: 50%;
}

.register_form {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    .form_row {
        label {
            width: 160px;
        }
        label.error {
            clear: both;
            color: $red;
            float: none;
            margin-top: 0;
            padding-left: 170px;
            padding-top: 5px;
            text-align: left;
            width: auto;
        }
        select {
            width: 312px;
        }
        #fos_user_registration_form_otherOrganization,
        #fos_user_registration_form_position,
        #fos_user_registration_form_relevance {
            width: 300px;
        }
    }
    .terms_row {
        a {
            text-decoration: underline;
        }
        input[type="checkbox"] {
            display: inline;
            float: none;
            height: auto;
            width: auto;
        }
        label {
            width: 370px;
        }
        label.error {
            display: inline;
            clear: auto;
            padding: 0;
        }
    }
    .custom_row {
        float: left;
        margin: 0 0 8px 0;
        overflow: hidden;
        width: 390px;
    }
}

.terms {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding: 20px 30px 0 30px;
}

.public {
    padding: 0 20px;
}

.donors {
    border-top: 1px solid #ccc;
    margin: 30px 0;
    padding-top: 10px;
}

.error_list {
    clear: both;
    padding-left: 140px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        color: $red;
        margin: 3px 0 0 0;
    }
}

.messages {
    &.warning, .fos_user_success {
        background: image-url("bg/grid-warning.png");
        border: 1px solid #D93600;
        margin: 20px auto;
        max-width: 520px;
        padding: 10px 15px;
        text-align: center;
        @include border-radius(5px);
    }
    .fos_user_success {
        background: image-url("bg/grid-success.png");
        border-color: #00D900;
    }
}

/* ====================
   Footer
   ==================== */
.main_footer {
    background: image-url("bg/grid-gray-dark.png");
    padding: 20px 0;
    .footer_nav {
        font-size: 15px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            display: block;
            float: left;
            a {
                display: block;
                color: $white;
                font-weight: 700;
                margin-right: 15px;
            }
            span {
                display: none;
            }
        }
        .child-menu {
            margin-right: 0;
        }
        .current {
            display: none;
        }
    }
    .lang_nav {
        float: right;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            display: block;
            float: left;
            a {
                margin-left: 15px;
                margin-right: 0;
            }
        }
    }
    &.fixed {
        bottom: 0;
        position: fixed;
        width: 100%;
    }
}

@import "helpers";