{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% for role in object.roles %}
            {{ role }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
{% endblock %}