<article class="content">
<section>
<div class="row">
<header>
<div class="col_1">
<h1>What is CaLP?</h1>
</div>
</header>

<div class="col_2">
<p class="big">The Cash Learning Partnership aims to improve the quality of emergency cash transfer and voucher programming across the humanitarian sector.</p>

<p>The 5 steering committee organisations (Oxfam GB, the British Red Cross, Save the Children, the Norwegian Refugee Council and Action Against Hunger / ACF International) have come together to support capacity building, research and information-sharing on cash transfer programming as an effective tool to help deliver aid in times of crisis.</p>

<p>&nbsp;</p>
</div>

<div class="col_2">
<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/photo.png" /></figure>
</div>
</div>

<div class="row gray">
<div class="col_2">
<h2>Vision statement</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/vision-statement.png" /></figure>

<blockquote>&lsquo;Humanitarian preparedness and response is more effective at meeting the diverse needs of affected people and promoting recovery&rsquo;.</blockquote>

<p>CaLP promotes appropriate, timely and quality cash and voucher programming in humanitarian response as a tool to contribute to this vision.</p>
</div>

<div class="col_2">
<h2>CaLP&#39;s Mission</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/rationale-and-context.png" /></figure>

<p>The CaLP serves as a network to build capacity and promote the use of cash and vouchers in emergencies, share learning, and to coordinate and standardise strategies and approaches.</p>
</div>
</div>
</section>

<section>
<div class="row red">
<div class="col_1">
<h1>CaLP&rsquo;s pillars of activities</h1>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/graph.png" /></figure>
</div>

<div class="clearfix">
<div class="col_2">
<h2><a href="http://www.cashlearning.org/what-we-do/training">Capacity building</a></h2>

<p>CaLP supports key humanitarian actors in acquiring or improving their knowledge and practice to design and implement quality cash and voucher programmes.</p>
</div>

<div class="col_2">
<h2><a href="http://www.cashlearning.org/what-we-do/research-focus">Action research and Evidence gathering</a></h2>

<p>CaLP helps key humanitarian stakeholders to access tools, good practice, action research and programme guidance to improve the quality of CTP.</p>
</div>
</div>

<div class="clearfix">
<div class="col_2">
<h2>Advocacy and information sharing</h2>

<p>CaLP encourages key humanitarian stakeholders to have a better understanding of the appropriateness of CTP through targeted advocacy and information sharing.</p>
</div>

<div class="col_2">
<h2>Advocacy &amp; coordination and contingency</h2>

<p>CaLP pushes key humanitarian stakeholders show progress in addressing limitations in CTP coordination and preparedness through targeted advocacy and sharing</p>
</div>
</div>
</div>
</section>

<footer>
<div class="row">
<div class="col_1">
<p>For further information on CaLP&rsquo;s strategy, please visit CaLP&rsquo;s <a href="http://www.cashlearning.org/what-we-do/calp-s-strategy-2012-2015">website</a>.</p>
<!-- Logotipos -->

<ul class="donors_list clearfix">
    <li class="usaid"><a href="http://www.usaid.gov/" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/usaid.png" /></a></li>
    <li class="canadian-agency"><a href="http://www.acdi-cida.gc.ca/home" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/canadian-agency.png" /></a></li>
    <li class="visa"><a href="http://www.visaeurope.com/en/visa-europe.aspx" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/visa.png" /></a></li>
    <li class="eu"><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/eu-humanitarian-aid.png" /></a></li>
    <li class="ukaid"><a href="https://www.gov.uk/government/organisations/department-for-international-development" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/uk-aid.png" /></a></li>
</ul>
</div>
</div>
</footer>
</article>