<article class="content">
<div class="row">
<header>
<div class="col_1">
<h1>About the Cash Atlas</h1>
</div>

<div class="col_2">
<p class="big">Nowadays, cash transfer programmes (CTPs) are increasingly being used in emergencies throughout the world.</p>

<p class="medium">&nbsp;</p>

<blockquote>According to the Global Humanitarian Assistance report, &ldquo;between 2008 and 2011 humanitarian spending on cash and voucher-based programming ranged between US$45 million and US$188 million. [...] The number of donors funding cash transfer programmes in humanitarian emergencies increased from 6 in 2006 to 21 in 2011, peaking at 41 donors in 2010 in response to the emergencies in Haiti and Pakistan&rdquo;.</blockquote>

<figure class="content_image"><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/about.png" /></figure>
</div>
</header>

<div class="col_2">
<p>On top of this, modalities, delivery mechanisms, conditionality greatly differ from one programme or context to another. CTPs have commonly been used in the food security and livelihood sector, but programme evaluations and case studies reveal that CTPs are increasingly being used to meet other needs, such as shelter. Humanitarian organisations are also beginning to explore CTPs in other sectors, such as WASH, or in cross-sector interventions.</p>

<p>Despite indications of their increasing use and diversification, there is presently no global overview of the use of CTPs in emergencies. Such an overview would allow humanitarian actors to understand how, when, where, at what scales and for what purpose cash programmes are being used.</p>

<p>In this vein, CaLP has developed the Cash Atlas. This interactive map allows the diverse actors involved in the design and implementation of CTPs to better understand the various uses of CTPs, on a global level.</p>
</div>
</div>
</article>

<section class="content">
<div class="row red">
<div class="col_1">
<header>
<h1>What can you do with the Cash Atlas?</h1>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/screenshot.png" /></figure>
</header>
</div>
</div>

<div class="row gray">
<div class="clearfix">
<article class="col_2">
<h2>Filter information for ease of use</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/clearer-info.png" /></figure>

<p>Maps can be confusing if the sheer amount of data overwhelms users. By filtering the information, you will be able to find the information you are looking for at a glance.</p>
</article>

<article class="col_2">
<h2>Enter new information / Update displayed information</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/display-info.png" /></figure>

<p>Members can add projects, upload documents or edit data at any moment. They can also share ownership to let other members contribute to make the information more complete</p>
</article>
</div>

<div class="clearfix">
<article class="col_2">
<h2>Extract information at any stage</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/any-moment.png" /></figure>

<p>Different users will have different needs. The Cash Atlas takes this into account, which is why you will be able to extract information at any stage: at a global, national or province level, with or without filters activated.</p>
</article>

<article class="col_2">
<h2>Find out more about a project</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/search-info.png" /></figure>

<p>In order to make sure the map contains a critical mass of information and remains updated, the information collected has had to be relatively &ldquo;top-line&rdquo;. However, you can find out more information by viewing any documents attached to the project of interest and/or sending an email to the contact person for the project.</p>
</article>
</div>

<div class="clearfix">
<footer>

</footer>
</div>
</div>
</section>