<article class="content">
<div class="row">
<div class="col_1">
<header>
<h1>Contact us</h1>

<p>If you have any questions, or would like further information, you can contact us at&nbsp;<a href="mailto:cash-atlas@cashlearning.org" target="_blank">cash-atlas@cashlearning.org</a>.</p>
</header>
</div>
</div>

<div class="row gray">
<div class="col_1">
<h2>Contact CaLP</h2>

<p>If you wish to enter in contact with one of the CaLP members, please use the below email addresses:</p>

<div class="contact_data">
<h3>CaLP&#39;s Secretariat (UK)</h3>

<table>
	<tbody>
		<tr>
			<td>Helene Juillard, <span class="position">CaLP&rsquo;s Interim Coordinator</span>:</td>
			<td><a href="mailto:coordinator@cashlearning.org" target="_blank">coordinator@cashlearning.org</a></td>
		</tr>
		<tr>
			<td>Lili Mohiddin, <span class="position">CaLP&rsquo;s Technical Coordinator</span>:</td>
			<td><a href="mailto:techco@cashlearning.org" target="_blank">techco@cashlearning.org</a></td>
		</tr>
		<tr>
			<td>Haley Bowcock, <span class="position">Advocacy officer</span>:</td>
			<td><a href="mailto:advocacy@cashlearning.org" target="_blank">advocacy@cashlearning.org</a></td>
		</tr>
		<tr>
			<td>Yoann Tuzzolino, <span class="position">Communications Officer</span>:</td>
			<td><a href="mailto:communications@cashlearning.org" target="_blank">communications@cashlearning.org</a></td>
		</tr>
		<tr>
			<td>Vanee parthipan, <span class="position">Finance officer</span>:</td>
			<td><a href="mailto:finance@cashlearning.org" target="_blank">finance@cashlearning.org</a></td>
		</tr>
		<tr>
			<td>Claire Rodgerson, <span class="position">Administration Officer</span>:</td>
			<td><a href="mailto:administrator@cashlearning.org" target="_blank">administrator@cashlearning.org</a></td>
		</tr>
	</tbody>
</table>

<h3>East Africa</h3>

<table>
	<tbody>
		<tr>
			<td>Glenn Hughson, <span class="position">Regional Focal Point</span>:</td>
			<td><a href="mailto:eastafrica@cashlearning.org" target="_blank">eastafrica@cashlearning.org</a></td>
		</tr>
		<tr>
			<td>Michael Ochieng, <span class="position">Capacity Building Officer</span>:</td>
			<td><a href="mailto:training.mochieng@cashlearning.org" target="_blank">training.mochieng@cashlearning.org</a></td>
		</tr>
	</tbody>
</table>

<h3>West Africa</h3>

<table>
	<tbody>
		<tr>
			<td>Christophe Breyne, <span class="position">Regional Focal Point</span>:</td>
			<td><a href="mailto:westafrica@cashlearning.org" target="_blank">westafrica@cashlearning.org</a></td>
		</tr>
	</tbody>
</table>

<h3>Asia</h3>

<table>
	<tbody>
		<tr>
			<td>Carla Lacerda, Regional Focal Point:</td>
			<td><a href="mailto:asia@cashlearning.org" target="_blank">asia@cashlearning.org</a></td>
		</tr>
	</tbody>
</table>

<h3>USA</h3>

<table>
	<tbody>
		<tr>
			<td>Lily Frey, <span class="position">Advocacy Officer US</span>:</td>
			<td><a href="mailto:advocacy.usa@cashlearning.org" target="_blank">advocacy.usa@cashlearning.org</a></td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>

<footer>
<div class="row">
<div class="col_2">
<h3>Find us on Facebook and Twitter</h3>

<ul class="social_nav">
	<li><a class="facebook" href="">Facebook</a></li>
	<li><a class="twitter" href="">Twitter</a></li>
</ul>
</div>

<div class="col_2">
<h3>CaLP&#39;s newsletter</h3>

<p>If you wish to subscribe to CaLP&rsquo;s newsletter, please register <a href="" target="_blank">here</a>.</p>
</div>

<div class="col_1">
<h3>CaLP&#39;s D-Group</h3>

<p>CaLP has a very active online forum for global discussion of cash based responses and related work in emergencies. If you wish to take part in discussions, you can subscribe&nbsp;<a href="" target="_blank">here</a>.</p>
<!-- Logos --></div>
</div>
</footer>
</article>
