<section class="content">
<div class="row">
<div class="clearfix">
<div class="col_1">
<header>
<h1>Our Donors</h1>

<p>The Cash Atlas is supported by American Red Cross, ECHO and USAID/OFDA</p>
</header>
</div>
</div>

<article class="clearfix">
<div class="col_3">
<figure><a href="http://www.redcross.org" target="_blank"><img src="/bundles/simbioticacalp/dist/images/contents/donors/american-red-cross.png" /></a></figure>
</div>

<div class="col_2_3">
<header>
<h3><a href="http://www.redcross.org" target="_blank">American Red Cross</a></h3>

<p>Each year, the American Red Cross immediately responds to about 70,000 natural and man-made disasters in the U.S., ranging from fires to hurricanes, floods, earthquakes, tornadoes, hazardous materials spills, transportation accidents and explosions.</p>
</header>

<p>People count on the Red Cross to help them in their darkest hour. In turn, the support of donors makes it possible for the Red Cross to fulfill its humanitarian mission. We are deeply grateful for the generosity of individuals, corporations and foundations who invest in the Red Cross.</p>
</div>
</article>

<article class="clearfix">
<div class="col_3">
<figure><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank"><img src="/bundles/simbioticacalp/dist/images/contents/donors/eu-humanitarian-aid.png" /></a></figure>
</div>

<div class="col_2_3">
<header>
<h3><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank">ECHO</a></h3>

<p>The European Union as a whole is the world&rsquo;s biggest donors of humanitarian aid. Together, Member States and European Institutions contribute more than half of official global humanitarian aid.</p>
</header>

<p>The Commission&rsquo;s European Community Humanitarian Office (ECHO) was created in 1992 as an expression of the European solidarity with people in need all around the world. In its 20 year existence it has provided &euro;14 billion of humanitarian assistance to victims of conflict and disasters in 140 countries around the globe. Over the last five years ECHO&rsquo;s annual budget has averaged &euro;1 billion. In 2011 alone these funds reached nearly 150 million of the world&rsquo;s most vulnerable people in over 80 countries.</p>
</div>
</article>

<article class="clearfix">
<div class="col_3">
<figure><a href="http://www.usaid.gov/" target="_blank"><img src="/bundles/simbioticacalp/dist/images/contents/donors/usaid.png" /></a></figure>
</div>

<div class="col_2_3">
<header>
<h3><a href="http://www.usaid.gov/" target="_blank">USAID / OFDA</a></h3>

<p>USAID carries out U.S. foreign policy by promoting broad-scale human progress at the same time it expands stable, free societies, creates markets and trade partners for the United States, and fosters good will abroad.</p>
</header>

<p>In 2012, USAID&rsquo;s Office of U.S. Foreign Disaster Assistance responded to 63 crises in 54 countries, providing life-saving assistance to tens of millions of people including those enduring:</p>

<ul>
	<li>Conflict in Syria&middot; Severe drought across the Horn of Africa</li>
	<li>Flooding in Pakistan, India, the Philippines, and El Salvador</li>
	<li>Food insecurity in the African Sahel&middot; Earthquake in Turkey</li>
	<li>Complex emergencies in Yemen, the Democratic Republic of Congo, Burma, Mali, and South Sudan</li>
</ul>
</div>
</article>
</div>
</section>