{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% for user in object.users %}
            {% if user.user.id is defined %}
                {% if admin.isGranted('EDIT', user.user) %}
                    <a href="{{ path('admin_simbiotica_calp_user_edit', {'id': user.user.id }) }}
                           ">{{ user.user.__toString() }}</a>{% if not loop.last %}, {% endif %}
                {% else %}
                    {{ user.user.__toString() }}{% if not loop.last %}, {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}