{% block user_block %}
    {% if app.user %}
        <div class="user_name">{{ app.user }}

        {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
            <a href="{{ url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) }}" data-title="Exit" class="exit_btn">(exit)</a>
        {% endif %}
        </div>

        <a href="{{ url('sonata_user_admin_security_logout') }}" data-title="Logout" class="logout_btn">{{ 'user_block_logout'|trans({}, 'SonataUserBundle') }}</a>
    {% endif %}
{% endblock %}