{% extends 'SimbioticaCalpBundle:Content:standard.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% if app.environment == 'prod' %}
        <script src="{{ asset('bundles/simbioticacalp/dist/vendor/require.js') }}" data-main="{{ asset('bundles/simbioticacalp/dist/scripts/contact/main') }}"></script>
    {% else %}
        <script src="{{ asset('bundles/simbioticacalp/vendor/requirejs/require.js') }}" data-main="{{ asset('bundles/simbioticacalp/app/scripts/contact/main') }}"></script>
    {% endif %}
{% endblock %}
    
{% block main %}
    <div class="main_content" role="main">
        <section class="wrap_content clearfix">
            <article class="content">
                <div class="row">
                    <div class="col_1">
                        <header>
                            <h1>{{ 'contact.title'|trans({}, 'SimbioticaFront') }}</h1>
                            <p>{{ 'contact.subtitle'|trans({}, 'SimbioticaFront') }}</p>
                        </header>
                    </div>
                </div>
                <div class="row gray">
                    <div id="contact_form" class="col_1">
                        {{ render(url('ajax_simbiotica_contact_form',  {'context': 'general'})) }}
                    </div>
                </div>
                {{ content.content | raw }}
            </article>
        </section>
        <footer class="footer_content">
            <nav class="footer_nav clearfix">
                {{ knp_menu_render('main') }}
            </nav>
        </footer>
    </div>
{% endblock %}
