{% extends 'SimbioticaCalpBundle:Templates:application.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}

{% block bodyAttrs %}id="{{ content.uri }}"{% endblock %}

{% block stylesheets %}
    {% if app.environment == 'prod' %}
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/dist/styles/content/main.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/normalize-css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/.tmp/styles/content/main.css') }}">
    {% endif %}
{% endblock %}

{% block main %}
    <div class="main_content" role="main">
        <section class="wrap_content clearfix">
            {{ content.content | raw }}
        </section>
        <footer class="footer_content">
            <nav class="footer_nav clearfix">
                {{ knp_menu_render('main') }}
            </nav>
        </footer>
    </div>
{% endblock %}

{% block language %}
    <div class="lang_nav">
        <ul class="clearfix">
            <li><span class="current_lang">{{ app.request.locale }}</span>
                <ul class="clearfix">
                    {% for index, route in switcherData %}
                        <li><a href="{{ route }}">{{ index }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}