{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% for location in object.locations %}
            {% if location.region.id is defined %}
                {% if admin.isGranted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('admin_simbiotica_calp_region_edit', {'id': location.region.id }) }}
                           ">{{ location.region.__toString() }}</a>{% if not loop.last %}, {% endif %}
                {% else %}
                    {{ location.region.__toString() }}{% if not loop.last %}, {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}