{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% for donor in object.donors %}
            {% if donor.organization.id is defined %}
                {% if admin.isGranted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('admin_simbiotica_calp_organization_edit', {'id': donor.organization.id }) }}
                           ">{{ donor.organization.__toString() }}</a>{% if not loop.last %}, {% endif %}
                {% else %}
                    {{ donor.organization.__toString() }}{% if not loop.last %}, {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}