{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% set arr = {} %}
        {% for location in object.locations %}
            {% set index = location.country.id %}
            {% set arr = arr|merge({index: location}) %}
        {% endfor %}
        {% for location in arr %}
            {% if location.country.id is defined %}
                {% if admin.isGranted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('admin_simbiotica_calp_country_edit', {'id': location.country.id }) }}
                           ">{{ location.country.__toString() }}</a>{% if not loop.last %}, {% endif %}
                {% else %}
                    {{ location.country.__toString() }}{% if not loop.last %}, {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}