{% if admin.isGranted('ROLE_SUPER_ADMIN') and admin.id(object) %}
    <a class="btn sonata-action-element" href="{{ admin.generateObjectUrl('notification', object) }}">
        <i class="icon-user"></i>
        {{ 'action_notification'|trans({}, 'SimbioticaAdmin') }}</a>
{% endif %}