{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ 'title_compare'|trans({}, 'SimbioticaAdmin') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-view">
    <table class="compare table table-bordered">
        <tr>
            <th></th>
            {% for project in projects %}
                <th>{{ project.__toString }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'project_admin.form.background_information' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_language' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.language | trans({}, "SimbioticaAdmin") }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_organizations_list' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for organization in project.organizations %}
                         {{ organization.organization.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_affiliates' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.affiliates }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_implementing_partners' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.implementingPartners }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_countries' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for location in project.locations %}
                        {% if location.country %}
                            {{ location.country.name }}{% if not loop.last %}, {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_regions_list' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for location in project.locations %}
                        {% if location.region %}
                            {{ location.region.name }}{% if location.scale %} - {{ location.scale }}{% endif %}{% if not loop.last %}, {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_city' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for location in project.locations %}
                        {% if location.city %}
                            {{ location.city }}{% if not loop.last %}, {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if project.city %}
                        , {{ project.city }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_scale' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.scale }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_initial_scale' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.initialScale }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_specific_objective' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.specificObjective }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_description' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.description }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_sectors' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for sector in project.sectors %}
                         {{ sector.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {% if project.otherSectors | length > 0 %}
                         , {{project.otherSectors}}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_donors' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for donor in project.donors %}
                         {{ donor.donor.name }}{% if donor.amount %} - {{ donor.amount }}{% endif %}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_budget_overall' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>€{{ project.budgetOverall|number_format(0, '.', ',') }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_initial_budget_overall' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>€{{ project.initialBudgetOverall|number_format(0, '.', ',') }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_project_context' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for context in project.projectContext %}
                         {{ contexts[context] | trans({}, 'SimbioticaAdmin') }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_starting_date' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                {% if project.startingDate is defined and project.startingDate.month %}
                    <td>{{ months[project.startingDate.month] | trans({}, 'SimbioticaAdmin') }}/{{ project.startingDate.year }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_ending_date' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                {% if project.endingDate is defined and project.endingDate.month %}
                    <td>{{ months[project.endingDate.month] | trans({}, 'SimbioticaAdmin') }}/{{ project.endingDate.year }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_first_cash_date' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                {% if project.firstCashDate is defined and project.firstCashDate.month %}
                    <td>{{ months[project.firstCashDate.month] | trans({}, 'SimbioticaAdmin') }}/{{ project.firstCashDate.year }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_duration' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.duration }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'project_admin.form.analysis_information' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_market_assessment' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% if project.marketAssessment.options is defined and project.marketAssessment.options is not empty %}
                        {% for tool in project.marketAssessment.options %}
                            {{ marketAssessmentTools[tool] | trans({}, 'SimbioticaAdmin') }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        {% if project.marketAssessment.other | length > 0 %}
                             , {{ project.marketAssessment.other }}
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_coordination_mechanisms' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for coordinationMechanism in project.coordinationMechanisms %}
                         {{ coordinationMechanism.coordinationMechanism.name }}{% if coordinationMechanism.specify %} - {{ coordinationMechanism.specify }}{% endif %}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'project_admin.form.technical_information' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.modalities' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    <table>
                        {% for modalities in project.modalities %}
                            <tr>
                                {% if modalities.modality is defined and modalities.modality is not empty %}
                                    <td>{{ modalityList[modalities.modality] | trans({}, "SimbioticaAdmin") }}{% if modalities.modalitySpecify %} - {{ modalities.modalitySpecify }}{% endif %}</td>
                                    {% if modalities.deliveryMechanism is defined and modalities.deliveryMechanism is not empty %}
                                        <td>{{ deliveryMechanismList[modalities.deliveryMechanism] | trans({}, "SimbioticaAdmin") }}{% if modalities.deliveryMechanismSpecify %} - {{ modalities.deliveryMechanismSpecify }}{% endif %}</td>
                                        {% if modalities.deliveryAgent is defined and modalities.deliveryAgent is not empty %}
                                            <td>{{ deliveryAgentList[modalities.deliveryAgent] | trans({}, "SimbioticaAdmin") }}{% if modalities.deliveryAgentSpecify %} - {{ modalities.deliveryAgentSpecify }}{% endif %}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                            <tr>
                                {% if modalities.scale %}
                                    <td>{{ 'list.modalities_scale' | trans({}, "SimbioticaAdmin") }}: {{ modalities.scale }}</td>
                                {% endif %}
                                {% if modalities.transfers %}
                                    <td>{{ 'list.modalities_transfers' | trans({}, "SimbioticaAdmin") }}: {{ modalities.transfers }}</td>
                                {% endif %}
                                {% if modalities.amount %}
                                    <td>{{ 'list.modalities_amount' | trans({}, "SimbioticaAdmin") }}: {{ modalities.amount }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_budget_allocated' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.budgetAllocated }}</td>
            {% endfor %}
        <tr>
            <th>{{ 'list.label_type_of_intervention' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                {% if project.typeOfIntervention %}
                    <td>{{ typeOfInterventionList[project.typeOfIntervention] | trans({}, "SimbioticaAdmin") }}{% if project.typeOfInterventionSpecify %} - {{ project.typeOfInterventionSpecify }}{% endif %}</td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'project_admin.form.general_information' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_contact_person_name' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.contactPersonName }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_contact_person_position' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.contactPersonPosition }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_contact_person_email_one' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.contactPersonEmailOne }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_contact_person_email_two' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.contactPersonEmailTwo }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_contact_organization_url' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.contactOrganizationUrl }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_media' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for media in project.galleryHasMedias %}
                         {{ media.media.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_fields' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for field in project.fields %}
                         {{ field.field.name }} - {{ field.value }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_owners' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for user in project.owners %}
                         {{ user.firstname }} {{ user.lastname }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_editors' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for user in project.editors %}
                         {{ user.firstname }} {{ user.lastname }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_revisors' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>
                    {% for user in project.revisors %}
                         {{ user.firstname }} {{ user.lastname }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'list.label_revision_notes' | trans({}, "SimbioticaAdmin") }}</th>
            {% for project in projects %}
                <td>{{ project.revisionNotes }}</td>
            {% endfor %}
        </tr>
    </table>
    </div>
{% endblock %}
