{% block side_menu %}
{% spaceless %}
    {% if admin.id(object) %}
        {{ render(controller('SimbioticaCalpBundle:Admin\\ProjectAdmin:sidebar', {
            'id': object.id,
            '_sonata_admin': 'simbiotica.calp.admin.project'
        })) }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SimbioticaCalpBundle:ProjectAdmin:notification_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:history_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:acl_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block form %}
	{% set url = admin.id(object) ? 'edit' : 'create' %}

	{% if not admin.hasRoute(url)%}
		<div>
			{{ "form_not_available"|trans({}, "SonataAdminBundle") }}
		</div>
	{% else %}
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
                        
                        {{ 'project_create.instructions'|trans({}, 'SimbioticaAdmin') | raw }}
			
                 </div>
		<div class="messages warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
                        
			<p>{{ 'project_create.alert'|trans({}, 'SimbioticaAdmin') | raw }}</p>
		</div>		

		<form class="form-horizontal" id="projectForm" action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }} method="POST">
			{% if form.vars.errors|length > 0 %}
				<div class="sonata-ba-form-error">
					{{ form_errors(form) }}
				</div>
			{% endif %}

			{% block sonata_pre_fieldsets %}
				<div class="tabbable">
					{#
					<ul class="nav nav-tabs">
						{% for name, form_group in admin.formgroups %}
							<li class="{% if loop.first %}active{% endif %}">
								<a href="#{{ admin.uniqid }}_{{ name|sonata_slugify }}" data-toggle="tab">
									<i class="icon-exclamation-sign has-errors hide"></i>
									{{ admin.trans(name) }}
								</a>
							</li>
						{% endfor %}
					</ul>
					#}
			{% endblock %}
				<div class="tab-content">
					{% for name, form_group in admin.formgroups %}
						<div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ name|sonata_slugify }}">
							<h2>{{ admin.trans(name) }}</h2>
							<fieldset>
								<div class="sonata-ba-collapsed-fields">
									{% if form_group.description != false %}
										<p>{{ form_group.description|raw }}</p>
									{% endif %}

									{% for field_name in form_group.fields %}
										{% if admin.formfielddescriptions[field_name] is defined %}
											{{ form_row(form[field_name])}}
										{% endif %}
									{% endfor %}
								</div>
							</fieldset>
						</div>
					{% endfor %}
				</div>

			{% block sonata_post_fieldsets %}
				{% block formactions %}
					<div class="well form-actions">
						{% if app.request.isxmlhttprequest %}
							{% if admin.id(object) %}
								<input type="submit" class="btn btn-primary" name="btn_update" value="{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}"/>
							{% else %}
								<input type="submit" class="btn" name="btn_create" value="{{ 'btn_create'|trans({}, 'SonataAdminBundle') }}"/>
							{% endif %}
						{% else %}
							{% if admin.supportsPreviewMode %}
								<input class="btn btn-info persist-preview" name="btn_preview" type="submit" value="{{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}"/>
							{% endif %}
							{% if admin.id(object) %}
								<input type="submit" class="btn btn-primary" name="btn_update_and_edit" value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>

								{% if admin.hasroute('list') %}
									<input type="submit" class="btn" name="btn_update_and_list" value="{{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}"/>
								{% endif %}

								{% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
									{{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
									<a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
								{% endif %}
							{% else %}
								<input class="btn btn-primary" type="submit" name="btn_create_and_edit" value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
								<input type="submit" class="btn" name="btn_create_and_list" value="{{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}"/>
								<input class="btn" type="submit" name="btn_create_and_create" value="{{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}"/>
							{% endif %}
						{% endif %}
					</div>
				{% endblock formactions %}
				</div>
			{% endblock %}

			{{ form_rest(form) }}

			
		</form>
	{% endif%}

{% endblock %}
