{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ 'title_select_provider'|trans({}, 'SonataMediaBundle') }}{% endblock %}

{% block content %}
	<h3>{{ 'select_language'|trans({}, 'SimbioticaAdmin') }}</h3>
	<form action="{{ admin.generateUrl('create') }}" method="get">
	<select name="language" id="language">
        {% for code, language in languages %}
			<option value="{{language}}">{{ language|trans({}, 'SimbioticaAdmin') }}</option>
        {% endfor %}
	</select>
    {# <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ admin.generateUrl('create', {'language': language}) }}">{{ language|trans({}, 'SimbioticaAdmin') }}</a></li>
    </ul> #}
    <h3>Select currency</h3>
    <select name="currency" id="currency">
    	<option value="EUR">EUR</option>
        <option value="USD">USD</option>
    </select>
    <input type="submit" value="{{ 'next_button'|trans({}, 'SimbioticaAdmin') }}">
    </form>
{% endblock %}
