<div class="status-{{ object.published }}">

    <div class="alert alert-info">
        <h3>{{ "project_status.title"|trans({}, 'SimbioticaAdmin') }}</h3>
        <p>
            {% if object.published == 3 %}
                <i class="icon-ok-sign"></i>
            {% else %}
                <i class="icon-minus-sign"></i>
            {% endif %}

            {% if object.published == 0 %}
                <span>{{ "status.unpublished"|trans({}, 'SimbioticaAdmin') }}</span>
            {% elseif object.published == 2 %}
                <span>{{ "status.revision"|trans({}, 'SimbioticaAdmin') }}</span>
            {% else %}
                <span>{{ "status.public"|trans({}, 'SimbioticaAdmin') }}</span>
            {% endif %}
        </p>
    </div>

    <hr>
    
    <div class="alert {% if validationList|length == 0 %}alert-success{% endif %}">
        <h3>{{ "validation.title"|trans({}, 'SimbioticaAdmin') }}</h3>
        {% if validationList|length > 0 %}
            <ul>
                {% for line in validationList %}
                    <li>{{ line|trans({}, 'SimbioticaAdmin') }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {% if object.published == 3 %}
                <p>{{ "validation.complete"|trans({}, 'SimbioticaAdmin') }}</p>
            {% else %}
                <p>{{ "validation.ok"|trans({}, 'SimbioticaAdmin') }}</p>
            {% endif %}
        {% endif %}
        <div class="btn-group">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">{{ "action.action"|trans({}, 'SimbioticaAdmin') }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% if object.published != 0 %}
                    <li>
                        <a class="" href="{{ admin.generateUrl('changeStatus', {'id': object.id, 'status' : 0} ) }}">
                            {{ "action.unpublish"|trans({}, 'SimbioticaAdmin') }}
                        </a>
                    </li>
                {% endif %}
                {% if object.published != 2 %}
                    <li>
                        <a class="" href="{{ admin.generateUrl('changeStatus', {'id': object.id, 'status' : 2} ) }}">
                            {{ "action.under_revision"|trans({}, 'SimbioticaAdmin') }}
                        </a>
                    </li>
                {% endif %}
                {% if object.published != 3 and validationList|length == 0 %}
                    <li>
                        <a class="" {% if validationList|length > 0 %}disabled="disabled"{% endif%} href="{{ admin.generateUrl('changeStatus', {'id': object.id, 'status' : 3} ) }}">
                            {{ "action.publish"|trans({}, 'SimbioticaAdmin') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<hr>
{% if is_granted('ROLE_ORGANIZATION_MANAGER') %} 
<div class="alert {% if similarProjectsCount == 0 %}alert-success{% endif %}">
    {% if similarProjectsCount > 0 %}
        <h3><a class="" href="{{ admin.generateUrl('similarProjects', {'id': object.id}) }}">{{similarProjectsCount}} {{ "similar_project.title"|trans({}, 'SimbioticaAdmin') }}</a></h3>
        <!-- <a class="" href="{{ admin.generateUrl('similarProjects', {'id': object.id} ) }}">{{ similarProjectsCount }}</a> -->
    {% else %}
        <p>{{ "similar_project.empty"|trans({}, 'SimbioticaAdmin') }}</p>
    {% endif %} 
</div>
{% endif %}