{% extends 'SonataAdminBundle:CRUD:base_history.html.twig' %}
{#{% extends 'SimbioticaCalpBundle:Admin:standard_layout.html.twig' %}#} 
{% block content %}
    <h3>{{ "similar_project.title"|trans({}, 'SimbioticaAdmin') }}</h3>
    {% if similarProjectsList|length > 0 %}
        <ul>
            {% for similarProject in similarProjectsList %}
                {% if similarProject.target %}
                    <li>
                        {% set similarContent %}
                            {% spaceless %}
                            <div class="similar-project similar-project-{{loop.index}}">
                                <table>
                                    <tr>
                                        <th>{{ "list.label_organizations_list"|trans({}, 'SimbioticaAdmin') }}</th>
                                        <td>
                                            {% for organization in similarProject.target.organizations %}
                                                {{ organization.organization.name }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'list.label_countries' | trans({}, "SimbioticaAdmin") }}</th>
                                        <td>
                                            {% for location in similarProject.target.locations %}
                                                {% if location.country %}
                                                    {{ location.country.name }}{% if not loop.last %}, {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'list.label_regions_list' | trans({}, "SimbioticaAdmin") }}</th>
                                        <td>
                                            {% for location in similarProject.target.locations %}
                                                {% if location.region %}
                                                    {{ location.region.name }}{% if location.scale %} - {{ location.scale }}{% endif %}{% if not loop.last %}, {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'list.label_donors' | trans({}, "SimbioticaAdmin") }}</th>
                                        <td>
                                            {% for donor in similarProject.target.donors %}
                                                {{ donor.organization.name }}{% if donor.amount %} - {{ donor.amount }}{% endif %}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            {% endspaceless %}
                        {% endset %}

                        <a href="#" class="btn-similar-project" data-toggle="tooltip" data-trigger="hover" data-html="true" data-content='{{similarContent}}'><i class="icon-info-sign"></i></a>
                        {{ similarProject.target.__toString() }}

                        <div class="btn-group">
                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">{{ "action.action"|trans({}, 'SimbioticaAdmin') }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="" href="{{ admin.generateUrl('show', {'id': similarProject.target.id} ) }}">
                                        {{ "link_action_show"|trans({}, 'SonataAdminBundle') }}
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="{{ path('admin_simbiotica_calp_similarproject_mark', {'id': similarProject.id}) }}">
                                        {{ "action.mark"|trans({}, 'SimbioticaAdmin') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ "similar_project.empty"|trans({}, 'SimbioticaAdmin') }}</p>
    {% endif %}
{% endblock %}