@import "compass/css3";
@import "../vars";
@import "../common";

$white: #fff;
$red: #cc2127;

body {background: image-url('bg/grid-gray-light.png');}

.reveal_index {
    left: 30px;
    position: absolute;
    top: 95px;
    z-index: 999;
    ul {list-style: none; margin: 0; padding: 0;
        & > li {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0 0 10px 0;
            position: relative;
            &:hover ul {
                display: block;
            }
            span {
                background: $red;
                display: block;
                color: $white;
                padding: 5px 10px;
                text-align: center;
                width: 120px;
                @include border-radius(4px);
                &:hover {color: $white;}
            }
        }
    }
    ul ul {background: $white; display: none; font-size: 13px; padding: 10px; position: absolute; left: 0; top: 37px; width: 120px; @include box-shadow(0 0 4px rgba(0, 0, 0, .3));
        &:before {background: $white; content: " "; display: block; height: 10px; left: 50%; margin-left: -5px; position: absolute; top: -5px; width: 10px; @include transform(rotate(45deg));}
        li {
            list-style: none;
            display: block;
            margin: 0;
            padding: 0;
        }
        a {
            color: #333;
            display: block;
            padding: 5px 8px;
            &:hover {background-color: #ddd;}
        }
    }
}

.reveal {
    .controls {left: 50%; right: auto; margin-left: -55px;
        div.enabled {opacity: 1;}
        div.navigate-up, div.navigate-down {display: none;}
        div.navigate-left.enabled {border-right-color: $red;}
        div.navigate-right.enabled {border-left-color: $red;}
    }
    .progress span {background: $red;}
    .slides {
        .bg {
            height: 674px;
            width: 1099px;
            img {
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                width: 100%;
            }
        }
        ul,ol {
            max-width:60%;
        }
        li{
            margin:8px 0;           
            line-height:1.1;
        }
        p:last-child {margin-bottom: 0;}
        a {color: $white; text-decoration: underline;}
        article.center, article.left, article.right {
            background: $red;
            color: $white;
            display: table;
            font-size: 19px;
            position: absolute;
            @include border-radius(100%);
            h2 {font-size: 26px; line-height: 1.2;}
            h2 + p {margin-top: 20px;}
            .big, h2.big {font-size: 40px;}
            .cell {display: table-cell; vertical-align: middle;}
            .medium {font-size: 26px;}
        }
        article.first, article.last {background: image-url('bg/grid-black.png');}
        article.center.big {
            height: 522px;
            left: 50%;
            margin: -261px 0 0 -261px;
            top: 50%;
            width: 522px;
        }
        article.center.medium {
            height: 364px;
            left: 50%;
            margin: -182px 0 0 -182px;
            top: 50%;
            width: 364px;
        }
        article.left.big {
            height: 500px;
            left: 60px;
            margin: -250px 0 0 0;
            top: 50%;
            width: 500px;
            @include box-shadow(0 0 6px rgba(0, 0, 0, .2));
        }
        article.left.medium {
            height: 364px;
            left: 60px;
            margin: -182px 0 0 0;
            top: 50%;
            width: 364px;
            @include box-shadow(0 0 6px rgba(0, 0, 0, .2));
        }
        article.right.big {
            height: 500px;
            margin: -250px 0 0 0;
            right: 20px;
            top: 50%;
            width: 500px;
            @include box-shadow(0 0 6px rgba(0, 0, 0, .2));
        }
        article.right.medium {
            height: 364px;
            margin: -182px 0 0 0;
            right: 20px;
            top: 50%;
            width: 364px;
            @include box-shadow(0 0 6px rgba(0, 0, 0, .2));
        }
    }
}

@import "../helpers";