<form action="{{ path('ajax_simbiotica_contact_save') }}" {{ form_enctype(form) }} method="POST" id="contactForm">
    {{ form_errors(form) }}
    {% for field in form %}
        <div class="form_row clearfix">
            {{ form_row(field) }}
        </div>
    {% endfor %}
    {% if form | length > 3 %}
        <div class="form_row clearfix">
            <input id="btnSubmit" type="submit" value="{{ 'form.contact.submit'|trans({}, 'SimbioticaFront') }}" class="btn submit" />
        </div>
    {% endif %}
</form>