{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block content %}
    <div>
        <h3>{{ 'media.import_title'|trans({}, 'SimbioticaAdmin') }}</h3>
        <p>
            {{ 'media.import_message' |trans({}, "SimbioticaAdmin") }}
        </p>
        <div class="well form-actions">
            <form action="{{ admin.generateUrl('import', {'id':object.id }) }}" method="POST" >
                <input type="hidden" name="confirmation" value="ok" />
                <input type="submit" class="btn btn-danger" value="{{ 'btn_execute_batch_action'|trans({}, 'SonataAdminBundle') }}" />

                {% if admin.hasRoute('edit') and admin.isGranted('EDIT') %}
                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                    <a class="btn btn-success" href="{{ admin.generateUrl('list') }}">{{ 'link_action_cancel'|trans({}, 'SimbioticaAdmin') }}</a>
                {% endif %}
            </form>
        </div>
    </div>
    
{% endblock %}
