{% extends 'SonataMediaBundle:MediaAdmin:select_provider.html.twig' %}

{% block content %}
    {% for name, context in contexts %}
    <div class="col span2">
            <h3>{{ name|trans({}, 'SonataMediaBundle') }}</h3>
        <ul>
            {% for code, provider in context.providers %}
                <li><a href="{{ admin.generateUrl('create', {'context': name, 'provider': provider}) }}">{{ provider|trans({}, 'SonataMediaBundle') }}</a></li>
            {% else %}
                <li>{% trans from 'SonataMediaBundle' %}no_provider_available{% endtrans %}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}
