@import "../vars";
@import "../common";

$red-dark: #cd2027;

body {background: image-url('../backgrounds/cash-atlas.jpg') no-repeat top fixed; background-size: cover;}

#cash-atlas {background-image: image-url('../backgrounds/cash-atlas.jpg');}
#data {background-image: image-url('../backgrounds/data.jpg');}
#calp {background-image: image-url('../backgrounds/calp.jpg');}
#donors {background-image: image-url('../backgrounds/donors.jpg');}
#contact {background-image: image-url('../backgrounds/contact.jpg');}
#maintenance, #unsupported {background-image: image-url('../backgrounds/maintenance.jpg');}


/* ====================
   Structure
   ==================== */
.row {padding: 2% 2% 3% 2%;
    .col_1, .col_2, .col_3, .col_2_3 {float: left; margin: 0 2%;}
    .col_1 {width: 96%;}
    .col_2 {width: 46%;}
    .col_3 {width: 29.333333%;}
    .col_2_3 {width: 58.666666%;}
    &.red {background: image-url('bg/grid-red.png');}
    &.gray {background: image-url('bg/grid-gray-light.png');}
}


/* ====================
   Main
   ==================== */
.main_content {margin-top: 69px;}

.wrap_content {margin: auto; max-width: 1000px;}

.content {background: #fff; margin: 50px 0 0 0; overflow: hidden; position: relative; z-index: 1000; @include border-radius(4px); @include box-shadow(0 0 6px rgba(0, 0, 0, .3));
    header {font-size: 24px;
        p {margin: .4em 0;}
        blockquote {font-size: 17px; margin: 0 0 1em 0; padding: 0; font-style: italic;}
    }
    .big {font-size: 24px;}
    .medium {font-size: 17px;}
    a {color: #cc1f26;}
    .red {color: #fff;}
    //.content_image {text-align: center;}
    figure {text-align: center; margin: 1em 0;}
    blockquote {font-size: 17px; margin: 1em 0; padding: 0 35px; font-style: italic;}
    .col_2 h2 {text-align: center;}
    .row.red {
        h2 {background: $white; color: $red; display: inline-block; font-size: 17px; padding: 2px 5px 0 5px; text-align: left;}
    }
    .btn_show_video {border: 1px solid $blue-dark-2; color: $white; display: block; float: left; font-size: 15px; line-height: 1; padding: 10px 20px; text-align: center; @include background(linear-gradient(top, $blue-light, $blue-dark)); @include border-radius(6px);
        strong {font-size: 23px;}
    }
}

.donors_list {list-style: none; margin: 0; padding: 0;
    li {display: block; float: left; list-style: none; margin: 0 31px; padding: 0;
        &.usaid {height: 37px; margin-top: 10px; width: 120px;}
        &.canadian-agency {height: 22px; margin-top: 18px; width: 320px;}
        &.visa {height: 18px; margin-top: 19px; width: 57px;}
        &.eu {height: 53px; margin-top: 7px; width: 54px;}
        &.ukaid {height: 54px; margin-top: 5px; width: 49px;}
    }
}

.contact_data {margin: 1em auto; width: 80%;
    h3 {background: image-url('marker-small.png') no-repeat 0 2px; padding-left: 2.5%;}
    table {width: 100%;
        td {padding-left: 2.5%; width: 47%;}
    }
}

#cash-atlas {
    .row.red header img {margin-bottom: -150px;}
    .row.gray {padding-top: 150px;}
    footer {text-align: center;
        .btn_show_video {display: inline-block; float: none;}
    }
}

#calp {
    .row.red figure img {margin: 30px 0 50px 0;}
    footer {
        p {font-size: 22px; text-align: center;}
    }
}

#donors article {margin: 1em 0;
    header {font-size: 17px;}
}

/* ====================
   Footer
   ==================== */
.footer_content {margin: 15px 0 50px 0;
    .footer_nav {background: image-url('bg/grid-gray-dark.png'); margin: 0 auto; padding: 17px 0 15px 15px; max-width: 990px; @include border-radius(6px); 
        li {display: block; float: left; margin: 0 20px 0 0;
            a {color: #fff; display: block; font-size: 15px;}
            span {display: none;}
        }
        .child-menu {margin-right: 0;}
    }
}

@import "../helpers";