<section class="content">
<div class="row">
<div class="clearfix">
<div class="col_1">
<header>
<h1>Nos bailleurs de fonds</h1>

<p>Le Cash Atlas est financ&eacute; par la Croix-Rouge am&eacute;ricaine, ECHO et USAID/OFDA</p>
</header>
</div>
</div>

<article class="clearfix">
<div class="col_3">
<figure><a href="http://www.redcross.org" target="_blank"><img src="/bundles/simbioticacalp/dist/images/contents/donors/american-red-cross.png" /></a></figure>
</div>

<div class="col_2_3">
<header>
<h3><a href="http://www.redcross.org" target="_blank">Croix rouge am&eacute;ricaine</a></h3>

<p>Chaque ann&eacute;e, la Croix-Rouge am&eacute;ricaine intervient imm&eacute;diatement suite &agrave; environ 70 000 catastrophes naturelles et caus&eacute;es par l&#39;homme aux &Eacute;tats-Unis, qui vont d&#39;incendies aux ouragans, inondations, tremblements de terre, tornades, d&eacute;versement de mati&egrave;res dangereuses; accidents de transport et explosions.</p>
</header>

<p>La population compte sur la Croix-Rouge pour les aider dans les moments les plus difficiles. &Agrave; son tour, l&#39;appui des bailleurs de fonds permet &agrave; la Croix-Rouge de remplir sa mission humanitaire. Nous sommes tr&egrave;s reconnaissants de la g&eacute;n&eacute;rosit&eacute; des particuliers, des entreprises et des fondations qui investissent dans la Croix-Rouge.</p>
</div>
</article>

<article class="clearfix">
<div class="col_3">
<figure><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank"><img src="/bundles/simbioticacalp/dist/images/contents/donors/eu-humanitarian-aid.png" /></a></figure>
</div>

<div class="col_2_3">
<header>
<h3><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank">ECHO</a></h3>

<p>L&#39;Union europ&eacute;enne est le principal bailleur de fonds en ce qui concerne l&#39;aide humanitaire. Ensemble, les &Eacute;tats membres et les institutions europ&eacute;ennes fournissent plus de la moiti&eacute; de l&#39;aide humanitaire mondiale.</p>
</header>

<p>L&#39;office humanitaire de la Communaut&eacute; europ&eacute;enne (ECHO) a &eacute;t&eacute; cr&eacute;&eacute; en 1992 pour exprimer la solidarit&eacute; europ&eacute;enne avec les populations dans le besoin partout dans le monde. Au cours de ses vingt ann&eacute;es d&#39;existence, il a allou&eacute; 14 milliards d&#39;euros d&#39;aide humanitaire aux victimes de conflits et de catastrophes dans 140 pays &agrave; travers le monde. Sur les cinq derni&egrave;res ann&eacute;es, le budget annuel d&#39;ECHO &eacute;tait en moyenne d&#39;un milliard d&#39;euros. En 2011 seulement, ces fonds ont permis d&#39;aider pr&egrave;s de 150 millions de personnes parmi les plus vuln&eacute;rables au monde, dans plus de 80 pays.</p>
</div>
</article>

<article class="clearfix">
<div class="col_3">
<figure><a href="http://www.usaid.gov/" target="_blank"><img src="/bundles/simbioticacalp/dist/images/contents/donors/usaid.png" /></a></figure>
</div>

<div class="col_2_3">
<header>
<h3><a href="http://www.usaid.gov/" target="_blank">USAID / OFDA</a></h3>

<p>L&#39;Agence des &Eacute;tats-Unis pour le d&eacute;veloppement international (USAID) met en &oelig;uvre la politique &eacute;trang&egrave;re en promouvant le progr&egrave;s humain &agrave; grande &eacute;chelle, mais &eacute;galement en favorisant le d&eacute;veloppement de soci&eacute;t&eacute;s stables et libres, en cr&eacute;ant des march&eacute;s et en recherchant des partenaires commerciaux pour les &Eacute;tats-Unis, et en favorisant de bonnes conditions &agrave; l&#39;&eacute;tranger.</p>
</header>

<p>En 2012, le Bureau d&rsquo;assistance internationale aux d&eacute;sastres, agence du gouvernement des &Eacute;tats-Unis a r&eacute;pondu &agrave; 63 crises dans 54 pays, en fournissant une assistance vitale &agrave; des dizaines de millions de personnes, dont ceux qui endurent&nbsp;:</p>

<ul>
	<li>le conflit en Syrie&nbsp;; des s&eacute;cheresses s&eacute;v&egrave;res dans la Corne de l&rsquo;Afrique&nbsp;</li>
	<li>les inondations au Pakistan, en Inde, aux Philippines et au Salvador&nbsp;</li>
	<li>l&#39;ins&eacute;curit&eacute; alimentaire dans le Sahel africain&nbsp;; le tremblement de terre en Turquie&nbsp;</li>
	<li>les situations d&rsquo;urgence complexes au Y&eacute;men, en R&eacute;publique d&eacute;mocratique du Congo, au Burma, au Mali et au Soudan du Sud</li>
</ul>

</div>
</article>
</div>
</section>