<article class="content">
<section>
<div class="row">
<header>
<div class="col_1">
<h1>Qu&#39;est-ce que le CaLP ?</h1>
</div>
</header>

<div class="col_2">
<p class="big">Le Cash Learning Partnership vise &agrave; am&eacute;liorer la qualit&eacute; des programmes de transferts mon&eacute;taires et de coupons d&#39;urgence au sein du secteur humanitaire.</p>

<p>Les cinq organisations du comit&eacute; de pilotage (Oxfam GB, la Croix-Rouge britannique, Save the Children, le Conseil norv&eacute;gien pour les r&eacute;fugi&eacute;s, Action contre la faim/ACF international) se sont r&eacute;unies pour soutenir le renforcement des capacit&eacute;s, le partage des recherches et des informations sur les programmes de transferts mon&eacute;taires comme outil efficace permettant de fournir de l&#39;aide en p&eacute;riodes de crise.</p>

<p>&nbsp;</p>
</div>

<div class="col_2">
<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/photo.png" /></figure>
</div>
</div>

<div class="row gray">
<div class="col_2">
<h2>Vision</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/vision-statement.png" /></figure>

<blockquote>&lsquo;La pr&eacute;paration et les interventions humanitaires s&rsquo;av&egrave;rent plus efficaces lorsque les divers besoins des personnes affect&eacute;es sont satisfaits et lorsque la promotion du rel&egrave;vement est assur&eacute;e&rsquo;.</blockquote>

<p>Le CaLP promeut des programmes d&#39;argent et de coupons de qualit&eacute;, appropri&eacute;s et opportuns lors d&#39;interventions humanitaires comme outil pour contribuer &agrave; sa vision.</p>
</div>

<div class="col_2">
<h2>Mission du CaLP</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/rationale-and-context.png" /></figure>

<p>Le CaLP est un r&eacute;seau servant &agrave; renforcer la capacit&eacute; et &agrave; promouvoir l&rsquo;utilisation d&rsquo;argent et de coupons lors de situations d&rsquo;urgence, &agrave; partager les apprentissages et &agrave; organiser et uniformiser les strat&eacute;gies et les approches.</p>
</div>
</div>
</section>

<section>
<div class="row red">
<div class="col_1">
<h1>Les piliers de l&#39;activit&eacute; du CaLP</h1>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/calp/graph.png" /></figure>
</div>

<div class="clearfix">
<div class="col_2">
<h2>Le renforcement des capacit&eacute;s</h2>

<p>Le CaLP soutient les acteurs humanitaires cl&eacute;s &agrave; acqu&eacute;rir ou &agrave; am&eacute;liorer leurs connaissances et pratiques pour &eacute;laborer et mettre en &oelig;uvre des programmes d&#39;argent et de coupons de qualit&eacute;.</p>
</div>

<div class="col_2">
<h2>Recherche-action et collecte d&#39;informations</h2>

<p>Le CaLP soutient les parties prenantes humanitaires cl&eacute;s pour acc&eacute;der aux outils, aux bonnes pratiques, &agrave; l&#39;action-recherche et aux conseils en mati&egrave;re de programmation afin d&#39;am&eacute;liorer la qualit&eacute; du PTM.</p>
</div>
</div>

<div class="clearfix">
<div class="col_2">
<h2>Plaidoyer et partage de l&rsquo;information</h2>

<p>Le CaLP encourage les parties prenantes humanitaires cl&eacute;s &agrave; acqu&eacute;rir une meilleure compr&eacute;hension de la pertinence des PTM &agrave; travers un plaidoyer cibl&eacute; et le partage des informations.</p>
</div>

<div class="col_2">
<h2>Plaidoyer, coordination et mesures d&#39;urgence</h2>

<p>Le CaLP pousse les parties prenantes humanitaires cl&eacute;s &agrave; montrer leur progr&egrave;s visant &agrave; aborder les limites de la coordination et de la pr&eacute;paration du PTM par le biais d&#39;un plaidoyer cibl&eacute; et du partage des informations.</p>
</div>
</div>
</div>    
</section>

<footer>
<div class="row">
<div class="col_1">
<p>Pour plus d&#39;informations sur la strat&eacute;gie du CaLP, veuillez consulter le&nbsp;<a href="http://www.cashlearning.org/what-we-do/calp-s-strategy-2012-2015">site web</a>&nbsp;du CaLP.</p>
<!-- Logotipos -->

<ul class="donors_list clearfix">
    <li class="usaid"><a href="http://www.usaid.gov/" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/usaid.png" /></a></li>
    <li class="canadian-agency"><a href="http://www.acdi-cida.gc.ca/home" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/canadian-agency.png" /></a></li>
    <li class="visa"><a href="http://www.visaeurope.com/en/visa-europe.aspx" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/visa.png" /></a></li>
    <li class="eu"><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/eu-humanitarian-aid.png" /></a></li>
    <li class="ukaid"><a href="https://www.gov.uk/government/organisations/department-for-international-development" target="_blank"><img src="/bundles/simbioticacalp/dist/images/donors/uk-aid.png" /></a></li>
</ul>
</div>
</div>
</footer>
</article>