<article class="content">
<div class="row">
<header>
<div class="col_1">
<h1>Informations relatives au Cash Atlas</h1>
</div>

<div class="col_2">
<p class="big">Actuellement, les programmes de transferts mon&eacute;taires (PTM) sont de plus en plus utilis&eacute;s lors de situations d&rsquo;urgence, et ce dans le monde entier.</p>

<p class="medium">&nbsp;</p>

<blockquote>D&#39;apr&egrave;s le rapport sur l&#39;aide humanitaire mondiale, &ldquo;entre 2008 et 2011, les d&eacute;penses humanitaires bas&eacute;es sur des programmes mon&eacute;taires et de coupons ont oscill&eacute; entre 45 et 188 millions de dollars am&eacute;ricains. [...] Le nombre de bailleurs de fonds finan&ccedil;ant des programmes de transferts lors d&#39;urgences humanitaires est pass&eacute; de six en 2006 &agrave; 21 en 2011, atteignant un record de 41 bailleurs de fonds en 2010, en r&eacute;ponse aux situations d&#39;urgence en Ha&iuml;ti et au Pakistan&rdquo;.</blockquote>

<figure class="content_image"><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/about.png" /></figure>
</div>
</header>

<div class="col_2">
<p>En outre, les modalit&eacute;s, les m&eacute;canismes de r&eacute;alisation et la conditionnalit&eacute; diff&egrave;rent grandement d&#39;un programme ou contexte &agrave; un autre. Les PTM ont &eacute;t&eacute; largement utilis&eacute;s dans le secteur de la s&eacute;curit&eacute; alimentaire et des moyens de subsistance, mais les &eacute;valuations de programme et les &eacute;tudes de cas r&eacute;v&egrave;lent que les PTM sont de plus en plus utilis&eacute;s pour remplir d&#39;autres besoins, tels que celui de l&#39;abri. Les organisations humanitaires commencent &eacute;galement &agrave; explorer l&#39;utilisation des PTM dans d&#39;autres secteurs, tels que WASH ou pour des interventions intersectorielles.</p>

<p>Malgr&eacute; leur utilisation et diversification croissantes, il n&#39;existe aujourd&#39;hui aucune vue d&#39;ensemble concernant l&#39;utilisation de PTM en situations d&rsquo;urgence. Une telle vue d&#39;ensemble permettrait aux acteurs humanitaires de comprendre comment, quand, o&ugrave;, &agrave; quelles &eacute;chelles et dans quels buts les programmes mon&eacute;taires sont utilis&eacute;s.</p>

<p>C&#39;est dans cette optique que le CaLP a d&eacute;velopp&eacute; le Cash Atlas. Cette carte interactive permet aux divers acteurs impliqu&eacute;s dans la conception et la mise en &oelig;uvre des PTM de mieux comprendre leurs diff&eacute;rentes utilisations, au niveau mondial.</p>
</div>
</div>
</article>

<section class="content">
<div class="row red">
<div class="col_1">
<header>
<h1>Que pouvez-vous faire avec le Cash Atlas?</h1>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/screenshot.png" /></figure>
</header>
</div>
</div>

<div class="row gray">
<div class="clearfix">
<article class="col_2">
<h2>Filtrer les informations pour faciliter son utilisation</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/clearer-info.png" /></figure>

<p>Les cartes peuvent &ecirc;tre sources de confusion si un grand nombre de donn&eacute;es submergent les utilisateurs. Gr&acirc;ce au filtre, vous pourrez trouver l&#39;information que vous recherchez tr&egrave;s rapidement.</p>
</article>

<article class="col_2">
<h2>Saisir de nouvelles informations/actualiser les informations affich&eacute;es</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/display-info.png" /></figure>

<p>Les membres peuvent ajouter des projets, mettre en ligne des documents ou modifier des donn&eacute;es &agrave; tout moment. Ils peuvent &eacute;galement partager la propri&eacute;t&eacute; de l&#39;information pour permettre &agrave; d&#39;autres membres de compl&eacute;ter les informations.</p>
</article>
</div>

<div class="clearfix">
<article class="col_2">
<h2>Extraire des informations &agrave; tout moment</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/any-moment.png" /></figure>

<p>Les diff&eacute;rents utilisateurs auront diff&eacute;rents besoins. Le Cash Atlas prend cela en compte, et c&#39;est pourquoi vous pourrez extraire des informations &agrave; tout moment et &agrave; toute &eacute;chelle, provinciale, nationale ou mondiale, avec ou sans filtres activ&eacute;s.</p>
</article>

<article class="col_2">
<h2>En savoir plus sur un projet</h2>

<figure><img src="/bundles/simbioticacalp/dist/images/contents/cash-atlas/search-info.png" /></figure>

<p>Afin de s&#39;assurer que la carte contienne une masse critique d&#39;informations et soit actualis&eacute;e, l&#39;information recueillie devait &ecirc;tre suffisamment de <br>&laquo; premi&egrave;re ligne &raquo;. Toutefois, vous pouvez acc&eacute;der &agrave; plus d&#39;informations en consultant tout document joint au projet d&#39;int&eacute;r&ecirc;t et/ou en envoyant un email &agrave; la personne de contact du projet.</p>
</article>
</div>

<div class="clearfix">
<footer>

</footer>
</div>
</div>
</section>
