<article class="content">
<div class="row">
<div class="col_1">
<header>
<h1>Nous contacter</h1>

<p>Pour toute question ou plus d'informations, vous pouvez nous contacter à l'adresse:&nbsp;<a href="mailto:cash-atlas@cashlearning.org" target="_blank">cash-atlas@cashlearning.org</a>.</p>
</header>
</div>
</div>

<div class="row gray">
<div class="col_1">
<h2>Contactez le CaLP</h2>

<p>Si vous souhaitez prendre contact avec l'un des membres du CaLP, veuillez utiliser les adresses email ci-dessous:</p>

<div class="contact_data">
<h3>Secrétariat du CaLP (Royaume Uni)</h3>

<table>
    <tbody>
        <tr>
            <td>Sara Almer, <span class="position">coordinatrice du CaLP par intérim</span>:</td>
            <td><a href="mailto:coordinator@cashlearning.org" target="_blank">coordinator@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Lili Mohiddin, <span class="position"> coordinatrice technique du CaLP</span>:</td>
            <td><a href="mailto:techco@cashlearning.org" target="_blank">techco@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Haley Bowcock, <span class="position">chargé de plaidoyer</span>:</td>
            <td><a href="mailto:advocacy@cashlearning.org" target="_blank">advocacy@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Yoann Tuzzolino, <span class="position">chargé de communication</span>:</td>
            <td><a href="mailto:communications@cashlearning.org" target="_blank">communications@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Vanee parthipan, <span class="position">chargé des finances</span>:</td>
            <td><a href="mailto:finance@cashlearning.org" target="_blank">finance@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Claire Rodgerson, <span class="position">administratrice</span>:</td>
            <td><a href="mailto:administrator@cashlearning.org" target="_blank">administrator@cashlearning.org</a></td>
        </tr>
    </tbody>
</table>

<h3>Afrique de l'Est</h3>

<table>
    <tbody>
        <tr>
            <td>Glenn Hughson, <span class="position">point focal régional</span>:</td>
            <td><a href="mailto:eastafrica@cashlearning.org" target="_blank">eastafrica@cashlearning.org</a></td>
        </tr>
        <tr>
            <td>Michael Ochieng, <span class="position">chargé du renforcement des capacités</span>:</td>
            <td><a href="mailto:training.mochieng@cashlearning.org" target="_blank">training.mochieng@cashlearning.org</a></td>
        </tr>
    </tbody>
</table>

<h3>Afrique de l’Ouest</h3>

<table>
    <tbody>
        <tr>
            <td>Christophe Breyne, <span class="position">point focal régional</span>:</td>
            <td><a href="mailto:westafrica@cashlearning.org" target="_blank">westafrica@cashlearning.org</a></td>
        </tr>
    </tbody>
</table>

<h3>Asia</h3>

<table>
    <tbody>
        <tr>
            <td>Carla Lacerda, point focal régional:</td>
            <td><a href="mailto:asia@cashlearning.org" target="_blank">asia@cashlearning.org</a></td>
        </tr>
    </tbody>
</table>

<h3>E&aacute;tats-Unis</h3>

<table>
    <tbody>
        <tr>
            <td>Lily Frey, <span class="position">chargée de plaidoyer pour les États-Unis</span>:</td>
            <td><a href="mailto:advocacy.usa@cashlearning.org" target="_blank">advocacy.usa@cashlearning.org</a></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>

<footer>
<div class="row">
<div class="col_2">
<h3>Retrouvez-nous sur Facebook ou Twitter</h3>

<ul class="social_nav">
    <li><a class="facebook" href="">Facebook</a></li>
    <li><a class="twitter" href="">Twitter</a></li>
</ul>
</div>

<div class="col_2">
<h3>Newsletter du CaLP</h3>

<p>Si vous souhaitez vous abonner à la newsletter du CaLP, veuillez vous inscrire <a href="" target="_blank">ici</a>.</p>
</div>

<div class="col_1">
<h3>Groupe de discussion du CaLP</h3>

<p>Le CaLP dispose d'un forum en ligne très actif pour mener des discussions à l'échelle mondiale au sujet des interventions fondées sur l'argent et d'autres travaux liés aux situations d’urgence. Si vous souhaitez prendre part à des discussions, vous pouvez vous abonner <a href="" target="_blank">ici</a>.</p>
<!-- Logos --></div>
</div>
</footer>
</article>
