<article class="content">
<div class="row">
<div class="col_1">
<h1>Informations relatives aux données</h1>
</div>

<div class="col_2">
<header>
<p class="big">Le niveau d'exactitude et de couverture du Cash Atlas dépend des données fournies par ses membres. Le Cash Atlas contient des informations que les organisations partagent volontairement avec nous.</p>
</header>

<p>Recueillir des données complètes dans les temps est un défi et nous essayons de rendre le processus aussi facile que possible pour les organisations participantes. Toutefois, les informations étant fournies volontairement, nous ne pouvons garantir que l'information contenue dans le Cash Atlas sera exhaustive ou entièrement à jour, ou qu'elle couvrira la totalité des programmes de transferts monétaires d'urgence dans le monde. Nous espérons qu'avec votre aide et avec le temps, il pourra donner un tableau aussi complet que possible de l'utilisation mondiale des programmes de transferts monétaires d'urgence.</p>

<figure class="content_image"><img src="/bundles/simbioticacalp/dist/images/contents/data/data.png" /></figure>
</div>

<div class="col_2">
<p>Les points comportant deux fois les mêmes données sont difficiles à identifier, étant donné que dans de nombreux cas, plusieurs acteurs sont impliqués dans un même projet. Pour remédier à ce risque de chevauchement, le Cash Atlas est doté d'un module de suivi qui recherche les chevauchements potentiels, mais celui-ci ne peut être considéré comme 100 % fiable.</p>

<div>
<div>
<div id="_com_1" uage="JavaScript">&nbsp;</div>
</div>
</div>

<figure class="content_image"><img src="/bundles/simbioticacalp/dist/images/contents/data/photo.png" /></figure>
</div>
</div>
</article>