<article class="content">
<div class="row">
<div class="col_1">
<h1>Informations relatives aux donn&eacute;es</h1>
</div>

<div class="col_2">
<header>
<p class="big">Le niveau d&#39;exactitude et de couverture du Cash Atlas d&eacute;pend des donn&eacute;es fournies par ses membres. Le Cash Atlas contient des informations que les organisations partagent volontairement avec nous.</p>
</header>

<p>Recueillir des donn&eacute;es compl&egrave;tes dans les temps est un d&eacute;fi et nous essayons de rendre le processus aussi facile que possible pour les organisations participantes. Toutefois, les informations &eacute;tant fournies volontairement, nous ne pouvons garantir que l&#39;information contenue dans le Cash Atlas sera exhaustive ou enti&egrave;rement &agrave; jour, ou qu&#39;elle couvrira la totalit&eacute; des programmes de transferts mon&eacute;taires d&#39;urgence dans le monde. Nous esp&eacute;rons qu&#39;avec votre aide et avec le temps, il pourra donner un tableau aussi complet que possible de l&#39;utilisation mondiale des programmes de transferts mon&eacute;taires d&#39;urgence.</p>

<figure class="content_image"><img src="/bundles/simbioticacalp/dist/images/contents/data/data.png" /></figure>
</div>

<div class="col_2">
<p>Les points comportant deux fois les m&ecirc;mes donn&eacute;es sont difficiles &agrave; identifier, &eacute;tant donn&eacute; que dans de nombreux cas, plusieurs acteurs sont impliqu&eacute;s dans un m&ecirc;me projet. Pour rem&eacute;dier &agrave; ce risque de chevauchement, le Cash Atlas est dot&eacute; d&#39;un module de suivi qui recherche les chevauchements potentiels, mais celui-ci ne peut &ecirc;tre consid&eacute;r&eacute; comme 100 % fiable.</p>

<div>
<div>
<div id="_com_1" uage="JavaScript">&nbsp;</div>
</div>
</div>

<figure class="content_image"><img src="/bundles/simbioticacalp/dist/images/contents/data/photo.png" /></figure>
</div>
</div>
</article>