{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% for organization in object.organizations %}
            {% if organization.organization.id is defined %}
                {% if admin.isGranted('EDIT', organization.organization) %}
                    <a href="{{ path('admin_simbiotica_calp_organization_edit', {'id': organization.organization.id }) }}
                           ">{{ organization.organization.__toString() }}</a>{% if not loop.last %}, {% endif %}
                {% else %}
                    {{ organization.organization.__toString() }}{% if not loop.last %}, {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}