{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="messages">
    <div class="fos_user_success">
    <p>
        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
    </p>
    </div>
</div>
{% endblock %}
