<div class="reset_password_form clearfix">
	<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
		{% if invalid_username is defined %}
			<p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'SimbioticaFront') }}</p>
		{% endif %}
		<div class="form_row">
			<label for="username">{{ 'resetting.request.username'|trans({}, 'SimbioticaFront') }}</label>
			<input type="text" id="username" name="username" required="required" />
			<input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'SimbioticaFront') }}" class="btn submit" />
		</div>
	</form>
</div>