{% block subject %}Resetting your password{% endblock %}

{% block body_text %}
	{% autoescape false %}
		Hello {{ user.firstname }} {{ user.lastname }}.

		You can reset your email by accessing {{ confirmationUrl }}.

		Greetings,
		the Cash Atlas Team
	{% endautoescape %}
{% endblock %}

{% block body_html %}
	{% set content %}
		<p>Hello <strong>{{ user.firstname }} {{ user.lastname }}</strong></p>

		<p>You can reset your email by accessing {{ confirmationUrl }}.</p>

		<p>Greetings,<br>
		the Cash Atlas Team</p>
	{% endset %}

	{% include "SimbioticaCalpBundle:Templates:email.html.twig" with { 'content': content, 'subject': block('subject') } %}
{% endblock %}