{% extends 'SimbioticaCalpBundle:Templates:login_register.html.twig' %}

{% block title %}{{ 'register.title' | trans({}, "SimbioticaFront") }}{% endblock %}
{% block title2 %}{{ 'register.title' | trans({}, "SimbioticaFront") }}{% endblock %}
{% block intro %}
    {{ 'register.registered' | trans({}, "SimbioticaFront")| raw }}
{% endblock %}

{% block fos_user_content %}
    <div class="register_form clearfix">
        <a class="btn" href="{{ path('simbiotica_calp_homepage') }}">{{ 'gotohome' | trans({}, "SimbioticaFront") }}</a>
    </div>
{% endblock fos_user_content %}
