{% extends 'SimbioticaCalpBundle:Templates:login_register.html.twig' %}

{% block title %}{{ 'checkemail.title' | trans({}, "SimbioticaFront") }}{% endblock %}
{% block title2 %}{{ 'checkemail.title' | trans({}, "SimbioticaFront") }}{% endblock %}
{% block intro %}
    {{ 'checkemail.intro' | trans({}, "SimbioticaFront")| raw }}
{% endblock %}

{% block fos_user_content %}
	<div class="register_form clearfix">
        <a href="{{ path('simbiotica_calp_homepage', {"public": "true"}) }}" class="btn">{{ 'link.public' | trans({}, "SimbioticaFront") }}</a>
	</div>
{% endblock fos_user_content %}
