{% extends 'SimbioticaCalpBundle:Templates:login_register.html.twig' %}

{% block title %}{{ 'confirmed.title' | trans({}, "SimbioticaFront") }}{% endblock %}
{% block title2 %}{{ 'confirmed.title' | trans({}, "SimbioticaFront") }}{% endblock %}
{% block intro %}
    {{ 'confirmed.intro' | trans({}, "SimbioticaFront")| raw }}
{% endblock %}

{% block fos_user_content %}
	<div class="register_form clearfix">
        <a class="btn" href="{{ path('simbiotica_calp_homepage') }}">{{ 'gotohome' | trans({}, "SimbioticaFront") }}</a>
	</div>
{% endblock fos_user_content %}
