{% extends 'SimbioticaCalpBundle:Templates:login_register.html.twig' %}

{% block title %}{{ 'register.title' | trans({}, "SimbioticaFront") }}{% endblock %}
{% block title2 %}{{ 'register.title' | trans({}, "SimbioticaFront") }}{% endblock %}
{% block intro %}
    {{ 'register.intro' | trans({}, "SimbioticaFront")| raw }}
{% endblock %}

{% block fos_user_content %}
	<div class="register_form clearfix" id="regiterForm">
		<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
		
			{#{{ form_errors(form) }}#}
			
			<div class="form_row clearfix">
				{{ form_label(form.firstname) }}
				{{ form_widget(form.firstname) }}
				{{ form_errors(form.firstname) }}
			</div>
			
			<div class="form_row clearfix">
				{{ form_label(form.lastname) }}
				{{ form_widget(form.lastname) }}
				{{ form_errors(form.lastname) }}
			</div>
			
			<div class="form_row clearfix">
				{{ form_label(form.email) }}
				{{ form_widget(form.email) }}
				<div class="error_list clearfix">{{ form_errors(form.email) }}</div>
			</div>
			
			<div class="form_row clearfix">
				{{ form_label(form.country) }}
				{{ form_widget(form.country) }}
				{{ form_errors(form.country) }}
			</div>
			
			<div class="form_row clearfix">
				{{ form_errors(form.organizations) }}
				{% spaceless %}
					{% for child in form.organizations %}
						{{ form_label(child.organization) }}
						{{ form_widget(child.organization) }}
						{{ form_errors(child.organization) }}
					{% endfor %}
				{% endspaceless %}
			</div>
			
			<div class="form_row clearfix" id="regOther">
				{{ form_label(form.otherOrganization) }}
				{{ form_widget(form.otherOrganization) }}
				{{ form_errors(form.otherOrganization) }}
			</div>
			
			<div class="form_row clearfix">
				{{ form_label(form.position) }}
				{{ form_widget(form.position) }}
				{{ form_errors(form.position) }}
			</div>
			
			<div class="form_row clearfix">
				{{ form_label(form.relevance) }}
				{{ form_widget(form.relevance) }}
				{{ form_errors(form.relevance) }}
			</div>
			
			<div class="form_row clearfix">
				{{ form_label(form.intent) }}
				{{ form_widget(form.intent) }}
				{{ form_errors(form.intent) }}
			</div>

			<div class="form_row clearfix">
				{{ form_widget(form.plainPassword) }}
				{{ form_errors(form.plainPassword) }}
			</div>

			<div class="form_row terms_row clearfix">
				<label>
					<input type="checkbox" name="terms" id="termsCheckbox" class="required"> {{ 'terms.agree' | trans({}, "SimbioticaFront")| raw }}
				</label>
				<input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn submit" />
			</div>
			
			{{ form_rest(form) }}
			{#
			<a href="{{ path('simbiotica_calp_homepage', {"public": "true"}) }}">{{ 'link.public' | trans({}, "SimbioticaFront") }}</a>
			<a href="{{ path('fos_user_security_login') }}">{{ 'link.login' | trans({}, "SimbioticaFront") }}</a>
			#}
		</form>
	</div>

	<div class="terms" id="termsSection">
		<h2>{{ 'terms.title' | trans({}, "SimbioticaFront")| raw }}</h2>
		<p>{{ 'terms.text' | trans({}, "SimbioticaFront")| raw }}</p>
	</div>
{% endblock fos_user_content %}
