/* ====================
   Base styles
   ==================== */
html, button, input, select, textarea {color: #222; font-family: "HelveticaNeueLT", Helvetica, Arial, sans-serif; font-size: 100%; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;}

body {font-size: 13px; line-height: 1.4; min-width: 970px;}

::-moz-selection {background: #b3d4fc; text-shadow: none;}
::selection {background: #b3d4fc; text-shadow: none;}

h1, h2 {font-weight: lighter;}
h1 {font-size: 43px; margin: .2em 0;}
h2 {font-size: 22px;}
h3 {font-size: 17px; margin: .5em 0;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

img {height: auto; max-width: 100%; vertical-align: middle;}

fieldset {border: 0; margin: 0; padding: 0;}
label {font-size: 14px;}
input, select, textarea {border: 1px solid #d6d6d6; font-size: 15px; line-height: 21px; padding: 10px; @include border-radius(5px);
    &:focus {outline: none; @include box-shadow(0 0 3px 3px rgba(85, 85, 85, .1));}
}
select {border: 0; height: 41px; background: #fff;}
textarea {resize: vertical;}

nav ul {display: block; list-style: none; margin: 0; padding: 0;}

ul {padding-left: 20px;}

a {text-decoration: none;
    &:focus {outline: none;}
}


/* ====================
   Header
   ==================== */
.main_header {background: $red; color: $white; height: 65px; position: fixed; top: 0; width: 100%; z-index: 1004; @include box-shadow(0 0 4px rgba(0, 0, 0, .8));
    a {color: $white; display: block;}
}

.brand {float: left; margin: 6px 0 0 15px;
    img {display: block;}
}

.navigation {float: right; font-size: 15px; height: 65px; margin-right: 15px;
    .top_nav, .lang_nav, .profile_nav {float: left;
        li {display: block; float: left; margin: 0 2px; position: relative;
            &.current a {background-color: $red-light;}
            &:hover ul {display: block;}
        }
        a, li > span {display: block; margin: 16px 0; padding: 6px 15px; @include border-radius(4px);
            &:hover {background-color: $red-light;}
        }
        ul ul {background: $white; display: none; font-size: 13px; padding: 10px; position: absolute; left: 0; top: 60px; width: 90px; @include box-shadow(0 0 4px rgba(0, 0, 0, .3));
            &:before {background: $white; content: " "; display: block; height: 10px; left: 50%; margin-left: -5px; position: absolute; top: -5px; width: 10px; @include transform(rotate(45deg));}
            li {float: none; margin: 0;
                a {background-color: none; color: #333; float: none; margin: 0; padding: 5px 8px; @include border-radius(0);
                    &:hover {background-color: #ddd;}
                }
                &.current a {background-color: #ddd;}
            }
        }
        .child-menu {
            ul {margin-left: -15px;}
            & > span {background: image-url('lang-arrow.png') no-repeat 85% 50%; padding-right: 25px; }
        }
        .app-menu {
            a {background: #9F191F image-url('cash-atlas-icon-white.png') no-repeat 15px 50%; padding-left: 40px;}
            &:hover a {@include box-shadow(0 0 3px $red-light);}
            &.current a {background-color: #9F191F; @include box-shadow(inset 0 0 3px rgba(86, 86, 86, .3));}
        }
    }
    .profile_nav {padding: 0;
        ul ul {margin-left: -32px;
            a {border-left: 0; border-right: 0;}
        }
        a {border-left: 1px solid #b20000; border-right: 1px solid #b20000; display: block; float: left; margin: 20px 0 18px 0; padding: 3px 10px; @include border-radius(0);
            .icon {display: block; float: left; height: 15px; margin: 3px; width: 14px; @include icons-sprite(profile-default);}
            &:hover {background-color: transparent;
                .icon {@include icons-sprite(profile-hover);}
            }
        }
    }
    .lang_nav {
        ul ul {margin-left: -32px;}
        .current_lang {background: image-url('lang-arrow.png') no-repeat 85% 50%; cursor: pointer; display: block; margin: 16px 3px; padding: 6px 20px 6px 10px; text-transform: capitalize;}
    }
}


/* ====================
   Contact
   ==================== */
#contactForm {
    label, input {display: block; float: left; margin-right: 10px;}
    label {margin-top: 8px; width: 320px; text-align: right;}
    input, select, textarea {width: 230px; padding: 7px 5px;}
    .form_row {margin: 8px 0;
        .submit {margin-right: 0; padding: 5px 0 3px 0; width: 100px; margin-left: 330px; display: block;}
        label.error {clear: both; color: $red; float: none; margin-top: 0; padding-left: 330px; padding-top: 5px; text-align: left; width: auto;}
    }
    .btn {background-color: $red-dark; border: 1px solid $red-dark; color: $white; display: block; font-size: 17px; margin: auto; padding: 4px 0 2px 0; text-align: center; @include border-radius(4px); @include background(linear-gradient(top, $red-light, $red-dark));
        &:hover {background-color: $red-light; @include background(linear-gradient(top, $red-dark, $red-light));}
    }
}