/* ====================
   Compass
   ==================== */
$icons-spacing: 1px;

@import "compass/css3";
@import "compass/utilities/sprites";

@include font-face("HelveticaNeueLT", font-files("helvetica-neue/HelveticaNeueLTCom-Lt.woff", "helvetica-neue/HelveticaNeueLTCom-Lt.ttf", "helvetica-neue/HelveticaNeueLTCom-Lt.svg#HelveticaNeueLT"), "helvetica-neue/HelveticaNeueLTCom-Lt.eot?#iefix", 200, "normal");
@include font-face("HelveticaNeueLT", font-files("helvetica-neue/HelveticaNeueLTCom-Roman.woff", "helvetica-neue/HelveticaNeueLTCom-Roman.ttf", "helvetica-neue/HelveticaNeueLTCom-Roman.svg#HelveticaNeueLT"), "helvetica-neue/HelveticaNeueLTCom-Roman.eot?#iefix", 400, "normal");
@include font-face("HelveticaNeueLT", font-files("helvetica-neue/HelveticaNeueLTCom-Bd.woff", "helvetica-neue/HelveticaNeueLTCom-Bd.ttf", "helvetica-neue/HelveticaNeueLTCom-Bd.svg#HelveticaNeueLT"), "helvetica-neue/HelveticaNeueLTCom-Bd.eot?#iefix", 700, "normal");

// @include font-face("HelveticaNeueLTCustom", font-files("bucanero/bucanero-Lt.woff", "bucanero/bucanero-Lt.ttf", "bucanero/bucanero-Lt.svg#HelveticaNeueLT"), "bucanero/bucanero-Lt.eot?#iefix", 200, "normal");
// @include font-face("HelveticaNeueLTCustom", font-files("bucanero/bucanero-Roman.woff", "bucanero/bucanero-Roman.ttf", "bucanero/bucanero-Roman.svg#HelveticaNeueLT"), "bucanero/bucanero-Roman.eot?#iefix", 400, "normal");
// @include font-face("HelveticaNeueLTCustom", font-files("bucanero/bucanero-Bd.woff", "bucanero/bucanero-Bd.ttf", "bucanero/bucanero-Bd.svg#HelveticaNeueLT"), "bucanero/bucanero-Bd.eot?#iefix", 700, "normal");

@import "sprites/icons/*.png";
@import "sprites/images/*.png";

@include all-icons-sprites;
@include all-images-sprites;

// Colors
$gray-dark: #222;
$white: #fff;
$blue-light: #00c3ff;
$blue: #00bfff;
$blue-dark: #009bcf;
$blue-dark-2: #00a1d4;
$red: #cc2127;
$red-light: #f00021;
$red-dark: #cd2027;

$bordercolor: #d6d6d6;

