@import "../login_register/main";

/* ====================
   Structure
   ==================== */
.row {
    .col_1, .col_2, .col_3, .col_2_3 {float: left; margin: 0 2%;}
    .col_1 {width: 96%;}
    .col_2 {width: 46%;}
    .col_3 {width: 29.333333%;}
    .col_2_3 {width: 58.666666%;}
    &.red {background: url(/bundles/simbioticacalp/img/assets/bg/grid-red.png);}
    &.gray {background: url(/bundles/simbioticacalp/img/assets/bg/grid-gray-light.png);}
}

.btn {border: 1px solid $blue-dark-2; color: #fff; display: inline-block; font-size: 17px; height: 37px; margin: 0; width: 150px; @include border-radius(4px); @include background(linear-gradient(top, $blue-light, $blue-dark));
    &:hover {@include background(linear-gradient(top, $blue-dark, $blue-light));}
}

.messages {margin: 20px 0; padding: 10px 15px; text-align: center; @include border-radius(5px);
    &.warning {background: image-url('bg/grid-warning.png'); border: 1px solid #D93600;}
}


/* ====================
   Main
   ==================== */
.container {max-width: 1040px; margin: 0 auto;}
.main_content {margin-top: 0;}
.main_content .row {max-width: 1000px;}
.content {margin: 20px 0;}
.main_footer {margin-bottom: 20px;}


/* ====================
   reportForm
   ==================== */
.report_form {max-width: 580px; margin: auto;}
.form_row {margin: 0 0 20px 0;}
.form_label {display: block; float: left; margin-right: 10px; position: relative; text-align: right; width: 30%;
    label {font-weight: bold; line-height: 32px; margin-top: 0; width: 100%;}
}
.form_controls {display: block; float: left; position: relative;
  input, textarea, select {width: 260px;}
//  select {background: #fff; border: 1px solid #d6d6d6; font-size: 15px; height: 30px; margin-right: 10px; padding: 0; width: 260px; @include border-radius(4px);}
  input[type="checkbox"] {width: auto; height: auto; margin-right: 5px;}
}
.radios input[type="radio"] {position: absolute; top: 8px; left: 55px;}
.dates .form_row select {width: 130px;}
// .cols {
//  .form_label {text-align: center; width: 260px;
//     input {margin-top: 7px;}
//     label {width: auto;}
//   }
//  .separator {float: left; text-align: center; width: 10%;
//      p {line-height: 30px; margin: 0;}
//  }
//  .form_row {float: left; width: 45%;}
// }
.checkboxes {margin: auto; width: 95%;
    .form_label, .form_label label {width: 100%; text-align: center;}
  .form_controls label {margin-bottom: 10px; margin-top: 0; text-align: left; width: 155px;}
}
.control_btns {text-align: center;
  .btn {margin: 0 5px;}
}
.select2-result-sub {padding: 0;}
.select2-drop input {width: 100%;}
// #simbiotica_report_fields label {margin-right: 20px;}


/* ====================
   Spinner
   ==================== */
#spinner {height: 20px; margin-top: 20px; position: relative;}


/* ====================
   Graphics
   ==================== */
.graph {font-size: 10px; min-height: 200px;}
.legend {*zoom: 1;
    ul {list-style: none; margin: 0; padding: 0;}
    li {display: block; float: left; list-style: none; margin: 5px 0; width: 20%;}
    .icon {display: block; float: left; height: 10px; margin-right: 10px; width: 10px;}
    &:after, &:before {content: " "; display: table;}
    &:after {clear: both;}
}

#graphics {
    .col_1 .legend li {width: 50%;}
    .col_2 .legend li {width: 50%;}
    .col_3 .legend li {width: 100%;}
}

.graphic_header {background: #eee; font-size: 17px; margin-top: 30px; padding: .5% 3%; text-align: center;
  .filters {font-size: 13px;}
}
.graphic_row {border-bottom: 1px solid #ddd; padding: 30px 0;
    &:last-child {border-bottom: 0;}
    header {text-align: center; margin-bottom: 20px;}
}

.footer_report {text-align: center;}

// D3
.axis path, .axis line {fill: none; stroke: #000; shape-rendering: crispEdges;}
.x.axis path {display: none;}


.line {
  fill: #eee;
  stroke: steelblue;
  stroke-width: 1.5px;
}

