{% spaceless %}
{% set auth = app.security.isGranted('IS_AUTHENTICATED_REMEMBERED') %}
{% if app.environment == 'prod' %}
    {% set asset_url = '/bundles/simbioticacalp/dist/' %}
{% else %}
    {% set asset_url = '/bundles/simbioticacalp/app/' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>{% block title %}{{ 'application.title' | trans({}, "SimbioticaFront") }}{% endblock %} | Cash Atlas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=1024">
        <link rel="icon" type="image/png" href="{{ asset(asset_url ~ 'images/assets/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset(asset_url ~ 'images/assets/apple-touch-icon.png') }}">
        {% block stylesheets %}{% endblock %}
        <!--[if lt IE 9]>
            <script src="{{ asset('bundles/simbioticacalp/vendor/modernizr/modernizr.js') }}"></script>
        <![endif]-->
    </head>
    <body {% block bodyAttrs %}{% endblock %}>
        {% block header %}
            <header class="main_header">
                <a href="/" class="brand"><img src="{{ asset(asset_url ~ 'images/assets/logo-cash-atlas.png') }}" alt="Cash Atlas" height="49" width="202"></a>
                {% block navigation %}
                    <nav class="navigation">
                        <div class="top_nav">
                            {{ knp_menu_render('main') }}
                        </div>
                        <div class="profile_nav">
                            <ul class="clearfix">
                                {% if auth %}
                                    <li><a href="#"><span class="icon"></span></a>
                                        <ul>
                                            <li><a href="{{ path('sonata_user_profile_edit') }}">{{ 'profile.edit' | trans({}, "SimbioticaFront") }}</a></li>
                                            {% if app.security.isGranted('ROLE_ADMIN') %}<li><a href="{{ path('admin_home') }}">{{ 'profile.dashboard' | trans({}, "SimbioticaFront") }}</a></li>{% endif %}
                                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}<li><a href="{{ path('simbiotica_calp_homepage', { _switch_user : '_exit'}) }}">Exit impersonation</a></li>{% endif %}
                                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'profile.logout' | trans({}, "SimbioticaFront") }}</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="{{ path('fos_user_security_login') }}"><span class="icon"></span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                            
                        {% block language %}
                            <div class="lang_nav">
                                <ul class="clearfix">
                                    <li><span class="current_lang">{{ app.request.locale }}</span>
                                        {{ render(controller('SimbioticaCalpBundle:Application:languageSwitcher', { 'route': app.request.attributes.get('_route'), 'params': app.request.attributes.get('_route_params') })) }}
                                    </li>
                                </ul>
                            </div>
                        {% endblock %}
                    </nav>
                {% endblock %}
            </header>
        {% endblock %}

        {% block main %}{% endblock %}
    
        {% block javascripts %}{% endblock %}
        
        {% if app.environment == 'prod' %}
            {% include "SimbioticaCalpBundle:Helpers:analitycs.html.twig" %}
        {% endif %}
    </body>
</html>
{% endspaceless %}