{% if app.environment == 'prod' %}
    {% set asset_url = 'bundles/simbioticacalp/dist/' %}
{% else %}
    {% set asset_url = 'bundles/simbioticacalp/app/' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ 'application.title' | trans({}, "SimbioticaFront") }}{% endblock %} | Cash Atlas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset(asset_url ~ 'images/assets/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset(asset_url ~ 'images/assets/apple-touch-icon.png') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="http://{{ app.request.host ~ asset('bundles/simbioticacalp/vendor/normalize-css/normalize.css') }}">
        <link rel="stylesheet" href="http://{{ app.request.host ~ asset('bundles/simbioticacalp/.tmp/styles/export/main.css') }}">
    {% endblock %}
    <!--[if lt IE 9]>
        <script src="{{ asset('/bundles/simbioticacalp/vendor/modernizr/modernizr.js') }}"></script>
    <![endif]-->
</head>
<body>
    {% block header %}
        <div class="logo-cash-atlas">
            <img src="http://{{ app.request.host ~ asset(asset_url ~ 'images/assets/logo-cash-atlas-black.png') }}">
            <p><a href="http://www.cash-atlas.org">http://www.cash-atlas.org</a></p>
        </div>
    {% endblock %}
    {% block main %}{% endblock %}
    {% if app.environment == 'prod' %}
        {% include "SimbioticaCalpBundle:Helpers:analitycs.html.twig" %}
    {% endif %}
</body>
</html>