<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>Cash Atlas Test</title>
</head>

<body>
    <h1>Import</h1>
    <h2>{{ files | length }} files imported sucessfully</h2>
    {% for filename, projects in files %}
        <h3>{{ filename }}</h3>
        <h4>{{ projects | length }} projects imported sucessfully</h4>
        {% if errors[filename] | length > 0 %}
            <h4>{{ errors[filename] | length }} projects with errors found:</h4>
            {% for line, project in errors[filename] %}
                <p>For id {{ line }}</p>
                <ul>
                    {% for index, error in project %}
                    <li>{{ index }}: {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    {% endfor %}
</body>
</html> 