{% spaceless %}
{% if app.environment == 'prod' %}
    {% set asset_url = 'bundles/simbioticacalp/dist/' %}
{% else %}
    {% set asset_url = 'bundles/simbioticacalp/app/' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ 'login.title' | trans({}, "SimbioticaFront") }}{% endblock %} | Cash Atlas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=1024">

        <link rel="icon" type="image/png" href="{{ asset(asset_url ~ 'images/assets/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset(asset_url ~ 'images/assets/apple-touch-icon.png') }}">

        {% block stylesheets %}
            {% if app.environment == 'prod' %}
                <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/dist/styles/login_register/main.css') }}">
            {% else %}
                <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/normalize-css/normalize.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/select2/select2.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/.tmp/styles/login_register/main.css') }}">
            {% endif %}
        {% endblock %}

        <!--[if lt IE 9]>
            <script src="{{ asset('/bundles/simbioticacalp/vendor/modernizr/modernizr.js') }}"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container clearfix">
            {% block header %}
                <header class="main_header">
                    <div class="row">
                        <div class="col span12">
                            <div class="logo">
                                <a href="/">
                                    <img src="{{ asset(asset_url ~ 'images/assets/logo-cash-atlas-black.png') }}" alt="Cash Atlas" height="47" width="196">
                                </a>
                            </div>
                            {% block videolink %}{% endblock %}
                        </div>
                    </div>
                </header>
            {% endblock %}

            {% block main %}
                <div class="main_content">
                    {% if app.session.flashBag.all %}
                        <div class="row">
                            <div class="col span12">
                                <div class="messages">
                                    {% for type, messages in app.session.flashBag.all %}
                                        {% for message in messages %}
                                            <div class="{{ type }}">
                                                {{ message|trans({}, 'SimbioticaFront') }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col span12">
                            <div class="content clearfix">
                                <div class="col span12">
                                    <h1>{% block title2 %}{{ 'login.title2' | trans({}, "SimbioticaFront") }}{% endblock %}</h1>
                                    <div class="intro">
                                        {% block intro %}
                                            {{ 'login.intro' | trans({}, "SimbioticaFront") | raw }}
                                        {% endblock %}
                                    </div>
                                </div>
                                <div class="form-content">
                                    {% block fos_user_content %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col span12">
                            <div class="donors">
                                <h2>{{ 'index.public.preface2' | trans({}, "SimbioticaFront") }}:</h2>
                                <ul class="donors_list clearfix">
                                    <li><a href="http://www.redcross.org" target="_blank"><img src="{{ asset(asset_url ~ 'images/donors/american-red-cross.png') }}"></a></li>
                                    <li><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank"><img src="{{ asset(asset_url ~ 'images/donors/eu-humanitarian-aid.png') }}"></a></li>
                                    <li><a href="http://www.usaid.gov/" target="_blank"><img src="{{ asset(asset_url ~ 'images/donors/usaid.png') }}"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block footer %}
                <footer class="main_footer">
                    <div class="row">
                        <div class="col span12">
                            <nav class="footer_nav clearfix">
                                <div class="main_nav">
                                    {{ knp_menu_render('main') }}
                                </div>
                                <div class="lang_nav">
                                    {{ render(controller('SimbioticaCalpBundle:Application:languageSwitcher', { 'route': app.request.attributes.get('_route'), 'params': app.request.attributes.get('_route_params') })) }}
                                </div>
                            </nav>
                        </div>
                    </div>
                </footer>
            {% endblock %}
        </div>
    
        {% block javascripts %}
            {% if app.environment == 'prod' %}
                <script src="{{ asset('bundles/simbioticacalp/dist/vendor/require.js') }}" data-main="{{ asset('bundles/simbioticacalp/dist/scripts/login_register/main') }}"></script>
            {% else %}        
                <script src="{{ asset('bundles/simbioticacalp/vendor/requirejs/require.js') }}" data-main="{{ asset('bundles/simbioticacalp/app/scripts/login_register/main') }}"></script>
            {% endif %}            
        {% endblock %}
        
        {% if app.environment == 'prod' %}
            {% include "SimbioticaCalpBundle:Helpers:analitycs.html.twig" %}
        {% endif %}
    </body>
</html>
{% endspaceless %}