{% extends 'SimbioticaCalpBundle:Templates:login_register.html.twig' %}

{% block title %}{{ "title_user_account" | trans({}, 'SonataUserBundle')}}{% endblock %}

{% block title2 %}{{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}{% endblock %}

{% block intro %}
    {{ 'edit_profile.intro' | trans({}, 'SimbioticaFront') | raw }}
{% endblock %}

{% block fos_user_content %}
    <div class="register_form clearfix">

        {{ form_errors(form) }}

        <form action="{{ path('sonata_user_profile_edit') }}" method="POST">
            <div class="form_row clearfix">
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}
                {{ form_errors(form.firstname) }}
            </div>

            <div class="form_row clearfix">
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname) }}
                {{ form_errors(form.lastname) }}
            </div>

            <div class="form_row clearfix">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="form_row clearfix">
                {{ form_label(form.position) }}
                {{ form_widget(form.position) }}
                {{ form_errors(form.position) }}
            </div>

            <div class="form_row clearfix">
                {{ form_label(form.country) }}
                {{ form_widget(form.country) }}
                {{ form_errors(form.country) }}
            </div>

            <div class="form_row clearfix">
                {{ form_widget(form.plainPassword) }}
                <input type="submit" name="submit" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" class="btn submit" />
                {{ form_errors(form.plainPassword) }}
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
{% endblock fos_user_content %}