<div class="reveal_index">
    <ul>
        <li><span>List of contents</span>
            <ul>
                <li><a href="#/1">General information</a></li>
                <li><a href="#/3">The zoom</a></li>
                <li><a href="#/5">Information bar</a></li>
                <li><a href="#/7">Extracting data</a></li>
                <li><a href="#/8">Project list</a></li>
                <li><a href="#/9">Project details</a></li>
                <li><a href="#/12">Filters</a></li>
                <li><a href="#/18">Report generation module</a></li>
                <li><a href="#/21">The admin dashboard – for project editors only</a></li>
                <li><a href="#/23">Creating/publishing projects</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="reveal">
    <div class="slides">

        <section>
            <article class="first big center">
                <div class="cell">
                    <h2 class="big">Welcome to the<br> Cash Atlas tutorial</h2>
                    <p>This interactive map will allow the diverse<br> actors involved in the design<br> and implementation of cash transfer<br> programmes (CTPs) to better understand<br> the various uses of CTPs at a global level. </p>
                    <p>But first, we will give you a little tour around<br> this tool...</p>
                    <p><img src="{{ asset('bundles/simbioticacalp/app/images/assets/logo-cash-atlas-small.png') }}"></p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/01.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <p class="big">The Cash Atlas is<br> available<br> in English, French<br> and Spanish.</p>
                </div> 
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/02.jpg') }}"></div>
        </section>

        <section>
            <article class="left medium">
                <div class="cell small">
                    <p>Two display modes are available.<br> You can either view the map<br> using the “Number of projects” mode <br>or the “Number of beneficiaries” mode.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/03.jpg') }}"></div>    
        </section>
        
        <section>
            <article class="right medium">
                <div class="cell">
                    <p class="medium"> By clicking on a dot,<br> you will zoom down<br> to the next level.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/04.jpg') }}"></div>
        </section>
        
        <section>
            <article class="center medium" style="margin-left: -290px;">
                <div class="cell">
                    <p>You can zoom down<br> to the province level, this is the<br> furthest you can zoom. Once you’ve<br> reached this level, you may refer to the<br> Information bar for data on all projects<br> in this province.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/05.jpg') }}"></div>
        </section>
                
        <section>
            <article class="left big">
                <div class="cell">
                    <h2>In the information Bar you will<br>find aggregated information and<br> a complete list of projects for the<br> area you have selected.</h2>
                    <p>Aggregated information shows<br> the compiled numbers of projects,<br> beneficiaries, budgets, main organisations,<br> selectors and donors<br> for a given region, country or province.</p>
                    <p>The List of projects (at the very bottom<br> of the bar) will show all the projects entered<br> for the area you are viewing.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/06.jpg') }}"></div>    
        </section>

        <section>
            <article class="center medium">
                <div class="cell medium">
                    <p >As you scroll down the Information<br> bar you will find global charts<br> of the area.</p>
                    <p >Scrolling all the way down<br> will take you to the List of projects.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/07.jpg') }}"></div>
        </section>

        <section>
            <article class="left medium">
                <div class="cell">
                    <h2>For a more in-depth<br> analysis of information,<br> you can extract:</h2>
                    <ul class="small" >
                        <li>The graphs from the Information bar (in PDF format)</li>
                        <li> The data of all projects for the area/filters you selected (in XLAS or CSV formats)</li>
                    </ul>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/08.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <p class="medium">In the List of Projects<br> you can click on one specific<br> project to access more<br> detailed information.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/09.jpg') }}"></div>    
        </section>
        
        <section>
            <article  class="right medium">
                <div class="cell">
                    <h2>Each project includes<br> general information such<br>as implementing<br>organisation, donor,<br> timeline,budget and<br>specific objectives.</h2>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/10.jpg') }}"></div>
        </section>
        
        <section>
            <article class="right medium">
                <div class="cell">
                    <p>The Cash Atlas displays more<br> technical information such as<br> modality, delivery mechanism and<br> agent, sector of intervention, and<br> context, amongst other.</p>
                    <p>When available, project documents<br> can be downloaded.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/11.jpg') }}"></div>
        </section>
        
        <section>
            <article class="right medium">
                <div class="cell">
                    <h2>If you find the project of<br>interest, you have the<br> opportunity to export the<br> information as PDF file.</h2>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/12.jpg') }}"></div>
        </section>

        <section>
            <article class="left medium">
                <div class="cell small">
                    <p>Maps can be confusing<br> if the sheer amount of data<br> overwhelms users. By filtering the information, you will be able to find the information you are looking for at first glance.</p>
                    <p>The Filter bar allows you to seek<br> easily the information you are<br> looking for.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/13.jpg') }}"></div>
        </section>

        <section>
            <article class="left medium">
                <div class="cell medium">
                    <p>You can activate one, or several filters.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/14.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell medium">
                    <p>Once you have selected all the filters<br> you want, click on this button.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/15.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell medium">
                    <p>When filters are activated,<br> they will be displayed at the top of the Information bar.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/16.jpg') }}"></div>
        </section>

        <section>
            <article class="left medium">
                <div class="cell small">
                    <p>The Information bar will only show<br> and take into account the projects<br> meeting the criteria of the filters you selected.</p>
                </div>
            </article>
        <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/17.jpg') }}"></div>
        </section>

        <section>
            <article class="left medium">
                <div class="cell medium">
                    <p>To reset all filters, simply click on this button.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/18.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell medium">
                    <p>A Report/Graph Generation Engine<br> is available in the Cash Atlas.<br> This can be accessed by pressing this button.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/19.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <p>Select the set of data you want<br> to assess and then click on<br> “Generate Report”.</p>
                    <p>The Report/Graph generation module allows you to assess trends in usage<br> of CTP by organisations, donors,<br> sectors, modality, etc.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/20.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell medium">
                    <p>A report taking into account the filters you activated will<br> be generated.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/21.jpg') }}"></div>
        </section>
        
        <section>
            <article class="left big">
                <div class="cell medium">
                    <p>If you have requested editor’s rights<br> when you registered, you will have<br>  access to your admin dashboard.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/22.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell medium">
                    <p>You will find here your organisation’s projects<br> which you can<br> update/amend.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/23.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell medium">
                    <p>If you want to create a new project,<br> simply click here.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/24.jpg') }}"></div>    
        </section>

        <section>
            <article class="right medium">
                <div class="cell medium">
                    <p>A user-friendly data<br> entry form is here to help<br> you enter new project<br> or update information<br> on projects already<br>displayed.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/25.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <p>This form includes mandatory<br> and optional fields.<br> The mandatory ones are shown with<br> an asterisk next to them. For the Cash Atlas to be able to display the project,<br> all mandatory fields need<br> to be filled in.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/26.jpg') }}"></div>    
        </section>
        
        <section>
            <article class="center medium">
                <div class="cell">
                    <p>There are 7 mandatory<br> pieces of information:</p>
                    <ul>
                        <li>Organisation</li>
                        <li>Locations and number of beneficiaries</li>
                        <li>Specific objectives</li>
                        <li>Sectors</li>
                        <li>Donors and budget</li>
                        <li>Timeline of the project</li>
                        <li>Modality</li>
                    </ul>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/27.jpg') }}"></div>
        </section>
        
        <section>
            <article class="right medium">
                <div class="cell">
                    <p>You do not need to fill all mandatory<br> fields at once to be able to save your project. You can start entering some<br> data, create the project, and come<br> back later to fill in the missing<br> information.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/28.jpg') }}"></div>
        </section>        
        
        <section>
            <article class="center medium">
                <div class="cell small">
                    <p>Once a project is created<br> you will see three items<br> next to it.</p>
                    <p>The “Status” box, the “Validation”<br> box and the “Action” menu.</p>    
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/29.jpg') }}"></div>
        </section>
        
        <section>
            <article class="center medium">
                <div class="cell small">
                    <p>The “Validation” box<br> will inform you if the project<br> is “Complete” or if mandatory<br> information is missing, in<br> which case it will point out which fields need to<br> be filled in.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/30.jpg') }}"></div>
        </section>
        
        <section>
            <article class="center medium">
                <div class="cell small">
                    <p>You will only be able to “Publish”<br> the project after all mandatory fields<br> have been completed. Publishing<br> projects can be done via the “Action” menu.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/31.jpg') }}"></div>
        </section>        
        
        <section>
            <article class="center medium">
                <div class="cell">
                    <h2>The “Action” menu<br> allows you to publish or unpublish projects.</h2>
                    <p>You can also place a project under revision, if you want the information<br> to be verified/updated by<br> another user.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/32.jpg') }}"></div>
        </section>        
        
        <section>
            <article class="center medium">
                <div class="cell medium">
                    <p>Once all mandatory fields<br> are filled in, you will be able<br> to publish the project so it appears on the map.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/33.jpg') }}"></div>
        </section>        
        
        <section>
            <article class="center medium">
                <div class="cell">
                    <p class="medium">The “Status” box will<br> give you the status of<br> your project.<br>It can be:</p>
                    <ul>
                        <li>Published</li>
                        <li>Unpublished</li>
                        <li>Under revision</li>
                    </ul>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/34.jpg') }}"></div>
        </section>        
        
        <section>
            <article class="last big center">
                <div class="cell">
                    <h2 class="big">Enjoy the Cash Atlas</h2>
                    <div class="medium">
                        <p>For any questions, you can write to</p>
                        <p><a href="mailto:cash-atlas@cashlearning.org">cash-atlas@cashlearning.org</a></p>
                        <br><p><a href="/">Go to the Cash Atlas!</a></p>
                    </div>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial/35.jpg') }}"></div>
        </section>

    </div>
</div>