<div class="reveal_index">
    <ul>
        <li><span>Lista de contenidos</span>
            <ul>
                <li><a href="#/1">Idiomas</a></li>
                <li><a href="#/2">Barra de información</a></li>
                <li><a href="#/3">Filtros</a></li>
                <li><a href="#/4">Lista de proyectos</a></li>
                <li><a href="#/5">Detalle de proyecto</a></li>
                <li><a href="#/8">Exportación de lista de proyectos</a></li>
                <li><a href="#/9">Generación de reportes</a></li>
                <li><a href="#/11">Panel de control</a></li>
                <li><a href="#/12">Creación de proyectos</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="reveal">
    <div class="slides">

        <section>
            <article class="first big center">
                <div class="cell">
                    <h2 class="big">Bienvenido/a al<br> tutorial del Cash Atlas</h2>
                    <p>Este mapa interactivo permitirá a los diversos actores<br> que participan en el diseño e implementación <br>de programas de transferencia de efectivo<br> que mejoren su comprensión de los diferentes<br> usos  de este tipo de programas a nivel mundial.</p>
                    <p>Pero primero le ofrecemos una visita guiada<br> sobre esta herramienta...</p>
                    <p><img src="{{ asset('bundles/simbioticacalp/app/images/assets/logo-cash-atlas-small.png') }}"></p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/1.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <p class="big">El Cash Atlas está disponible en inglés, francés y español.</p>
                </div> 
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/2.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <h2>En la barra de información<br> encontrará información agregada<br> y una lista completa de proyectos<br> de la zona que haya seleccionado.</h2>
                    <p>La información agregada muestra datos recopilados<br> de proyectos, beneficiarios, presupuestos,<br> principales organizaciones, sectores y donantes<br> de una determinada región, país o provincia.</p>
                    <p>La lista de proyectos (al final de la barra)<br> muestra todos los proyectos que se están<br> llevando a cabo en la zona<br> que esté visualizando.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/3.jpg') }}"></div>    
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <h2>La barra de filtro le permitirá<br> encontrar de manera más fácil<br> la información que esté buscando.</h2>
                    <p>Los mapas pueden resultar confusos<br> si la gran cantidad de información abruma<br> a los usuarios. Al filtrar la búsqueda,<br> podrá encontrar la información <br>que está buscando de un solo vistazo.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/4.jpg') }}"></div>
        </section>

        <section>
            <article class="left medium">
                <div class="cell">
                    <p class="medium">En la lista de proyectos<br> podrá hacer clic en un proyecto específico<br> para acceder a información<br> más detallada.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/5.jpg') }}"></div>    
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <p class="medium">Cada proyecto incluye<br> información general como<br> la organización implementadora,<br> donantes, calendario, presupuesto<br> y objetivos específicos.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/6.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <p>Cash Atlas muestra información<br> más técnica como la modalidad,<br> el mecanismo de entrega y distribuidor,<br> el sector de intervención y <br>el contexto, entre otros elementos.</p>
                    <p>Los documentos del proyecto <br>se podrán descargar en los casos<br> en que esta función<br> este disponible.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/7.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <h2>Si lo desea,<br> puede descargar<br> la información<br> como archivo PDF.</h2>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/8.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <h2>Para un análisis<br> más exhaustivo de la información,<br> los datos se pueden extraer <br>en todo momento,<br> en formato XLS o CSV.</h2>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/9.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <h2>Hay disponible un motor<br> de generación de informes y gráficos.<br> Se puede acceder<br> haciendo clic en este botón.</h2>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/10.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <p>El módulo de generación<br> de informes/gráficos le permite<br> evaluar las tendencias en <br>el uso de programas <br>de transferencias de efectivo por organización, donante,  sector,<br> modalidad, etc.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/11.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell medium">
                    <p>Para acceder a su panel de control,<br> haga clic aquí.</p>
                    <p>En el panel de control,<br> puede introducir nuevos proyectos<br> y administrar la información <br>que haya introducido<br> con anterioridad. </p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/12.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <p>Un sencillo formulario para <br>introducir datos le ayudará<br> a introducir nuevos proyectos<br> o actualizar información <br>sobre los proyectos ya registrados.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/13.jpg') }}"></div>
        </section>

        <section>
            <article class="center last big">
                <div class="cell">
                    <h2 class="big">Disfrute de su recorrido <br>por Cash Atlas</h2>
                    <div class="medium">
                        <p>Si tiene cualquier<br> pregunta puede escribir a</p>
                        <p><a href="mailto:cash-atlas@cashlearning.org">cash-atlas@cashlearning.org</a> </p>
                        <br><p><a href="/">Ir a Cash Atlas</a></p>
                    </div>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/14.jpg') }}"></div>
        </section>

    </div>
</div>