<div class="reveal_index">
    <ul>
        <li><span>Chapitres</span>
            <ul>
                <li><a href="#/1">Langues</a></li>
                <li><a href="#/2">Barre d'information</a></li>
                <li><a href="#/3">Filtres</a></li>
                <li><a href="#/4">Liste des projets</a></li>
                <li><a href="#/5">Information par projet</a></li>
                <li><a href="#/8">Extraire les données</a></li>
                <li><a href="#/9">Générateur de rapport</a></li>
                <li><a href="#/11">Tableau de bord</a></li>
                <li><a href="#/12">Créer un nouveau projet</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="reveal">
    <div class="slides">

        <section>
            <article class="first big center">
                <div class="cell">
                    <h2 class="big">Bienvenue au<br> tutoriel du Cash Atlas </h2>
                    <p>Cette carte interactive permettra<br> aux divers acteurs impliqués dans la conception<br> et mise en œuvre des programmes <br>de transfert monétaire (PTM) de mieux<br> comprendre les diverses utilisations des PTM<br> au niveau mondial.</p>
                    <p>Mais tout d’abord, explorons<br> rapidement cet outil.</p>
                    <p><img src="{{ asset('bundles/simbioticacalp/app/images/assets/logo-cash-atlas-small.png') }}"></p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/1.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <p class="big">Le Cash Atlas est<br> disponible en anglais,<br> français et espagnol.</p>
                </div> 
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/2.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <h2>Dans la barre<br> d’informations,<br> vous trouverez un cumul<br> des informations et une liste<br> complète des projets pour la zone<br> géographique sélectionnée.</h2>
                    <p>Les informations accumulées montrent le nombre<br> de projets, de bénéficiaires, d’organisations,<br> de secteurs et de bailleurs de fonds ainsi<br> que le budget pour une région, un pays ou une<br> province donné-e.</p>
                    <p>La liste des projets (tout en bas de la barre<br> de recherche) vous montrera <br>tous les projets pour la<br> zone que vous consultez.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/3.jpg') }}"></div>    
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <h2>La barre de filtrage vous<br> permet de chercher<br> facilement les informations<br> dont vous avez besoin. </h2>
                    <p>Les cartes peuvent être déroutantes si le volume<br> de données écrase les utilisateurs. En filtrant les<br> informations, vous serez en mesure de trouver les<br> informations dont vous avez<br> besoin du premier coup.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/4.jpg') }}"></div>
        </section>

        <section>
            <article class="left medium">
                <div class="cell">
                    <p class="medium">Dans la liste des projets,<br> vous pouvez cliquer sur un<br> projet en particulier afin<br> d’avoir accès à davantage<br> d’informations.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/5.jpg') }}"></div>    
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <p>Chaque projet<br> comprend des informations<br> générales telles que<br> l’organisation chargée de la mise<br> en œuvre, le bailleur de fonds, le<br> calendrier,  le budget et<br> les objectifs spécifiques.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/6.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <p>Le Cash Atlas affiche<br> plus d’informations techniques,<br> telles que la modalité, le<br> mécanisme et l’agent de mise<br> en œuvre, le secteur de l’intervention<br> et le contexte, entre autres.</p>
                    <p>Les documents relatifs<br> peuvent être téléchargés<br> lorsqu’ils sont disponibles.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/7.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <h2>Si le projet vous<br> semble intéressant,<br> vous pouvez exporter<br> les informations au<br> format PDF.</h2>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/8.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell">
                    <h2>Pour bénéficier d’une analyse plus<br> approfondie des informations, les<br> données peuvent être extraites à<br> tout moment, aux<br> formats XLS ou CSV.</h2>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/9.jpg') }}"></div>
        </section>

        <section>
            <article class="left medium">
                <div class="cell">
                    <h2>Un outil de génération<br> de rapport/graphique<br> est disponible dans le Cash Atlas.<br> Vous pouvez y accéder<br> à partir de ce bouton.</h2>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/10.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <p>Le module de génération de<br> rapport/graphique <br>vous permet d’analyser <br>les tendances dans l’utilisation <br>des PTM par organisations,<br> bailleurs de fonds, secteurs,<br> modalité, etc.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/11.jpg') }}"></div>
        </section>

        <section>
            <article class="left big">
                <div class="cell medium">
                    <p>Pour accéder à votre tableau<br> de bord d’administrateur, cliquez ici. </p>
                    <p>Dans votre tableau de bord,<br> vous pouvez entrer de nouveaux projets<br> et gérer les informations que<br> vous avez d’ores et déjà entrées.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/12.jpg') }}"></div>
        </section>

        <section>
            <article class="right medium">
                <div class="cell">
                    <p>Un formulaire de saisie<br> des données facile d’utilisation<br> vous aidera à entrer de<br> nouveaux projets ou à mettre <br>des projets en cours à jour.</p>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/13.jpg') }}"></div>
        </section>

        <section>
            <article class="last center big">
                <div class="cell">
                    <h2 class="big">Bonne navigation <br>sur le Cash Atlas !</h2>
                    <div class="medium">
                        <p>Pour toute question, écrivez-nous<br> à l’adresse suivante</p>
                        <p><a href="mailto:cash-atlas@cashlearning.org">cash-atlas@cashlearning.org</a> </p>                      
                        <br><p><a href="/">Allez à Cash Atlas!</a></p>
                    </div>
                </div>
            </article>
            <div class="bg"><img src="{{ asset('bundles/simbioticacalp/app/images/tutorial-old/14.jpg') }}"></div>
        </section>

    </div>
</div>




