{% extends 'SimbioticaCalpBundle:Templates:login_register.html.twig' %}

{% block fos_user_content %}{% endblock %}

{% block videolink %}
    {% if app.request.locale == 'en' %}
        <a href="http://www.youtube.com/watch?v=ijkP6eaHE6Y" target="_blank" class="learn_more"><br>Cash Atlas<br> <strong>Video</strong></a>
    {% else %}
        <a href="#" class="learn_more">Cash Atlas<br> <strong>Video</strong><br>COMING SOON</a>
    {% endif %}
{% endblock %}