{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    <!-- jQuery code -->
    <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.8.16.custom.css') }}" type="text/css" media="all" />

    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all"  />
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />

    <!-- base application asset -->
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" type="text/css" media="all" />

    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/.tmp/styles/admin/main.css') }}">
{% endblock %}

{% block logo %}
    <a href="{{ url('sonata_admin_dashboard') }}" class="brand">
        <img src="{{ asset(admin_pool.titlelogo) }}"  alt="{{ admin_pool.title }}" height="47z" width="196">
    </a>
{% endblock %}

{% block top_bar_before_nav %}
    <li><a href="{{ path('simbiotica_calp_homepage') }}">{{ 'gotohome' | trans({}, "SimbioticaAdmin") }}</a></li>
    {% if is_granted('ROLE_TRANSLATOR') or is_granted('ROLE_SUPER_ADMIN') %}
        <li><a href="{{ path('jms_translation_index') }}">{{ 'gototranslations' | trans({}, "SimbioticaAdmin") }}</a></li>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {#<script src="{{ asset('/bundles/simbioticacalp/js/admin/a2lix.js') }}"></script>#}
    
    <script src="{{ asset('bundles/simbioticacalp/vendor/select2/select2.js') }}"></script>
    <script src="{{ asset('bundles/simbioticacalp/app/lib/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/a2lixtranslationform/js/a2lix_translation_bootstrap.js') }}"></script>

    <script src="{{ asset('bundles/simbioticacalp/app/scripts/admin/main.js') }}"></script>
{% endblock %}

{% block footer %}{% endblock %}