{% block user_block %}
    {% if app.user %}
        {{ app.user }} - <a href="{{ path('sonata_user_profile_edit') }}">{{ 'profile.edit' | trans({}, "SimbioticaAdmin") }}</a>

        {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
            - <a href="{{ url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) }}">(exit)</a>
        {% endif %}

        - <a href="{{ url('sonata_user_admin_security_logout') }}">{{ 'user_block_logout'|trans({}, 'SonataUserBundle') }}</a>
    {% endif %}
{% endblock %}
