{% extends 'SimbioticaCalpBundle:Templates:application.html.twig' %}

{% block stylesheets %}
    {% if app.environment == 'prod' %}
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/dist/styles/application/main.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/normalize-css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/cartodb.js/themes/css/cartodb.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/jscrollpane/style/jquery.jscrollpane.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/app/lib/jquery-ui-1.10.3.custom/css/no-theme/jquery-ui-1.10.3.custom.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/.tmp/styles/application/main.css') }}">
    {% endif %}
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/cartodb.js/themes/css/cartodb.ie.css') }}">
    <![endif]-->
{% endblock %}

{% block main %}
    <div class="main_content clearfix" id="application" role="main">
        {# Map section #}
        <section class="map" id="map">
            <nav class="breadcrumbs_map">
                <div id="breadcrumbsBtn" class="breadcrumbs_btns">
                    <ul class="clearfix">
                        <li class="active"><a id="scaleToggleBtn" href="#" title="{{ 'index.button.beneficiaries' | trans({}, 'SimbioticaFront') }}">{{ 'index.button.beneficiaries' | trans({}, 'SimbioticaFront') }}</a></li>
                        <li><a id="projectToggleBtn" href="#" title="{{ 'index.button.projects' | trans({}, 'SimbioticaFront') }}">{{ 'index.button.projects' | trans({}, 'SimbioticaFront') }}</a></li>
                        {% if auth %}
                            <li><a id="amountToggleBtn" href="#" title="{{ 'info.amount' | trans({}, 'SimbioticaFront') }}">{{ 'info.amount' | trans({}, 'SimbioticaFront') }}</a></li>
                        {% endif %}
                        <li><a id="resetFilters" href="#" title="{{ 'index.button.reset' | trans({}, 'SimbioticaFront') }}">{{ 'index.button.reset' | trans({}, 'SimbioticaFront') }}</a></li>
                    </ul>
                </div>
                <div id="breadcrumbsMap" class="breadcrumbs_map_nav"></div>
            </nav>
            <div class="spinner_map" id="spinnerMap"></div>
            {# Leaflet Map #}
            <div class="map_visualization" id="mapVisualization">
                <div id="infowindow" class="infowindow"></div>
            </div>
            <footer class="footer_map">
                <div class="footer_wrap clearfix">
                    <h3>{{ 'index.donors' | trans({}, 'SimbioticaFront') }}</h3>
                    <ul class="donors_logo_list clearfix">
                        <li><a href="http://www.usaid.gov/" class="usaid" target="_blank">USAID - From the American People</a></li>
                        <li><a href="http://www.redcross.org" class="american-red-cross" target="_blank">American Red Cross</a></li>
                        <li><a href="http://ec.europa.eu/echo/index_en.htm" class="eu" target="_blank">EU - Humanitarian Aid and Unit Protection</a></li>
                    </ul>
                    <div class="simbiotica">
                        <p>{{ 'index.development' | trans({}, 'SimbioticaFront') }}:<br> <a href="http://simbiotica.es" target="_blank">simbiotica.es</a></p>
                    </div>
                    {# Report a bug button #}
                    {# <a href="mailto:admin@cash-atlas.org" target="_blank" class="btn">{{ 'index.bug' | trans({}, 'SimbioticaFront') }}</a> #}
                </div>
            </footer>
        </section>

        {# Sidebar section #}
        <section class="dashboard" id="dashboard">
            <div id="contentTabs">
                <div class="clearfix">
                    <button class="btn_toggle" id="btnToggleDashboard"><span class="icon"></span></button>

                    <div class="dashboard_tabs_nav">
                        <ul class="clearfix">
                            <li class="info_tab ui-state-active">
                                <a href="#tabs-1"><span class="icon"></span> {{ 'index.information' | trans({}, 'SimbioticaFront') }}</a>
                            </li>
                            <li class="filter_tab">
                                <a href="#tabs-2"><span class="icon"></span> {{ 'index.filters' | trans({}, 'SimbioticaFront') }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                {# Info tab #}
                <div id="tabs-1">
                    <aside class="info_breadcrumbs clearfix" id="filtersList">
                        <p class="clearfix">{{ 'index.filter_by' | trans({}, 'SimbioticaFront') }}: </p>
                    </aside>
                    <section class="info_panel" id="infoPanel">
                        <div class="scrollable clearfix">
                            <div id="info"></div>
                            {% if auth %}
                                <div id="projectsList" class="row projects_list"></div>
                            {% endif %}
                            {# Disclaimer #}
                            {% if not auth %}
                                <aside class="row disclaimer_dashboard">
                                    <div class="top_header_disclaimer"></div>
                                    <header class="header_disclaimer clearfix">
                                        <p>{{ 'index.public.preface' | trans({}, 'SimbioticaFront') }}</p>
                                    </header>
                                    <div class="bottom_header_disclaimer"></div>
                                    <div class="content_disclaimer">
                                        {{ 'index.public.content' | trans({}, 'SimbioticaFront') | raw }}
                                    </div>
                                    <footer class="footer_disclaimer">
                                        <p>{{ 'index.public.call' | trans({"%link%": path('fos_user_registration_register')}, 'SimbioticaFront') | raw }}</p>
                                    </footer>
                                </aside>
                            {% endif %}
                        </div>
                        {% if auth %}
                            <footer class="row footer">
                                <div class="col span12">
                                    <div class="export_btns clearfix">
                                        <span class="label">{{ 'index.button.report' | trans({}, 'SimbioticaFront') }}</span>
                                        <div class="btns clearfix">
                                            <a href="#" target="_blank" class="pdf" id='reportBtn'><span class="icon"></span>Pdf</a>
                                        </div>
                                    </div>
                                    <div class="export_btns clearfix">
                                        <span class="label">{{ 'projects_list.save_as' | trans({}, 'SimbioticaFront') }}</span>
                                        <div class="btns clearfix">
                                            <a href="#" id="exportInfoListToExcel" target="_blank" class="excel"><span class="icon"></span>Excel</a>
                                            <a href="#" id="exportInfoListToCSV" target="_blank" class="csv"><span class="icon"></span>CSV</a>
                                        </div>
                                    </div>
                                    {#<a href="{{ path('ajax_simbiotica_report_index') }}" id="reportBtn" target="_blank" class="btn">{{ 'index.button.report' | trans({}, 'SimbioticaFront') }}</a>#}
                                </div>
                            </footer>
                        {% else %}
                            <footer class="row footer public_footer">
                                <div class="col span12">
                                    {{ 'index.info.public' | trans({}, 'SimbioticaFront') }}
                                    <a href="{{ path('fos_user_registration_register') }}" id="memberBtn" target="_blank" class="btn">{{ 'index.button.membership' | trans({}, 'SimbioticaFront') }}</a>
                                </div>
                            </footer>
                        {% endif %}
                    </section>
                </div>

                {# Filter tab #} 
                <div id="tabs-2">
                    {% if auth %}
                        <section class="filter_panel" id="filterPanel">
                            {% include 'SimbioticaCalpBundle:Form:filter_form.html.twig' %}
                            <footer class="footer_filter_panel row">
                                <div class="col span12">
                                    <button class="btn" id="btnSubmitForm"><span class="icon-apply"></span>{{ 'filters.button.apply' | trans({}, 'SimbioticaFront') }}</button>
                                    <button class="btn" id="btnResetForm"><span class="icon-reset"></span>{{ 'filters.button.reset' | trans({}, 'SimbioticaFront') }}</button>
                                </div>
                            </footer>
                        </section>
                    {% endif %}
                </div>
            </div>
        </section>

        {# Project detail #}
        <section id="projectDetail" class="project_detail"></section>
    </div>

    {# Overlay #}
    {% if not auth %}
        <div class="overlay" id="overlay">
            <div class="bg_overlay" id="bgOverlay"></div>
            <div class="content_overlay">
                <button class="close_btn" id="closeOverlayBtn">Close</button>
                <article>
                    <header>
                        <h2>{{ 'index.public.preface' | trans({}, 'SimbioticaFront') }}</h2>
                    </header>
                    
                    <div class="clearfix">
                        {{ 'index.public.content' | trans({}, 'SimbioticaFront') | raw }}
                    </div>

                    <p class="disclaimer">{{ 'index.public.call' | trans({"%link%": path('fos_user_registration_register')}, 'SimbioticaFront') | raw }}.</p>

                    <h2>{{ 'index.public.preface2' | trans({}, 'SimbioticaFront') }}</h2>
                    <p>{{ 'index.public.content2' | trans({}, 'SimbioticaFront')  }}</p>

                    <ul class="donors_list clearfix">
                        <li class="usaid"><a href="http://www.usaid.gov/" target="_blank"><img src="{{ asset('/bundles/simbioticacalp/dist/images/donors/usaid.png') }}"></a></li>
                        <li class="american-red-cross"><a href="http://www.redcross.org" target="_blank"><img src="{{ asset('/bundles/simbioticacalp/dist/images/donors/american-red-cross.png') }}"></a></li>
                        <li class="eu"><a href="http://ec.europa.eu/echo/index_en.htm" target="_blank"><img src="{{ asset('/bundles/simbioticacalp/dist/images/donors/eu-humanitarian-aid.png') }}"></a></li>
                    </ul>

                    <footer>
                        <p>{{ 'index.public.dev' | trans({}, 'SimbioticaFront')  }}: <a href="http://simbiotica.es" target="_blank">simbiotica.es</a></p>
                    </footer>
                </article>
            </div>
        </div>
    {% endif %}

    {# Contact Overlay #}
    <div id="contactOverlay" class="overlay"></div>
{% endblock %}

{% block javascripts %}
    {# Symfony dynamic javascript #}
    <script>
        var CONSTANTS = {{ data|raw }};
        var ASSETURL = '{{ asset_url }}';
        var AUTH = {% if auth %}true{% else %}false{% endif %};
        var CURRENCYDATA = {
            EUR: {
                name: 'EUR',
                symbol: '€'
            },
            USD: {
                name: 'USD',
                symbol: '$'
            }
        };
        var app = {};
        var CURRENCY = {% if app.session.get('currency') %}'{{ app.session.get('currency')|raw }}'{% else %}'EUR'{% endif %};
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'SimbioticaFront', '_locale' : app.request.locale }) }}"></script>

    {% if app.environment == 'prod' %}
        <script src="{{ asset('bundles/simbioticacalp/dist/vendor/cartodb.js') }}"></script>
        <script src="{{ asset('bundles/simbioticacalp/dist/vendor/require.js') }}" data-main="{{ asset('bundles/simbioticacalp/dist/scripts/application/main') }}"></script>
    {% else %}
        <script src="{{ asset('bundles/simbioticacalp/vendor/cartodb.js/dist/cartodb.uncompressed.js') }}"></script>
        <script src="{{ asset('bundles/simbioticacalp/vendor/requirejs/require.js') }}" data-main="{{ asset('bundles/simbioticacalp/app/scripts/application/main') }}"></script>
    {% endif %}
{% endblock %}