{% extends 'SimbioticaCalpBundle:Templates:application.html.twig' %}

{% block title %}{{ 'menu.tutorial' | trans({}, "SimbioticaFront") }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/reveal.js/css/reveal.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/.tmp/styles/tutorial/main.css') }}">
{% endblock %}

{% block main %}
    {% include 'SimbioticaCalpBundle:Tutorial:' ~ app.request.locale ~ '.html.twig' %}        
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/simbioticacalp/vendor/reveal.js/js/reveal.js') }}"></script>
    <script src="{{ asset('bundles/simbioticacalp/app/scripts/tutorial/main.js') }}"></script>
{% endblock %}