{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.deliveryMechanism %}
            {{ object.getModalities(null, 1)[object.deliveryMechanism] | trans({}, 'SimbioticaAdmin' ) }}
        {% endif %}
    </div>
{% endblock %}