{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.deliveryAgent %}
            {{ object.getModalities(null, 2)[object.deliveryAgent] | trans({}, 'SimbioticaAdmin' ) }}
        {% endif %}
    </div>
{% endblock %}