{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.modality %}
            {{ object.getModalities()[object.modality] | trans({}, 'SimbioticaAdmin' ) }}
        {% endif %}
    </div>
{% endblock %}