{# {% block location_widget %}#}
{# {% spaceless %}#}
{#     <div class="sub-controls">#}
{#         {% if prototype is defined %}#}
{#             {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}#}
{#         {% endif %}#}
{#         {% set attr = attr|merge({'class': (attr.class|default('') ~ ' location')|trim}) %}#}
{#         {{ block('form_widget') }}#}
{#     </div>#}
{# {% endspaceless %}#}
{# {% endblock location_widget %}#}

{% block partial_date_widget %}
{% spaceless %}
	<div class="controls">
		<div {{ block('widget_container_attributes') }}>
			{{ form_widget(form.year)|raw }}
			{{ form_widget(form.month)|raw }}
		</div>
	</div>
{% endspaceless %}
{% endblock partial_date_widget %}

{% block sector_widget %}
{% spaceless %}
	<div class="sectors-plus-other">
	{% if prototype is defined %}
		{% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
	{% endif %}
		<div {{ block('widget_container_attributes') }}>
			{% if form.parent is empty %}
				{{ form_errors(form) }}
			{% endif %}
			<div class="choice-plus-other-choice">
				{{ form_row(form.sectors) }}
			</div>
			<div class="choice-plus-other-other hidden">
				{{ form_row(form.otherSectors) }}
			</div>
		</div>
	</div>
{% endspaceless %}
{% endblock sector_widget %}

{% block choice_plus_other_widget %}
{% spaceless %}
	<div class="choice-plus-other">
	{% if prototype is defined %}
		{% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
	{% endif %}
		<div {{ block('widget_container_attributes') }}>
			{% if form.parent is empty %}
				{{ form_errors(form) }}
			{% endif %}
			<div class="choice-plus-other-choice">
				{{ form_row(form.options) }}
			</div>
			<div class="choice-plus-other-other hidden">
				{{ form_row(form.other) }}
			</div>
		</div>
	</div>
{% endspaceless %}
{% endblock choice_plus_other_widget %}

{% block form_row %}
{% spaceless %}
	<div class="custom_row">
		<div class="title_label">
			{{ form_label(form) }}
		</div>
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>
{% endspaceless %}
{% endblock form_row %}

{% block translated_text_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value | trans({}, translation_domain)}}" {% endif %}/>
{% endspaceless %}
{% endblock translated_text_widget %}