{% if form is defined %}
    <form action="{{ path('ajax_simbiotica_project_search') }}" method="get" class="filter_form" id="filterForm" {{ form_enctype(form) }}>
        <aside class="search_form clearfix">
            <div class="label_form"><label>{{ form_label(form.keyword) }}</label></div>
            <div class="controls_form">
                {{ form_widget(form.keyword) }}
                <div class="search_submit">
                    <input type="submit">
                </div>
            </div>
            {{ form_errors(form.keyword) }}
        </aside>
        
        <div class="scrollable">
            <div class="row">
                <div class="col span12">
                    <div class="form_row clearfix">
                        <div class="form_label">{{ form_label(form.years) }}</div>
                        <div class="form_controls">
                            {{ form_errors(form.years) }}
                            {{ form_widget(form.years) }}
                        </div>
                    </div>

                    <div class="form_row clearfix">
                        <div class="form_label">{{ form_label(form.organization) }}</div>
                        <div class="form_controls">
                        {{ form_errors(form.organization) }}
                        {{ form_widget(form.organization) }}
                        </div>
                    </div>
            
                    <div class="form_row clearfix">
                        <div class="form_label">{{ form_label(form.donor) }}</div>
                        <div class="form_controls">
                        {{ form_errors(form.donor) }}
                        {{ form_widget(form.donor) }}
                        </div>
                    </div>
            
                    <div class="form_row clearfix">
                        <div class="form_label">{{ form_label(form.sector) }}</div>
                        <div class="form_controls">
                        {{ form_errors(form.sector) }}
                        {{ form_widget(form.sector) }}
                        </div>
                    </div>
            
                    <div class="form_row clearfix">
                        <div class="form_label">{{ form_label(form.implementingPartners) }}</div>
                        <div class="form_controls">
                        {{ form_errors(form.implementingPartners) }}
                        {{ form_widget(form.implementingPartners) }}
                        </div>
                    </div>
            
                    <div class="form_row clearfix">
                        <div class="form_label">{{ form_label(form.modality) }}</div>
                        <div class="form_controls">
                            {{ form_errors(form.modality) }}
                            {{ form_widget(form.modality) }}
                        </div>
                    </div>
            
                    <div class="form_row clearfix">
                        <div class="form_label">{{ form_label(form.deliveryMechanism) }}</div>
                        <div class="form_controls">
                            {{ form_errors(form.deliveryMechanism) }}
                            {{ form_widget(form.deliveryMechanism) }}
                        </div>
                    </div>
            
                    <div class="form_row clearfix">
                        <div class="form_label">{{ form_label(form.deliveryAgent) }}</div>
                        <div class="form_controls">
                            {{ form_errors(form.deliveryAgent) }}
                            {{ form_widget(form.deliveryAgent) }}
                        </div>
                    </div>
            
                    <div class="form_row clearfix">
                        <div class="form_label">{{ form_label(form.status) }}</div>
                        <div class="form_controls">
                            {{ form_errors(form.status) }}
                            {{ form_widget(form.status) }}
                        </div>
                    </div>
            
                    <div class="form_row clearfix">
                        <div class="form_label">{{ form_label(form.duration) }}</div>
                        <div class="form_controls">
                            {{ form_errors(form.duration) }}
                            {{ form_widget(form.duration) }}
                        </div>
                    </div>

                    <div class="form_row clearfix">
                        <div class="form_label">
                            <label>{{ 'info.beneficiaries' | trans({}, 'SimbioticaFront') }}</label>
                        </div>
                        <div class="form_controls">
                            <div id="scaleSlider"></div>
                            <id id="scaleResult"></id>
                        </div>
                    </div>
                    {% if form.owner is defined %}
                        <div class="form_row clearfix">
                            <div class="form_label">{{ form_label(form.owner) }}</div>
                            <div class="form_controls">
                                {{ form_errors(form.owner) }}
                                {{ form_widget(form.owner) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>
{% endif %}
