{% if form is defined %}
	<form action="{{ path('ajax_simbiotica_report_generate') }}" method="get" class="report_form" id="reportForm" {{ form_enctype(form) }}>

		<div class="form_row radios clearfix">
			<div class="form_label">
                {{ form_widget(form.selector.0) }}
                {{ form_label(form.selector.0) }}
                {# <input type="radio" name="selector" id="organisationRadio" value="organisation" checked> {{ form_label(form.organization) }} #}
            </div>
			<div class="form_controls" id="organisationSelect">
				{{ form_errors(form.organization) }}
				{{ form_widget(form.organization) }}
			</div>
		</div>

		<div class="form_row radios clearfix">
			<div class="form_label">
                {{ form_widget( form.selector.1 ) }}
                {{ form_label(form.selector.1) }}
                {# <input type="radio" name="selector" id="donorRadio" value="donor"> {{ form_label(form.donor) }} #}
            </div>
			<div class="form_controls" id="donorSelect">
				{{ form_errors(form.donor) }}
				{{ form_widget(form.donor) }}
			</div>
		</div>

		<div class="form_row clearfix">
			<div class="form_label">{{ form_label(form.country) }}</div>
			<div class="form_controls">
				{{ form_errors(form.country) }}
				{{ form_widget(form.country) }}
			</div>
		</div>

		<div class="dates">
			<div class="form_row clearfix">
				<div class="form_label">{{ form_label(form.after) }}</div>
				<div class="form_controls">
					{{ form_errors(form.after) }}
					{{ form_widget(form.after) }}
				</div>
			</div>

			<div class="form_row clearfix">
				<div class="form_label">{{ form_label(form.before) }}</div>
				<div class="form_controls">
					{{ form_errors(form.before) }}
					{{ form_widget(form.before) }}
				</div>
			</div>
		</div>

		{#<div class="cols clearfix">
			<div class="form_row clearfix">
				<div class="form_label">{{ form_label(form.organization) }}</div>
				<div class="form_controls">
					{{ form_errors(form.organization) }}
					{{ form_widget(form.organization) }}
				</div>
			</div>
			<div class="separator clearfix">
				<p>or / and</p>
			</div>
			<div class="form_row clearfix">
				<div class="form_label">{{ form_label(form.donor) }}</div>
				<div class="form_controls">
					{{ form_errors(form.donor) }}
					{{ form_widget(form.donor) }}
				</div>
			</div>
		</div>#}
		
		<div class="checkboxes">
			<div class="form_row clearfix">
				<div class="form_label">
					{{ form_label(form.fields) }}<br>
				</div>
				<div class="form_controls">
					{{ form_errors(form.fields) }}
					{{ form_widget(form.fields) }}
				</div>
				<div class="form_label">
					<button id="markBtn">{{ 'filters.checkall' | trans({}, 'SimbioticaFront') }}</button>
					<button id="unmarkBtn">{{ 'filters.uncheckall' | trans({}, 'SimbioticaFront') }}</button>
				</div>
			</div>
		</div>

		{{ form_rest(form) }}
		
		<div class="control_btns">
			<button class="btn" id="btnSubmitForm" disabled>{{ 'report.button.generate' | trans({}, 'SimbioticaFront') }}</button>
			<button class="btn" id="btnResetForm" disabled>{{ 'filters.button.reset' | trans({}, 'SimbioticaFront') }}</button>
		</div>
	</form>
{% endif %}
