{% extends "SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig" %}

{% block sonata_admin_orm_one_to_many_widget %}
	<div class="one_to_many {{ form.vars.attr.class }}">
	    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_one_to_many.html.twig' %}
	</div>
{% endblock %}

{% block simbiotica_security_roles_widget %}
    {{ block('sonata_security_roles_widget') }}
{% endblock %}