{% extends "FOSUserBundle::layout.html.twig" %}

{% block intro %}
    {{ 'login.already_loggedin' | trans({}, "SimbioticaFront")| raw }}
{% endblock %}

{% block fos_user_content %}
    <div class="register_form clearfix">
        <a class="btn" href="{{ path('simbiotica_calp_homepage') }}">{{ 'gotohome' | trans({}, "SimbioticaFront") }}</a>
    </div>
{% endblock fos_user_content %}