{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<section class="col span6">
		<h2>{{ 'login.title' | trans({}, "SimbioticaFront") }}</h2>
		<div class="login_form">
			{% if error %}
				<div class="error">{{ error|trans({}, 'FOSUserBundle') }}</div>
			{% endif %}

			<form action="{{ path("fos_user_security_check") }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				<div class="form_row clearfix">
					<label for="username">{{ 'security.login.username'|trans({}, 'SimbioticaFront') }}</label>
					<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
				</div>

				<div class="form_row clearfix">
					<label for="password">{{ 'security.login.password'|trans({}, 'SimbioticaFront') }}</label>
					<input type="password" id="password" name="_password" required="required" />
					<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'SimbioticaFront') }}" class="btn submit" />
				</div>

				<div class="form_row clearfix">
					<label class="remember_me" for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'SimbioticaFront') }}</label>
				</div>
			</form>

			<footer>
				<p>{{ 'login.forgot' | trans({}, "SimbioticaFront") }} <strong><a href="{{ path('fos_user_resetting_request') }}">{{ 'link.reset' | trans({}, "SimbioticaFront") }}</a></strong>?</p>
				<p>{{ 'login.register' | trans({}, "SimbioticaFront") }} <a href="{{ path('fos_user_registration_register') }}" class="btn_register">{{ 'link.register' | trans({}, "SimbioticaFront") }}</a></p>
			</footer>
		</div>
	</section>

	<section class="col span6">
		<div class="public">
			<h2>{{ 'login.public' | trans({}, "SimbioticaFront") }}</h2>
			<p>{{ 'login.public.intro' | trans({}, "SimbioticaFront") }}</p>
			<a href="{{ path('simbiotica_calp_homepage', {"public": "true"}) }}" class="btn">{{ 'link.public' | trans({}, "SimbioticaFront") }}</a>
		</div>
	</section>
{% endblock %}