{% extends 'SimbioticaCalpBundle:Templates:application.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block bodyAttrs %}id="error"{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/normalize-css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/.tmp/styles/application/content.css') }}">
{% endblock %}

{% block navigation %}{% endblock %}

{% block main %}
    <div class="main_content" role="main">
        <section class="wrap_content clearfix">
            <article class="content">
                <div class="row">
                    <div class="col_1"> 
                        <header>
                            <h1>An Error Occurred: {{ status_text }}</h1>
                            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
                            <p> Something is broken. Please e-mail us at <a href="mailto:cash-atlas@cashlearning.org" target="_blank">cash-atlas@cashlearning.org</a> and let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.</p>
                        </header>
                    </div>
                </div>
            </article>
        </section>
    </div>
{% endblock %}
