{% extends 'SimbioticaCalpBundle:Templates:application.html.twig' %}

{% block title %}{{ 'maintenance.title'|trans({}, 'SimbioticaFront') }}{% endblock %}

{% block bodyAttrs %}id="maintenance"{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/normalize-css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/.tmp/styles/application/content.css') }}">
{% endblock %}

{% block navigation %}{% endblock %}

{% block main %}
    <div class="main_content" role="main">
        <section class="wrap_content clearfix">
            <article class="content">
                <div class="row">
                    <div class="col_1"> 
                        <header>
                            <h1>{{ 'maintenance.title'|trans({}, 'SimbioticaFront') }}</h1>
                           
                           <p>{{ 'maintenance.text'|trans({}, 'SimbioticaFront') }} </p>
                        </header>
                    </div>
                </div>
            </article>
        </section>
    </div>
{% endblock %}