{% extends 'SimbioticaCalpBundle:Templates:application.html.twig' %}

{% block title %}{{ 'unsupported.title'|trans({}, 'SimbioticaFront') }}{% endblock %}

{% block bodyAttrs %}id="unsupported"{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/vendor/normalize-css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simbioticacalp/.tmp/styles/application/content.css') }}">
{% endblock %}

{% block navigation %}{% endblock %}

{% block main %}
    <div class="main_content" role="main">
        <section class="wrap_content clearfix">
            <article class="content">
                <div class="row">
                    <div class="col_1"> 
                        <header>
                            <h1>{{ 'unsupported.title'|trans({}, 'SimbioticaFront') }}</h1>
                            <h2>{{ 'unsupported.subtitle'|trans({}, 'SimbioticaFront') }}</h2>                            
                        </header>
                        <p>{{ 'unsupported.text'|trans({}, 'SimbioticaFront') }}</p>
                        <ul>
                            <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer 9+</a></li>
                            <li><a href="http://www.google.com/intl/en_us/chrome/" target="_blank">Google Chrome 25+</a></li>
                            <li><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox 21+</a></li>
                            <li><a href="http://www.opera.com/computer" target="_blank">Opera 12+</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}