{{#if data}}
	<ul class="clearfix">
		<li><a href="#" class="worldBtn">{{{translate 'breadcrumbs.world'}}}</a></li>
		{{#if data.areas}}
			<li class="breadcrumbs_nav_item" id="areasBreadcrumbsList"><a href="#" data-area="{{ data.areas.current.id }}" class="areaBtn">{{ data.areas.current.name }}</a>
				{{#if data.areas.others}}
					<div class="child_menu">
						<div class="scrollable">
							<ul>
								{{#each data.areas.others}}
									{{#if this.cash_transfers }}
										<li><a href="#" data-area="{{ this.id }}" class="areaBtn">{{ this.name }} ({{ this.cash_transfers }})</a></li>
									{{/if}}
								{{/each}}
							</ul>
						</div>
					</div>
				{{/if}}
			</li>
		{{/if}}
		{{#if data.countries}}
			<li id="countriesBreadcrumbsList"><a href="#" data-country="{{ data.countries.current.id }}" class="countryBtn">{{ data.countries.current.name }}</a>
				{{#if data.countries.others}}
					<div class="child_menu">
						<div class="scrollable">
							<ul>
								{{#each data.countries.others}}
									{{#if this.cash_transfers }}
										<li><a href="#" data-country="{{ this.id }}" class="countryBtn">{{ this.name }} ({{ this.cash_transfers }})</a></li>
									{{/if}}
								{{/each}}
							</ul>
						</div>
					</div>
				{{/if}}
			</li>
		{{/if}}
		{{#if data.regions}}
			<li id="regionsBreadcrumbsList"><a href="#" data-country="{{ data.regions.current.id }}" class="regionBtn">{{ data.regions.current.name }}</a>
				{{#if data.regions.others}}
					<div class="child_menu">
						<div class="scrollable">
							<ul>
								{{#each data.regions.others}}
									{{#if this.cash_transfers }}
										<li><a href="#" data-country="{{ this.id }}" class="regionBtn">{{ this.name }} ({{ this.cash_transfers }})</a></li>
									{{/if}}
								{{/each}}
							</ul>
						</div>
					</div>
				{{/if}}
			</li>
		{{/if}}
	</ul>
{{/if}}