<div class="bg_overlay" id="bgOverlay"></div>
<div class="content_overlay">
        <button class="close_btn" id="closeOverlayBtn">Close</button>
        <article>
                <header>
                        <h2>{{{ translate 'project_detail.missing_info' }}}</h2>
                        <p>{{{ translate 'project_detail.missing_info.subtitle' }}}</p>
                </header>

                <div id="contactFormWrapper" class="clearfix">
                </div>
        </article>
</div>