<p>
	<strong>{{{translate 'filter_list.seeing_now'}}}</strong>: {{currentLocation}}{{#if years}}{{else}} {{/if}}<br>
	<strong>{{{translate 'search.year'}}}</strong>: {{#if years}}{{#toSentance years}}{{this}}{{/toSentance}}{{else}}{{{translate 'dashboard.allyears'}}}{{/if}}
</p>
{{#if active}}
	<p>
		{{#if keyword}}<strong>{{{translate 'search.keyword'}}}</strong>: {{keyword}}<br>{{/if}}
		{{#if organization}}<strong>{{{translate 'info.organisations'}}}</strong>: {{#toSentance organization}}{{this}}{{/toSentance}}<br>{{/if}}
		{{#if donor}}<strong>{{{translate 'info.donors'}}}</strong>: {{#toSentance donor}}{{this}}{{/toSentance}}<br>{{/if}}
		{{#if sector}}<strong>{{{translate 'info.sectors'}}}</strong>: {{#toSentance sector}}{{this}}{{/toSentance}}<br>{{/if}}
		{{#if scaleMin}}<strong>{{{translate 'info.beneficiaries'}}}</strong>: {{scaleMin}} - {{scaleMax}}<br>{{/if}}
		{{#if modality}}<strong>{{{translate 'excel.modalities'}}}</strong>: {{#toSentance modality}}{{this}}{{/toSentance}}<br>{{/if}}
		{{#if deliveryMechanism}}<strong>{{{translate 'project_detail.delivery_mechanisms'}}}</strong>: {{#toSentance deliveryMechanism}}{{this}}{{/toSentance}}<br>{{/if}}
		{{#if deliveryAgent}}<strong>{{{translate 'search.delivery_agent'}}}</strong>: {{#toSentance deliveryAgent}}{{this}}{{/toSentance}}<br>{{/if}}
		{{#if status}}<strong>{{{translate 'search.status'}}}</strong>: {{#toSentance status}}{{this}}{{/toSentance}}<br>{{/if}}
		{{#if duration}}<strong>{{{translate 'search.duration'}}}</strong>: {{#toSentance duration}}{{this}}{{/toSentance}}<br>{{/if}}		
		{{#if owner}}<strong>{{{translate 'search.owner'}}}</strong>{{/if}}
	</p>
{{/if}}