{{#if error}}
    <div class="row">
        <div class="col span12">
            <p>{{error}}</p>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col span5">
            <strong class="cell_title"><span class="icon projects"></span> {{{translate 'info.projects'}}}</strong>
            <p class="medium">{{ projects.projectCount }}</p>
        </div>
        <div class="col span7">
            <strong class="cell_title"><span class="icon beneficiaries"></span> {{{translate 'info.beneficiaries'}}}</strong>
            <p class="medium">{{ projects.scale }}</p>
        </div>
    </div>

    {{#if auth}}
        <div class="row first">
            <div class="col span12">
                <strong class="cell_title"><span class="icon amount"></span> {{{translate 'info.amount'}}}</strong>
                <p class="big">{{ projects.allocated_amount }}</p>
            </div>
        </div>
    {{/if}}

    <div class="row">
        <div class="col span12">
            <h2><span class="icon organisations"></span> {{{translate 'info.organisations'}}}</h2>
            {{#if organizations}}
                <div class="clearfix">
                    <p>{{{translate 'info.organisations.ordered_by'}}}:</p>
                    <div id="organizationspie" class="pie_graph"></div>
                    <div class="legend_graph">
                        <ul class="clearfix">
                            {{#each organizations}}
                                <li><span class="icon" style="background-color: {{this.color}};"></span>{{ name }} <strong>{{{dots this.scale }}}</strong></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{else}}
                <p>{{{translate 'unknown'}}}</p>
            {{/if}}
            {{#if helper.organisations}}
                <div class="helper">
                    <p>{{{translate 'helper.dashboard.organisations'}}}</p>
                </div>
            {{/if}}
        </div>
    </div>

    <div class="row">
        <div class="col span12">
            <h2><span class="icon sectors"></span> {{{translate 'info.sectors'}}}</h2>
                        
            {{#if sectors}}
                <div class="clearfix">
                    <p>{{{translate 'info.sectors.ordered_by'}}}:</p>
                    <div id="sectorspie" ></div>
                    <div class="legend_graph">
                        <ul>
                            {{#each sectors}}
                                <li><span class="icon" style="background-color: {{this.color}};"></span>{{this.name}} <strong> {{ this.number }}</strong></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{else}}
                <p>{{{translate 'unknown'}}}</p>
            {{/if}}
            {{#if helper.sectors}}
                <div class="helper">
                    <p>{{{translate 'helper.dashboard.sectors'}}}</p>
                </div>
            {{/if}}
        </div>
    </div>
    <DIV style="page-break-after:always"></DIV>
    <div class="row" >
        <div class="col span12">
            <h2><span class="icon donors"></span> {{{translate 'info.donors'}}}</h2>
            {{#if donors}}
                <div class="clearfix">
                    {{#ifequal sum 0}}
                        <ul class="clearfix">
                            {{#each donors}}
                                {{#if this.id}}<li>{{this.name}}</li>{{/if}}
                            {{/each}}
                        </ul>
                    {{/ifequal}}
                    {{#ifgreater sum 0}}
                        <p id="donorstext">{{{translate 'info.donors.ordered_by'}}}:</p>
                        <div id="donorspie" class="pie_graph"></div>
                        <div class="legend_graph">
                            <ul class="clearfix">
                                {{#each donors}}
                                    <li><span class="icon" style="background-color: {{this.color}};"></span>{{this.name}} <strong>{{../../currency}} {{{dots this.amount}}}</strong></li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/ifgreater}}
                </div>
            {{else}}
                <p>{{{translate 'unknown'}}}</p>
            {{/if}}
            {{#if helper.donors}}
                <div class="helper">
                    <p>{{{translate 'helper.dashboard.donors'}}}</p>
                </div>
            {{/if}}
        </div>
    </div>

    <div class="row">
        <div class="col span12 last">
            <h2><span class="icon modalities"></span> {{{translate 'info.modalities'}}}</h2>
            {{#if modalities}}
                <div class="clearfix">
                    <p>{{{translate 'info.modalities.ordered_by'}}}:</p>
                    <div id="modalitiespie" ></div>
                    <div class="legend_graph">
                        <ul>
                            {{#each modalities}}
                                <li><span class="icon" style="background-color: {{this.color}};"></span>{{this.name}} <strong> {{ this.number }}</strong></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{else}}
                <p>{{{translate 'unknown'}}}</p>
            {{/if}}
            {{#if helper.modalities}}
                <div class="helper">
                    <p>{{{translate 'helper.dashboard.modalities'}}}</p>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}