{{#if projects}}
	<div class="col span12">
		<div class="export_btns clearfix">
			{{!-- <span class="label">{{{translate 'projects_list.save_as'}}}</span> --}}
			<div class="btns clearfix">
				<a href="#" id="exportListToExcel" target="_blank" class="excel"><span class="icon"></span>Excel</a>
				<a href="#" id="exportListToCSV" target="_blank" class="csv"><span class="icon"></span>CSV</a>
			</div>
		</div>
		<h2><span class="icon projects_list_title"></span> {{{translate 'projects_list.title'}}}</h2>
		<ul>
			{{#each projects}}
				<li class="project_item" data-project="{{id}}">
					<h3>{{#if organizations}}{{#each organizations}}{{this.name}}{{/each}}{{/if}}
						<br>
						{{#if countries}}
							<span class="location">{{#toSentance countries}}{{ name }}{{/toSentance}}{{#if regions}} - {{#toSentance regions}}{{ this.name }}{{/toSentance}}{{/if}}</span>
						{{/if}}
					</h3>
					<p>
						{{#if specific_objective}}{{{subString specific_objective 150}}} <a href="#" data-project="{{id}}">{{{translate 'projects_list.learn_more'}}}</a><br>{{/if}}
						{{#if scale}}<strong>{{{translate 'info.beneficiaries'}}}</strong>: {{ scale }} <br>{{/if}}
						{{#if budget_overall}}<strong>{{{translate 'project_detail.overall_budget'}}}</strong>: {{ budget_overall }}<br>{{/if}}
						{{#if starting_date}}<strong>{{{translate 'project_detail.start'}}}</strong>: {{ starting_date }}<br>{{/if}}
						{{#if starting_date}}<strong>{{{translate 'project_detail.end'}}}</strong>: {{ ending_date }} <br>{{/if}}
						{{#if sectors}}<strong>{{{translate 'info.sectors'}}}</strong>: {{#toSentance sectors}}{{ name }}{{/toSentance}}{{/if}}
					</p>
				</li>
			{{/each}}
		</ul>
		<div class="footer_btns">
			<a href="#" id="moreProjectsBtn" class="btn_more">{{{translate 'projects_list.more'}}}</a>
		</div>
	</div>
{{else}}
	<div class="col span12">
		<p>{{{translate 'projects_list.no_projects'}}}</p>
	</div>
{{/if}}