<header class="header_project_detail">
    <button class="btn_toggle" id="btnToggleProject"><span class="icon"></span></button>
    <div class="project_title clearfix">        
        <h1>{{ organization.name }}, {{#if countries}}{{#toSentance countries}}{{ this.name }}{{/toSentance}}, {{/if}}{{ startDate }}</h1>
    </div>
</header>
<div class="scrollable clearfix">
    <div class="project_status status_{{ status }}" title="{{#if status }}{{{translate 'project_detail.status.1'}}}{{else}}{{{translate 'project_detail.status.0'}}}{{/if}}"></div>
    <table class="summary_table">
        <tr>
            <td rowspan="2" class="span6">
                <div class="inner">
                    <table>
                        <tr>
                            <td colspan="2" class="logo_cell">
                                {{#if organization.logo}}
                                    <img src="{{ organization.logo }}" class="logo_project">
                                {{else}}
                                    <img src="/bundles/simbioticacalp/dist/images/assets/organisation-logo-default.png" class="logo_project">
                                    <strong>{{ organization.name }}</strong>
                                {{/if}}
                            </td>
                        </tr>
                        {{#if affiliates}}
                        <tr>
                            <td><strong>{{{translate 'project_detail.affiliate'}}}</strong></td><td>{{ affiliates }}</td>
                        </tr>
                        {{/if}}
                        <tr>
                            <td><strong>{{{translate 'project_detail.partners'}}}</strong></td><td>{{ partners }}</td>
                        </tr>
                    </table>
                </div>
            </td>
            <td colspan="3" class="span6">
                <strong class="cell_title"><span class="icon overall_amount"></span> {{{translate 'project_detail.overall_budget'}}}</strong> <span class="big">{{ overallAmount }}</span>
                <table>
                    <tr>
                        <td class="span7">
                            <strong>{{{translate 'project_detail.cash_transfers'}}}</strong><br> <span class="medium">{{ allocatedAmount }}</span>
                        </td>
                        <td class="span5">
                            <strong><span class="icon scale"></span> {{{translate 'project_detail.scale'}}}</strong><br> <span class="medium">{{ beneficiaries }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="span2">
                <strong>{{{translate 'project_detail.start'}}}</strong> {{ startDate }}<br>
                <strong>{{{translate 'project_detail.end'}}}</strong> {{ endDate }}
            </td>
            <td class="span4">
                <strong>{{{translate 'project_detail.first_transfer'}}}</strong> {{ firstCashDate }}
                {{#if duration}}<br><strong>{{{translate 'search.duration'}}}</strong><br> {{ duration }} {{{translate 'project_detail.months'}}}{{/if}}
            </td>
        </tr>
    </table>
    {{#if countries}}
        <table class="locations_table">
            {{#if regions}}
                <tr>
                    <th colspan="2">{{{translate 'project_detail.countries'}}}</th>
                    <th colspan="4">{{{translate 'project_detail.regions'}}}</th>
                </tr>
                <tr>
                    {{#ifgreater regions.length 8}}<td colspan="2" rowspan="3">{{/ifgreater}}
                    {{#ifgreater 8 regions.length}}<td colspan="2" rowspan="2">{{/ifgreater}}
                    {{#ifequal regions.length 8}}<td colspan="2" rowspan="2">{{/ifequal}}
                        {{#each countries}}
                            <img src="/bundles/simbioticacalp/dist/images/assets/countries/{{this.cartodb_id}}.png" height="100" width="100" class="country_img">
                            <span class="country_label">{{ this.name }}</span>
                        {{/each}}
                    </td>
                    {{#if regions}}
                        {{#slice regions 0 3}}
                            {{#if this}}
                                <td class="span2">
                                    <img src="/bundles/simbioticacalp/dist/images/assets/regions/{{this.cartodb_id}}.png" height="60" width="60" class="region_img">
                                    <span class="region_label">{{ this.name }}{{#if this.beneficiaries}} <br>({{ this.beneficiaries }}){{/if}}</span>
                                </td>
                            {{else}}
                                <td class="span2">&nbsp;</td>
                            {{/if}}
                        {{/slice}}
                    {{/if}}
                </tr>
                <tr>
                    {{#slice regions 4 7}}
                        {{#if this}}
                            <td class="span2">
                                <img src="/bundles/simbioticacalp/dist/images/assets/regions/{{this.cartodb_id}}.png" height="60" width="60" class="region_img">
                                <span class="region_label">{{ this.name }} <br>({{ this.beneficiaries }})</span>
                            </td>
                        {{else}}
                            <td class="span2">&nbsp;</td>
                        {{/if}}
                    {{/slice}}
                </tr>
                {{#ifgreater regions.length 8}}
                    <tr>
                        {{#slice regions 8 11}}
                            {{#if this}}
                                <td class="span2">
                                    <img src="/bundles/simbioticacalp/dist/images/assets/regions/{{this.cartodb_id}}.png" height="60" width="60" class="region_img">
                                    <span class="region_label">{{ this.name }} <br>({{ this.beneficiaries }})</span>
                                </td>
                            {{else}}
                                <td class="span2">&nbsp;</td>
                            {{/if}}
                        {{/slice}}
                    </tr>
                {{/ifgreater}}
            {{else}}
                <tr>
                    {{#ifgreater countries.length 4}}
                        <th colspan="3" rowspan="2">{{{translate 'project_detail.countries'}}}</th>
                    {{/ifgreater}}
                    {{#ifgreater 4 countries.length}}
                        <th colspan="3">{{{translate 'project_detail.countries'}}}</th>
                    {{/ifgreater}}
                </tr>
                <tr>
                    {{#slice countries 0 2}}
                        {{#if this}}                        
                            <td class="span4">
                                <img src="/bundles/simbioticacalp/dist/images/assets/countries/{{this.cartodb_id}}.png" height="100" width="100" class="country_img">
                                <span class="country_label">{{ this.name }}</span>
                            </td>
                        {{/if}}
                    {{/slice}}
                </tr>
                {{#ifgreater countries.length 3}}
                    <tr>
                        {{#slice countries 3 5}}
                            {{#if this}}
                                <td class="span4">
                                    <img src="/bundles/simbioticacalp/dist/images/assets/countries/{{this.cartodb_id}}.png" height="100" width="100" class="country_img">
                                    <span class="country_label">{{ this.name }}</span>
                                </td>
                            {{/if}}
                        {{/slice}}
                    <tr>
                {{/ifgreater}}
            {{/if}}
            {{#if cities}}
            <tr>
                <td colspan="6" class="cities-cell"><strong>{{{translate 'excel.cities'}}}</strong>: {{ cities }}</td>
            </tr>
            {{/if}}
        </table>
    {{/if}}
    
    {{#if specificObjective}}
        <div class="module specific_objectives">
            <h2><span class="icon specific_objectives"></span> {{{translate 'project_detail.specific_objectives'}}}</h2>
            <p>{{ specificObjective }}</p>            
        </div>
    {{/if}}
    
    {{#if description}}
        <div class="module project_description">
            <p><strong>{{{translate 'project_detail.project_description'}}}</strong>: {{ description }}</p>
        </div>
    {{/if}}

    <div class="module technical_information">
        <div class="inner">
            <h2><span class="icon technical_information"></span> {{{translate 'project_detail.technical_info'}}}</h2>
        </div>
        <table class="tech_table">
            {{#ifgreater modalities.length 0}}
                <tr>
                    <td colspan="2" class="modality">
                        {{#each modalities}}
                            <table class="modalities_table">
                                <tr>
                                    <th>{{{translate 'project_detail.modalities'}}}</th>
                                    <th></th>
                                    <th>{{{translate 'project_detail.delivery_mechanisms'}}}</th>
                                    <th></th>
                                    <th>{{{translate 'project_detail.delivery_agents'}}}</th>
                                </tr>
                                <tr>
                                    <td width="30%">{{#if this.modality}}{{ this.modality }}{{/if}}
                                        {{#if this.modalitySpecify}}
                                            <div class="specify" title="{{ this.modalitySpecify }}"></div>
                                        {{/if}}
                                    </td>
                                    <td width="5%">{{#if this.deliveryMechanism}}<img src="/bundles/simbioticacalp/dist/images/assets/arrow-separator-small.png">{{/if}}</td>
                                    <td width="30%">{{#if this.deliveryMechanism}}{{ this.deliveryMechanism }}{{/if}}</td>
                                    <td width="5%">{{#if this.deliveryAgent}}<img src="/bundles/simbioticacalp/dist/images/assets/arrow-separator-small.png">{{/if}}</td>
                                    <td width="30%">{{#if this.deliveryAgent}}{{ this.deliveryAgent }}{{/if}}
                                        {{#if this.deliveryAgentSpecify}}
                                            <div class="specify" title="{{ this.deliveryAgentSpecify }}"></div>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{{translate 'project_detail.modality_scale'}}}</th>
                                    <th></th>
                                    <th>{{{translate 'project_detail.modality_transfers'}}}</th>
                                    <th></th>
                                    <th>{{{translate 'project_detail.modality_amount'}}}</th>
                                </tr>
                                <tr>
                                    <td colspan="2">{{#if this.scale}}{{ this.scale }}{{else}}undefined{{/if}}</td>
                                    <td colspan="2">{{#if this.transfers }}{{ this.transfers }}{{else}}undefined{{/if}}</td>
                                    <td>{{#if this.amount }}{{ this.amount }}{{else}}undefined{{/if}}</td>
                                </tr>
                            </table>
                        {{/each}}
                    </td>
                </tr>
            {{/ifgreater}}
        
            {{#if sectors }}
                <tr>
                    <td class="span4"><strong>{{{translate 'info.sectors'}}}</strong></td>
                    <td>{{#toSentance sectors}}{{this.name}}{{/toSentance}}</td>
                </tr>
            {{/if}}

            {{#if projectContext }}
                <tr>
                    <td><strong>{{{translate 'project_detail.context'}}}</strong></td>
                    <td>{{#toSentance projectContext}}{{ this }}{{/toSentance}}</td>
                </tr>
            {{/if}}

            <tr>
                <td><strong>{{{translate 'project_detail.type_of_intervention'}}}</strong></td>
                <td>{{ typeOfIntervention }}</td>
            </tr>

            {{#if donors }}
                <tr>
                    <td><strong>{{{translate 'info.donors'}}}</strong></td>
                    <td>{{#toSentance donors}}{{this.name}}{{#if this.amount}} ({{this.amount}}){{/if}}{{/toSentance}}</td>
                </tr>
            {{/if}}
            <tr>
                <td><strong>{{{translate 'project_detail.marker_assessment_tool'}}}</strong></td>
                <td>{{marketAssessment}}</td>
            </tr>
            <tr>
                <td><strong>{{{translate 'project_detail.coordination_mechanism'}}}</strong></td>
                <td>{{coordinationMechanism}}</td>
            </tr>
            
            <tr>
                <td><strong>{{{translate 'project_detail.documents'}}}</strong></td>
                <td>
                    {{#if documents}}
                        {{#toSentance documents}}<a href="{{this.route}}" target="_blank">{{this.name}}</a>{{/toSentance}}
                    {{else}}
                        {{{translate 'project_detail.nodocuments'}}}
                    {{/if}}
                </td>
            </tr>
        </table>
    </div>

    <div class="module project_contact">
        <h2><span class="icon project_contact"></span> {{{translate 'project_detail.project_contact'}}}</h2>
        <table class="detail_table">
            <tr>
                <td class="span4">
                    <strong class="cell_title"><span class="icon person"></span> {{{translate 'project_detail.contact_person'}}}</strong>
                    <p>
                        {{#if contactPerson.name}}
                            {{ contactPerson.name }}<br> {{ contactPerson.position }}
                        {{else}}
                            unknown
                        {{/if}}
                    </p>
                </td>
                <td class="span4">
                    <strong class="cell_title"><span class="icon email"></span> {{{translate 'project_detail.email'}}}</strong>
                    <p>
                        {{#if contactPerson.email}}
                            <a href="mailto:{{ contact_person.email }}" target="_blank">{{ contactPerson.email }}</a>
                        {{else}}
                            unknown
                        {{/if}}
                        {{#if contactPerson.email}}
                            <br><a href="mailto:{{ contact_person.alternative_email }}" target="_blank">{{ contactPerson.alternative_email }}</a>
                        {{/if}}
                    </p>
                </td>
                <td class="span4">
                    <strong class="cell_title"><span class="icon website"></span> {{{translate 'project_detail.website'}}}</strong>
                    <p>
                        {{#if website}}
                            <a href="{{{addhttp website}}}" target="_blank">{{{subString website 28}}}</a>
                        {{else}}
                            unknown
                        {{/if}}
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="module project_buttons clearfix">
        {{#if owner}}
            <a href="{{{route 'admin_simbiotica_calp_project_edit' id}}}" target="_blank" class="edit"><span class="icon"></span>{{{translate 'project_detail.edit_project'}}}</a>
        {{else}}
            <a href="#" class="missing" data-project="{{ id }}"><span class="icon"></span>{{{translate 'project_detail.missing_info'}}}</a>
        {{/if}}
        <a href="{{{route 'simbiotica_calp_export_pdf' id}}}" target="_blank" class="pdf"><span class="icon"></span>{{{translate 'project_detail.save_pdf'}}}</a>
    </div>
</div>