{{#if error}}
	<div class="row">
		<div class="col_1">
			<div class="messages warning">
				<p class="error">{{error}}</p>
			</div>			
		</div>
	</div>
{{else}}

	{{#if totals}}
		<div class="row">
			<div class="col_1">
				<header class="graphic_header">
					<h1>Report</h1>
					<p>{{{translate 'report.result.title' number=totals.number scale=totals.scale amount=totals.amount}}}</p>
					
					<div class="filters">
						<h2>Filter by:</h2>
						<p>
							<strong>Organisations</strong>: {{#if reportTitle.organizations}}{{#toSentance reportTitle.organizations}}{{this}}{{/toSentance}}{{else}}All{{/if}}<br>
							<strong>Donors</strong>: {{#if reportTitle.donors}}{{#toSentance reportTitle.donors}}{{this}}{{/toSentance}}{{else}}All{{/if}}<br>
							<strong>Countries</strong>: {{#if reportTitle.countries}}{{#toSentance reportTitle.countries}}{{this}}{{/toSentance}}{{else}}All{{/if}}<br>
							<strong>From</strong>: {{#if reportTitle.fromYear}}{{reportTitle.fromYear}}{{else}}All years{{/if}} - {{#if reportTitle.fromMonth}}{{reportTitle.fromMonth}}{{else}}All months{{/if}}<br>
							<strong>To</strong>: {{#if reportTitle.toYear}}{{reportTitle.toYear}}{{else}}All years{{/if}} - {{#if reportTitle.toMonth}}{{reportTitle.toMonth}}{{else}}All months{{/if}}
						</p>
					</div>
				</header>
			</div>
		</div>
	{{/if}}

	{{#if donors}}
		<section class="graphic_row row">
			<div class="col_1">
				<header>
					<h2>{{{translate 'project_detail.donors'}}}</h2>
					{{{translate 'report.donors.intro'}}}
				</header>
			</div>
			<div class="col_3">
				<h3>{{{translate 'report.label_number'}}}</h3>
				<div class="graph" id="donorNumber"></div>
			</div>
			<div class="col_3">
				<h3>{{{translate 'report.label_budget'}}}</h3>
				<div class="graph" id="donorBudget"></div>
			</div>
			
			<div class="col_3">
				<h3>{{{translate 'report.label_scale'}}}</h3>
				<div class="graph" id="donorScale"></div>
			</div>
			<div class="col_1">
				<div class="legend">
					<ul>
						{{#each donors}}
							<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }} </br><strong> {{this.number}} {{{translate 'info.projects'}}} | {{{dots this.amount}}} €</strong></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</section>
	{{/if}}

	{{#if organizations}}
		<section class="graphic_row row">
			<div class="col_1">
				<header>
					<h2>{{{translate 'report.organization'}}}</h2>
					{{{translate 'report.organisations.intro'}}}
				</header>
			</div>
			<div class="col_3">
				<h3>{{{translate 'report.label_number'}}}</h3>
				<div class="graph" id="organizationNumber"></div>
			</div>
			<div class="col_3">
				<h3>{{{translate 'report.label_budget'}}}</h3>
				<div class="graph" id="organizationBudget"></div>
			</div>
			
			<div class="col_3">
				<h3>{{{translate 'report.label_scale'}}}</h3>
				<div class="graph" id="organizationScale"></div>
			</div>
			<div class="col_1">
				<div class="legend">
					<ul>
						{{#each organizations}}
							<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</br><strong> {{this.number}} {{{translate 'info.projects'}}} | {{{dots this.scale}}} {{{translate 'info.beneficiaries'}}} | {{{dots this.amount}}} €</strong></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</section>
	{{/if}}
	
	{{#if sectors}}
		<section class="graphic_row row">
			<div class="col_1">
				<header>
					<h2>{{{translate 'project_detail.sectors'}}}</h2>
					{{{translate 'report.sectors.intro'}}}
				</header>
			</div>

			<div class="col_3">
				<div class="graph" id="sectorNumber"></div>
			</div>
			<div class="col_3">
				<div class="legend">
					<ul>
						{{#slice sectors 0 4}}
							{{#if this}}<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</li>{{/if}}
						{{/slice}}
					</ul>
				</div>
			</div>
			<div class="col_3">
				<div class="legend">
					<ul>
						{{#slice sectors 5 9}}
							{{#if this}}<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</li>{{/if}}
						{{/slice}}
					</ul>
				</div>
			</div>
		</section>
	{{/if}}
	
	{{#if modalities}}
		<section class="graphic_row row">
			<div class="col_1">
				<header>
					<h2>{{{translate 'project_detail.modalities'}}}</h2>
					{{{translate 'report.modalities.intro'}}}
				</header>
			</div>
			<div class="col_3">
				<div class="graph" id="modalityNumber"></div>
			</div>
			<div class="col_3">
				<div class="legend">
					<ul>
						{{#slice modalities 0 4}}
							{{#if this}}<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</li>{{/if}}
						{{/slice}}
					</ul>
				</div>
			</div>
			<div class="col_3">
				<div class="legend">
					<ul>
						{{#slice modalities 5 9}}
							{{#if this}}<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</li>{{/if}}
						{{/slice}}
					</ul>
				</div>
			</div>
		</section>
	{{/if}}
	
	{{#if delivery_mechanisms}}
		<div class="graphic_row row">
			<div class="col_1">
				<header>
					<h2>{{{translate 'project_detail.delivery_mechanisms'}}}</h2>
					{{{translate 'report.delivery_mechanisms.intro'}}}
				</header>
			</div>
			<div class="col_3">
				<div class="graph" id="deliveryMechanismNumber"></div>
			</div>
			<div class="col_3">
				<div class="legend">
					<ul>
						{{#slice delivery_mechanisms 0 4}}
							{{#if this}}<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</li>{{/if}}
						{{/slice}}
					</ul>
				</div>
			</div>
			<div class="col_3">
				<div class="legend">
					<ul>
						{{#slice delivery_mechanisms 5 9}}
							{{#if this}}<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</li>{{/if}}
						{{/slice}}
					</ul>
				</div>
			</div>
		</div>
	{{/if}}
	
	{{#if delivery_agents}}
		<section class="graphic_row row">
			<div class="col_1">
				<header>
					<h2>{{{translate 'project_detail.delivery_agents'}}}</h2>
					{{{translate 'report.delivery_agents.intro'}}}
				</header>
			</div>
			<div class="col_3">
				<div class="graph" id="deliveryAgentNumber"></div>
			</div>
			<div class="col_3">
				<div class="legend">
					<ul>
						{{#slice delivery_agents 0 4}}
							{{#if this}}<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</li>{{/if}}
						{{/slice}}
					</ul>
				</div>
			</div>
			<div class="col_3">
				<div class="legend">
					<ul>
						{{#slice delivery_agents 4 9}}
							{{#if this}}<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</li>{{/if}}
						{{/slice}}
					</ul>
				</div>
			</div>
		</section>
	{{/if}}
	
	{{#if contexts}}
		<section class="graphic_row row">
			<div class="col_1">
				<header>
					<h2>{{{translate 'project_detail.contexts'}}}</h2>
					{{{translate 'report.contexts.intro'}}}
				</header>
			</div>
			<div class="col_3">
				<div class="graph" id="contextNumber"></div>
			</div>
			<div class="col_3">
				<div class="legend">
					<ul>
						{{#slice contexts 0 4}}
							{{#if this}}<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</li>{{/if}}
						{{/slice}}
					</ul>
				</div>
			</div>
			<div class="col_3">
				<div class="legend">
					<ul>
						{{#slice contexts 5 9}}
							{{#if this}}<li><span class="icon" style="background-color: {{this.color}}"></span>{{ this.name }}</li>{{/if}}
						{{/slice}}
					</ul>
				</div>
			</div>
		</section>
	{{/if}}
	
	{{#if timeline}}
		<section class="graphic_row row">
			<div class="col_1">
				<header>
					<h2>{{{translate 'project_detail.timeline'}}}</h2>
					{{{translate 'report.timeline.intro'}}}
				</header>
			</div>
			<div class="col_1">
				<div class="graph" id="timelineNumber"></div>
			</div>
		</section>
	{{/if}}
	
	<footer class="row footer_report">
		<div class="col_1">
			<p><button class="btn" id="printBtn">{{{translate 'report.button.print'}}}</button></p>
			<p>{{{translate 'report.print.text'}}}</p>
		</div>
	</footer>
{{/if}}
